{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags %}

{% block title %}Transaction History{% endblock %}
{% block body_class %}app{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
      <section class="blue feature-box"><div class="inner">
        <h1>Transaction History <span>You credits history.</span></h1>
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      <div class="row">
        <div class="twelve columns">
        
          <a href="{% url edit_profile %}#credits" class="back">Back to Profile</a>
          <h2 class="clear">Transaction History</h2>
          
          <table class="stretch">
            <tr>
              <th>Date</th>
              <th>Type</th>
              <th>Credits</th>
            </tr>
            {% for movement in profile.movements.all %}
            <tr>
              <td>{{movement.created}}</td>
              <td>{{movement.get_type_display}}</td>
              <td>{{movement.credits}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
{% endblock %}
