{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags %}

{% block title %}Credits history{% endblock %}
{% block body_class %}app{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
      <section class="blue feature-box"><div class="inner">
        <h1>{% if person == user %}Your{% else %}{{person.get_full_name}}'s{% endif %} Credits History</h1>
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      <div class="row">
        <div class="twelve columns">
        
          {% if user_profile.type == user_profile.TYPES.PARENT %}
          <a href="{% url edit_parent_profile %}#children" class="back">Back to Profile</a>
          {% endif %}

          {% if user_profile.type == user_profile.TYPES.STUDENT or user_profile.type == user_profile.TYPES.UNDER16 %}
          <a href="{% url edit_student_profile %}#credits" class="back">Back to Profile</a>
          {% endif %}

          {% if user_profile.type == user_profile.TYPES.TUTOR %}
          <a href="{% url edit_tutor_profile %}#credits" class="back">Back to Profile</a>
          {% endif %}

          <h2 class="clear">Credits History</h2>
          
          <table class="stretch">
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Type</th>
              <th>Credits</th>
			  {% if user_profile.type == user_profile.TYPES.TUTOR %}<th>Commission</th>{% endif %}
              <th>Value</th>
              <th>Class</th>
              <th>{% if user_profile.type == user_profile.TYPES.TUTOR %}Student{% else %}Tutor{% endif %}</th>
              <th>Class scheduled for</th>
              <th>Class duration</th>
            </tr>
            {% for movement in person.movements.all %}
            {% with movement.related_class as class %}
            {% with movement.created|convert_datetime:user_profile.timezone as movement_date %}
            {% with class.date|convert_datetime:user_profile.timezone as class_date %}
            <tr>
              <td>{{movement_date|date:"D, d M Y"}}</td>
              <td>{{movement_date|time:"H:i"}}</td>
              <td>{{movement.get_type_display}}</td>
              <td>{{movement.credits}} credit{{movement.credits|pluralize}}</td>
              {% if user_profile.type == user_profile.TYPES.TUTOR %}<td>{% if class and movement.type == movement.MOVEMENTS_TYPES.INCOME %}{{class.universal_fee}} credit{{class.universal_fee|pluralize}}{% endif %}</td>{% endif %}
              <td>{% if movement.value %}{{movement.value}}{% endif %}</td>
              <td>{% if class %}{{class}}{% endif %}</td>
              <td>{% if class %}{% if user_profile.type == user_profile.TYPES.TUTOR %}{{class.student.get_full_name}}{% else %}{{class.tutor.get_full_name}}{% endif %}{% endif %}</td>
              <td>{% if class %}{{class_date|date:"D, d M Y \a\t H:i"}}{% endif %}</td>
              <td>{% if class %}{{class.duration}} minutes{% endif %}</td>
            </tr>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endfor %}
          </table>
        </div>
      </div>
{% endblock %}
