{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags ut_tags %}

{% block title %}Home{% endblock %}
{% block body_class %}marketing students{% endblock %}

{% block content %}
	{% get_video student %}

<style>
#aboutus_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    -moz-box-shadow: 0 1px 1px #dddddd;
    -webkit-box-shadow: 0 1px 1px #dddddd;
    /*box-shadow: 0 1px 1px #dddddd;*/
    margin-bottom: 20px;
  }

.eight h1{
  text-align: right;
}  
</style>  
      <section class="blue feature-box"><div class="inner">
        
        <h1>About us</h1>
        
        <div class="feature-black">
          <div class="feature-text">
            <h2>Driven by Wisdom — Powered by Community</h2>
          </div>
        </div>
      
      </div></section>
      
      <section>
        <div class="row">
          <div class="eight columns">
            <h3>The Company</h3>
            <p class="lead">At its heart, the name Wizoku stems from our desire to create something new. The name itself is a hybrid word that combines "wisdom" and "zoku," which is a Japanese suffix for a group or community with shared interests. What we've done at Wizoku is create an active community of people who share the same understanding of education's importance. Join us today!</p>
          </div>
        
          <div class="four columns">
            <div class="icon-1-new full-width"></div>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <img src="{{STATIC_URL}}images/new_marketing/aboutus-1.png" alt="Wisdom" id="aboutus_img">
            <h4>Wisdom</h4>
            <p>Wisdom indicates both knowledge and the maturity of knowing how to use it, a trait that we believe is essential to being a successful, complete human being. Our excellent tutors are dedicated to sharing their knowledge and helping students of all levels succeed.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/new_marketing/aboutus-2.png" alt="Community" id="aboutus_img">
            <h4>Community</h4>
            <p>We believe that Wizoku’s main value lies in the strength of the shared learning environment that exists on our site. At Wizoku, we strive to bring the focus of tutoring on community and personal relationships.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/new_marketing/aboutus-3.png" alt="The Elephant" id="aboutus_img">
            <h4>The Elephant</h4>
            <p>Elephants, traditionally considered representative of wisdom, are also known to be one of the most social animals. The elephant in our logo represents Wizoku's mission: creating a community that allows individuals to share knowledge and experience through an education-based site.</p>
          </div>
        </div>
      </section>
      
      
      
      <section class="blue"><div class="inner">
        <div class="row clear">
          <div class="eight columns">
            <h1>The A-Team</h1>
          </div>
          
          <div class="four columns">
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/nick.jpg" alt="Check Out the Class">
            <h4>Nick Crosthwaite, Co-Founder</h4>
            <p>Nick is a London native currently living in New York and working toward an MBA from Columbia Business School. In his previous life, he was a Strategy Consultant, before leaving to pursue his passion for education by founding wizoku. When not working on wizoku he loves to travel, listen to the Stones, and watch Chelsea FC.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/eran.jpg" alt="Video / Audio Chat">
            <h4>Eran Mizrahi, Co-Founder</h4>
            <p>Eran is a born and bred South African who is currently obtaining his MBA from Columbia. In South Africa Eran worked at Deloitte in the Financial Services division where he also obtained all levels of CFA. Interesting fact: Eran took 6 months off university to go to culinary school.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/sid.jpg" alt="Instant Messenger">
            <h4>Sid Doddipalli, Developer</h4>
            <p>Sid graduated from Indian Institute of Technology and is now pursuing his maters degree in Operations Research at Columbia. He has worked in ecommerce big data space writing search engine optimization algorithms. At Wizoku he is one of our fearless developers, working tirelessly to produce the best possible site.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/alon.png" alt="File Sharing" align="middle">
            <h4>Alon Slotky, Developer</h4>
            <p>Alon has been working in various fields of software R&D for the last ten years. Aside from programming he is studying film. Loves running and traveling.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/josef.jpg" alt="Whiteboard" align="middle">
            <h4>Joseph Lee, Community Manager</h4>
            <p>Joseph is an undergrad at Columbia majoring in English Literature. He has previous experience with online publications and is interested in education reform. When he's not obsessively checking the wizoku twitter account, he likes to ride bikes and read books.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/elizabeth.png" alt="Wolfram Alpha">
            <h4>Elizabeth Tulsky, Blogger</h4>
            <p>Elizabeth grew up in Berkeley, California before moving to NYC to study social work at NYU. She is now at Columbia working for a master's degree and more passionate than ever about helping children and promoting educational opportunities!</p>
          </div>
        </div>
      </div></section>
      
      
      
      {% if video %}
  		{% include "core/fragments/_modal_video.html" %}
	{% endif %}
{% endblock %}
