{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags ut_tags %}

{% block title %}Home{% endblock %}
{% block body_class %}marketing students{% endblock %}

{% block content %}
	{% get_video student %}

<style>
#aboutus_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    -moz-box-shadow: 0 1px 1px #dddddd;
    -webkit-box-shadow: 0 1px 1px #dddddd;
    /*box-shadow: 0 1px 1px #dddddd;*/
    margin-bottom: 20px;
  }

.eight h1{
  text-align: right;
}  
</style>  
      <section class="blue feature-box"><div class="inner">
        
        <h1>About us</h1>
        
        <div class="feature-black">
          <div class="feature-text">
            <h2>Driven by Wisdom — Powered by Community</h2>
          </div>
        </div>
      
      </div></section>
      
      <section>
        <div class="row">
          <div class="eight columns">
            <h3>The Company</h3>
            <p class="lead">At its heart, the name Wizoku stems from our desire to create something new. The name itself is a hybrid word that combines "wisdom" and "zoku," which is a Japanese suffix for a group or community with shared interests. What we've done at Wizoku is create an active community of people who share the same understanding of education's importance. Join us today! (<--call to action!)</p>
          </div>
        
          <div class="four columns">
            <div class="icon-1-new full-width"></div>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <img src="{{STATIC_URL}}images/new_marketing/aboutus-1.png" alt="Search" id="aboutus_img">
            <h4>Wisdom</h4>
            <p>Wisdom indicates both knowledge and the maturity of knowing how to use it, a trait that we believe is essential to being a successful, complete human being. Our excellent tutors are dedicated to sharing their knowledge and helping students of all levels succeed.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/new_marketing/aboutus-2.png" alt="Choose a Tutor" id="aboutus_img">
            <h4>Community</h4>
            <p>We believe that Wizoku’s main value lies in the strength of the shared learning environment that exists on our site. At Wizoku, we strive to bring the focus of tutoring on community and personal relationships.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/new_marketing/aboutus-3.png" alt="Schedule a Class" id="aboutus_img">
            <h4>The Elephant</h4>
            <p>Elephants, traditionally considered representative of wisdom, are also known to be one of the most social animals. The elephant in our logo represents Wizoku's mission: creating a community that allows individuals to share knowledge and experience through an education-based site.</p>
          </div>
        </div>
      </section>
      
      
      
      <section class="blue"><div class="inner">
        <div class="row clear">
          <div class="eight columns">
            <h1>The A-Team</h1>
          </div>
          
          <div class="four columns">
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/nick.jpg" alt="Check Out the Class">
            <h4>Check Out the Class</h4>
            <p>We give you 5 minutes at the start of a class to check that the tutor is right for you and that you are getting exactly what you want. If for any reason you are not happy you can cancel the class at this stage at no cost.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/eran.jpg" alt="Video / Audio Chat">
            <h4>Video / Audio Chat</h4>
            <p>For each class you will have the option of using either Video or simply Audio to communicate. All you require is a functioning microphone for the latter and a webcam in addition for the former.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/sid.png" alt="Instant Messenger">
            <h4>Instant Messenger</h4>
            <p>This provides a further means of communication, for situations where you would prefer to communicate through typed messages.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/file-sharing.png" alt="File Sharing" align="middle">
            <h4>File Sharing</h4>
            <p>Tutors and students are able to upload any file* or URL snapshot to the classroom and open them in the whiteboard. This enables tutors to use material such as exam papers or syllabuses to help facilitate an effective class.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/team/josef.jpg" alt="Whiteboard" align="middle">
            <h4>The Whiteboard</h4>
            <p>This is the area where the class really takes place. Tutors and students can interact using shapes, text, drawing, mathematical equations and even an educational search engine (Wolfram Alpha).</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/wolfram-alpha.jpg" alt="Wolfram Alpha">
            <h4>Wolfram Alpha</h4>
            <p>This new feature brings this leading educational search (answer) engine right into the classroom. This resource is another example of why Universal Tutors is the only choice for private tuition.</p>
          </div>
        </div>
      </div></section>
      
      
      
      {% if video %}
  		{% include "core/fragments/_modal_video.html" %}
	{% endif %}
{% endblock %}
