{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags ut_tags %}

{% block title %}Home{% endblock %}
{% block body_class %}marketing students{% endblock %}

{% block content %}
	{% get_video student %}
      <section class="blue feature-box"><div class="inner">
        
        <h1>How it works <span>Students</span></h1>
        
        <div class="feature-black">
          <div class="feature-text">
            <h3>Universal Tutors is revolutionising the way we learn, helping to give everyone the education they deserve.</h3>
          </div>
        </div>
      
      </div></section>
      
      <section>
        <div class="row">
          <div class="eight columns">
            <h3>Organising a Class</h3>
            <p class="lead">First up, you need to sign up to Universal Tutors. Creating a student account takes approximately 2 minutes. All that is required are your basic details such as name, age, gender and a profile picture. Credit can be uploaded to your account either at this stage or just prior to a class occurring.</p>
          </div>
        
          <div class="four columns">
            <div class="icon-1 full-width"></div>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/student-1.png" alt="Search">
            <h4>Search</h4>
            <p>Find your perfect tutor by using our advanced search functionality to filter by subject, level, price, availability.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/student-2.png" alt="Choose a Tutor">
            <h4>Choose a Tutor</h4>
            <p>Browse the search results, checking out each tutor’s specialty, rating, and reviews. Delve even deeper into their profile to see their academic and professional background and watch their video introduction before deciding that they’re the perfect fit.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/student-3.png" alt="Schedule a Class">
            <h4>Schedule a Class</h4>
            <p>Schedule a class either by sending a message to start a conversation with your tutor of choice, or simply request a class at a certain time. Once the tutor accepts your request, the class will automatically drop into your schedule.</p>
          </div>
        </div>
      </section>
      
      <a class="squeezemein button" href="#" data-reveal-id="modal-video" onclick="open_general_video();"><span>Get a Tour of the Classroom</span></a>
      
      <section class="blue"><div class="inner">
        <div class="row clear">
          <div class="eight columns">
            <h3>Taking a Class</h3>
            <p class="lead">You will be reminded by email that you’re class is due to start as well as seeing a countdown to your class in you’re dashboard. You can then click on the link in this banner to enter into your private classroom.</p>
          </div>
          
          <div class="four columns">
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/classroom.png" alt="Check Out the Class">
            <h4>Check Out the Class</h4>
            <p>We give you 5 minutes at the start of a class to check that the tutor is right for you and that you are getting exactly what you want. If for any reason you are not happy you can cancel the class at this stage at no cost.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/video-chat.png" alt="Video / Audio Chat">
            <h4>Video / Audio Chat</h4>
            <p>For each class you will have the option of using either Video or simply Audio to communicate. All you require is a functioning microphone for the latter and a webcam in addition for the former.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/instant-messenger.png" alt="Instant Messenger">
            <h4>Instant Messenger</h4>
            <p>This provides a further means of communication, for situations where you would prefer to communicate through typed messages.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/file-sharing.png" alt="File Sharing" align="middle">
            <h4>File Sharing</h4>
            <p>Tutors and students are able to upload any file* or URL snapshot to the classroom and open them in the whiteboard. This enables tutors to use material such as exam papers or syllabuses to help facilitate an effective class.</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/whiteboard.png" alt="Whiteboard" align="middle">
            <h4>The Whiteboard</h4>
            <p>This is the area where the class really takes place. Tutors and students can interact using shapes, text, drawing, mathematical equations and even an educational search engine (Wolfram Alpha).</p>
          </div>
          
          <div class="four columns">
            <img src="{{STATIC_URL}}images/marketing/wolfram-alpha.jpg" alt="Wolfram Alpha">
            <h4>Wolfram Alpha</h4>
            <p>This new feature brings this leading educational search (answer) engine right into the classroom. This resource is another example of why Universal Tutors is the only choice for private tuition.</p>
          </div>
        </div>
      </div></section>
      
      <section>
        <div class="row">
          <div class="seven columns centered text-center">
            <h2 class="tight"><span>Ready to give us a try?</span></h2>
            <a class="large button" href="javascript:;" data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('2'); $('#signup_user_type').change();"><span class="icon rocket">Create Your Student Account</span></a>
            <p class="faded">If you're a tutor, <a href="javascript:;" data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('1'); $('#signup_user_type').change();">sign up here</a>.</p>
          </div>
        </div>
      </section>
      
      {% if video %}
  		{% include "core/fragments/_modal_video.html" %}
	{% endif %}
{% endblock %}
