{% extends "ui/layouts/base.html" %}
{% load common_tags uni_form_tags %}

{% block title %}Contact Us{% endblock %}

{% block body_class %}{% endblock %}

{% block content %}
	<section class="blue feature-box">
		<div class="inner">
	    	<h1>Contact Us</h1>	
	  	</div>
	</section>
	
	<div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
     </div>
	
	<div class="row">
		{% if sent and feedback %}
			<p><span>Thank you for your feedback. This will help us to greatly improve Universal Tutors.</span></p>
			<p><span><a href="/">Go</a> back to homepage</span></p>
		{% else %}
			{% if sent and contact %}
				{% if success %}
					<p><span>Message sent successfully. We will contact you as soon as we can with feedback on your message.</span></p>
					<p><span><a href="/">Go</a> back to homepage</span></p>
				{% else %}
					<p><span>An error occurred while sending the message. Please try again in a few moments.</span></p>
					<p><span><a href="/">Go</a> back to homepage</span></p>
				{% endif %}
			{% endif %}
		{% endif %}
		
		{% if not sent %}
	    	<div class="eight columns">
	    		<!-- FORM: HEAD SECTION -->
	        <link href="{{STATIC_URL}}css/form.css" rel="stylesheet" type="text/css"></link>
	        <!-- FORM: BODY SECTION -->
	        <h3>Site Feedback</h3>
	        <form id="feedback" method="post" action="/contact-us/" class="nice custom"> {% csrf_token %}
	
	     		{% for question in questions %}
	     		<p>
		     		<label>{{ question.title }}</label>
		     		 <select name="question-{{ question.id }}" id="tfa_8" class="">
		     		 	<option value="">Please select...</option>
		     		 	{% for option in question.feedbackquestionoption_set.all %}
		     		 		<option value="{{ option.id }}">{{ option.title }}</option>
		     		 	{% endfor %}
	 		 		</select>
 		 		</p>
 		 		<br>
				<p>
			        <label>{{ question.optional_text_title }}</label>
			        <input type="text" id="tfa_16" name="comment-{{ question.id }}" value="" placeholder="" class="input-text">
		        </p>
		          
		        <br>
	     		{% endfor %}
	          
	          <input type="submit" class="button" value="Submit">
	          <input type="hidden" value="244717" name="feedback-submit" id="tfa_dbFormId"><input type="hidden" value="input-text" name="tfa_dbResponseId" id="tfa_dbResponseId"><input type="hidden" value="8a55ad301648f9d486cc4f2e79208e5b" name="tfa_dbControl" id="tfa_dbControl"><input type="hidden" value="2" name="tfa_dbVersionId" id="tfa_dbVersionId">
	        </form>
	    	</div>
	    	<div class="four columns">
	      	<div class="panel">
	        	<h3>Got a Question?</h3>
	          <form id="contact" class="nice" action="/contact-us/" method="post"> {% csrf_token %}
	            {{ contact_form.as_p }}
	              
	              
	            <p><input type="submit" value="Submit" name="contact-submit" class="button" /></p>
	          </form>
	        </div>
     		 </div>
 		 {% endif %}
    </div>
    
    <script>
      $(document).ready(function(){
        $("form input[type=text]").addClass("input-text", "clear");
        $("form#feedback").submit(function (){
        	var good = true;
        	$(this).find("ul.errorlist").remove();
        	$(this).find("select").each(function(index, element){
        		if ($(element).val() === "") {
        			$(element).parent().prepend('<ul class="errorlist"><li>This field is required.</li></ul>');
        			good = false;
        		}
        	});
        	if (!good) {
        		return false;
        	}
        });
        $("form#contact").submit(function (){
        	var good = true;
        	$(this).find("ul.errorlist").remove();
        	$(this).find("input").each(function(index, element){
        		if ($(element).val() === "") {
        			$(element).parent().prepend('<ul class="errorlist"><li>This field is required.</li></ul>');
        			good = false;
        		}
        	});
        	if($(this).find("textarea").val() === "") {
        		$(this).find("textarea").parent().prepend('<ul class="errorlist"><li>This field is required.</li></ul>');
        		good = false;
        	}
        	if (!good) {
        		return false;
        	}
        });
      });
    </script>
{% endblock %}