{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tz %}

{% block title %}Classes{% endblock %}
{% block body_class %}app tutor classes{% endblock %}

{% block content %}
{% timezone user_profile.timezone %}
<section class="blue feature-box"><div class="inner">
      <h1>Classes <span>Upcoming and previously given classes.</span></h1>
</div></section>
      
      {% include 'profile/fragments/_timer.html' %}
      {% for class in user_profile.get_classes_as_tutor %}
      {% with class.student as student %}
      {% with student.profile as student_profile %}
      <article class="{% if class.status != class.STATUS_TYPES.BOOKED %}faded{% endif %}">
        <div class="row">
          <div class="one columns hide-on-phones">
            <img src="{% version student_profile.profile_image.path 'class_list_profile_image' %}" alt="{{student.get_full_name}}">
          </div>
          
          <div class="three columns">
            <a href="{% url class_detail class.id %}"><h3>{{class.subject}}</h3></a>
            <p class="subheader">with <a href="tutor-student-profile">{{student.get_full_name}}</a></p>
          </div>
          
          <div class="four columns">
            <p>{{class.description}}</p>
          </div>
          
          <div class="two columns timestamp">
            <p>Scheduled for <br><strong>{{class.start|time:"H:i"}} - {{class.end|time:"H:i"}}<br>{{class.date|date:"M d, Y"}}</strong></p>
          </div>
          
          <div class="two columns action">
            <a href="javascript:;" class="send-message" data-reveal-id="modal-message" onclick="view_modal_messages({{student.id}}, {{class.id}});">View Messages</a>
            <a href="#" class="cancel-class" data-reveal-id="modal-cancel-class">Cancel Class</a>
            <a class="no-feedback">Awaiting Review</a>
            <a href="#" class="rate-tutor" data-reveal-id="modal-review">Rate Student</a>
            <a href="#" class="class-material">Class Material</a>
            <a href="#" class="view-rating" data-reveal-id="modal-view-review-received">View Your Rating</a>
            <a href="#" class="view-feedback" data-reveal-id="modal-review">View Student Rating</a>
            <a href="#" class="class-material">Class Material</a>
           </div>
        </div>
      </article>
      {% endwith %}
      {% endwith %}
      {% endfor %}
	{% include 'profile/fragments/_modal_messages.html' %}
	{% include 'profile/tutor/fragments/_modal_cancel_class.html' %}
	{% include 'profile/tutor/fragments/_modal_rate_student.html' %}
	{% include 'profile/tutor/fragments/_modal_review_view.html' %}
	{% include 'profile/tutor/fragments/_modal_review_view_received.html' %}
{% endtimezone %}
{% endblock %}
