{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tz %}

{% block title %}Classes{% endblock %}
{% block body_class %}app tutor classes{% endblock %}

{% block content %}
{% timezone user_profile.timezone %}
<section class="blue feature-box"><div class="inner">
      <h1>Classes <span>Upcoming and previously given classes.</span></h1>
</div></section>
      
      {% include 'profile/fragments/_timer.html' %}
      {% for class in user_profile.get_classes_as_tutor %}
      {% with class.student as student %}
      {% with student.profile as student_profile %}
      <article class="{% if class.status != class.STATUS_TYPES.BOOKED %}faded{% endif %}">
        <div class="row">
          <div class="one columns hide-on-phones">
            <img src="{% version student_profile.profile_image.path 'class_list_profile_image' %}" alt="{{student.get_full_name}}">
          </div>
          
          <div class="three columns">
            <a href="{% url class_detail class.id %}"><h3>{{class.subject}}</h3></a>
            <p class="subheader">with <a href="{% url profile student.username %}">{{student.get_full_name}}</a>
           	{% if class.status != class.STATUS_TYPES.BOOKED %}<br/>({{class.get_status_display}}){% endif %}
            </p>
         </div>
          
          <div class="four columns">
            <p>{{class.description}}</p>
          </div>
          
          <div class="two columns timestamp">
            <p><strong>{{class.start|time:"H:i"}} - {{class.end|time:"H:i"}}<br>{{class.date|date:"M d, Y"}}</strong></p>
          </div>
          
          <div class="two columns action">
            <a href="javascript:;" class="send-message" data-reveal-id="modal-message" onclick="view_modal_messages({{student.id}}, {{class.id}});"><i class="icon-comment"></i> View Messages</a>
          	{% if class.status == class.STATUS_TYPES.BOOKED %}
            <a href="javascript:;" class="cancel-class" data-reveal-id="modal-cancel-class" onclick="cancel_class_step_0({{class.id}});"><i class="icon-cancel"></i> Cancel Class</a>
			{% else %}
				{% with class.tutor_rating as rating %}
					{% if rating %}
		            <a href="javascript:;" class="view-rating text-gray" data-reveal-id="modal-view-review-received-{{rating.id}}"><i class="icon-doc-text"></i> View Your Rating</a>
					{% with student.get_full_name as rating_sender %}
						{% include 'profile/fragments/_modal_review_view_received.html' %}
					{% endwith %}
					{% else %}
		            <a class="no-feedback text-gray"><i class="icon-doc-text"></i> Awaiting Review</a>
		            {% endif %}
				{% endwith %}
				
	            {% if class.status == class.STATUS_TYPES.DONE %}
					{% with class.student_rating as student_rating %}
						{% if student_rating %}
			            <a href="javascript:;" class="view-feedback text-gray" data-reveal-id="modal-review" onclick='tutor_rate_student({{student.id}},"{{student.get_full_name}}", {{class.id}},"{{student_rating.text}}");'><i class="icon-doc-text"></i> View Student Rating</a>
						{% else %}
			            <a href="javascript:;" class="rate-tutor" data-reveal-id="modal-review" onclick='tutor_rate_student({{student.id}},"{{student.get_full_name}}",{{class.id}});'><i class="icon-doc-text"></i> Rate Student</a>
			            {% endif %}
					{% endwith %}
		            <a href="javascript:;" class="class-material" data-reveal-id="modal-class-material" onclick="open_class_material('{% url class_material class.id %}');"><i class="icon-folder"></i> Class Material</a>
	 			{% endif %}
 			{% endif %}
	          <a href="{% url report student.username %}" class="report text-red"><i class="icon-flag"></i> Report Student</a>
           </div>
        </div>
      </article>
      {% endwith %}
      {% endwith %}
      {% empty %}
      <article class="{% if class.is_active %}{% endif %}">
        <div class="row" style="text-align: center;">
			You don't have any upcoming or previously given classes.
        </div>      
      </article>      
      {% endfor %}
	{% include 'profile/fragments/_modal_messages.html' %}
	{% include 'profile/fragments/_modal_class_material.html' %}
	{% include 'profile/tutor/fragments/_modal_cancel_class.html' %}
	{% include 'profile/tutor/fragments/_modal_rate_student.html' %}
	{% include 'profile/tutor/fragments/_modal_review_view.html' %}
	{% include 'profile/fragments/_modal_review_view_received.html' %}
	<div id="modal-windows" class="hidden"></div>

{% endtimezone %}
{% endblock %}
