{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags ut_tags humanize %}

{% block title %}Messages{% endblock %}
{% block body_class %}tutor messages app{% endblock %}

{% block content %}

	<section class="blue feature-box"><div class="inner">
        <h1>Messages <span>Conversations with students</span></h1>
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      
      {% for person in usermessages %}      
      {% with person.profile as person_profile %}
      {% with person|get_messages:user as messages %}
      {% with messages.messages.0 as last_message %}
      <article>
        <div class="row">
          <div class="one columns hide-on-phones">
            <img src="{% version person_profile.profile_image.path 'class_list_profile_image' %}" alt="{{person.get_full_name}}">
            <div class="unread message-user-{{message_person.id}}-value {% if not messages.unread %}hidden{% endif %}">{{messages.unread}}<span> Unread Message{{messages.unread|pluralize}}</span></div>
          </div>
          
          <div class="three columns title">
            <h3 class="title"><a href="{% url profile person.username %}">{{person.get_full_name}}</a></h3>
          </div>
          
          <div class="four columns description">
            <p><a href="javascritp:;" data-reveal-id="modal-message" onclick="view_modal_messages({{person.id}});">{{last_message|truncatechars:200}}</a></p>
          </div>
          
          <div class="two columns timestamp">
            <p>Received {% if not last_message.created|is_today %}on{% endif %} <br><strong>
            	{% if last_message.created|is_today %}{{last_message.created|customnaturaltime}}{% else %}{{last_message.created|date:"D, d M Y"}}{% endif %}
            </strong></p>
          </div>
          
          <div class="two columns action">
            <a href="javascript:;" class="send-message message-user-{{message_person.id}}-link" data-reveal-id="modal-message" onclick="view_modal_messages({{person.id}});"><i class="icon-comment"></i> 
            	{% if messages.unread %} 
            		{{ messages.unread }} New Message{{ messages.unread|pluralize }}
            	{% else %}
            		View Messages
            	{% endif %}
        	</a>
          </div>
        </div>
      </article>
	  {% endwith %}
	  {% endwith %}
	  {% endwith %}
	  
	  {% empty %}
      <article><div class="row" style="text-align: center;">You have not received any messages yet.</div></article>	  
	  {% endfor %}
		
	  {% with 'True' as can_send_message %}{% include 'profile/fragments/_modal_messages.html' %}{% endwith %}
{% endblock %}
