{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags pagination_tags %}

{% block title %}{{person.get_full_name}}'s profile{% endblock %}
{% block body_class %}app student tutor-profile{% endblock %}

{% block content %}
  <section class="blue feature-box"><div class="inner">
  	{% if owner %}
    <h1>You are seeing your own profile</h1>	
	{% else %}
    <h1>Tutor Profile <span>Details on a specific tutor.</span></h1>
	{% endif %}
  </div></section>
  
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
  
  <div class="row">
    <div class="two columns">
      <div class="row space">
	      <div class="profile-picture">
	        <img src="{% version profile.get_profile_image_path 'profile_image' %}" alt="{{person.get_full_name}}">
	        {% if profile.video_approved and profile.video %}
	        <a href="javascript:;" class="watch-video ir" data-reveal-id="modal-video" onclick="change_video_profile('{{profile.get_video_id}}');">Watch Video</a>
	        {% endif %}
	      </div>
	  </div>
      <div class="row space">
      	{% with profile.get_completeness as completeness %}
        <label>Profile completeness</label>
	  	<div class="profile-completeness">
	  		<div class="bar" style="width: {{completeness}}%;"></div>
	  		<div class="value">{{ completeness }}%</div>
	  	</div>
	  	{% endwith %}
	  </div>
    </div>
    
    <div class="ten columns">
      <h2>{{person.get_full_name}}</h2>
      <h4>{{profile.date_of_birth|age}}, {{profile.get_gender_display}}</h4>
      {% if profile.webcam %}<a title="Webcam" class="no-hover"><i class="icon-videocam"></i></a>{% endif %}
      {% if profile.crb_checked %}<a title="CRB Checked" class="no-hover"><i class="icon-ok"></i></a>{% endif %}
      <p>&nbsp;</p>
      <div class="row">
        <div class="nine columns">
          <div class="row">
            <div class="six columns">

              {% if profile.get_about %}
              <label>Description</label>
              <p>{{profile.get_about}}</p>
              {% endif %}
              	
              <label>Qualifications</label>
              <ul class="tutor-qualifications-list">
              	{% if profile.qualification_documents_approved %}
	                {% for item in person.qualifications.all %}
		                {% if item.document %}
		                <li><a class="open" href="{{item.document.url}}" target="blank">{{item.qualification}}</a></li>
	                	{% else %}
		                <li>{{item.qualification}}</li>                	
	                	{% endif %}
	                {% empty %}
		                <li>No qualifications</li>                	                
	                {% endfor %}
				{% else %}
	                <li>No qualifications have been approved</li>                	                				
				{% endif %}
              </ul>

              <label>CRB certified</label>
              <ul class="tutor-qualifications-list">
				{% if profile.crb_checked %}Yes{% else %}No{% endif %}
              </ul>
              
              {% if profile.crb_checked %}
              <label>CRB Expiry Date</label>
              <ul class="tutor-qualifications-list">
				{{ profile.crb_expiry_date|date:"M d, Y" }}
              </ul>
              {% endif %}

              <label>Webcam</label>
              <ul class="tutor-qualifications-list">
				{% if profile.webcam %}Yes{% else %}No{% endif %}
              </ul>

              <label>Classes Given</label>
              <ul class="tutor-qualifications-list">
				{{profile.classes_given}}
              </ul>

            </div>
            
            {% with person.subjects.all as subjects %}
            <div class="six columns">
              <table class="stretch">
                <tr>
                  <th>Subject</th>
                  <th>Level</th>
                  <th>Credits</th>
                </tr>
                {% for item in subjects %}
                <tr>
                  <td>{{item.subject}}</td>
                  <td>{% if item.level %}{{item.level}}{% endif %}</td>
                  <td>{{item.credits|floatformat}} credit{{item.credits|pluralize}}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="3">No subjects</td>
                </tr>
				{% endfor %}
              </table>
            </div>
            {% endwith %}
          </div>
          
          <hr class="inside">
          
          <div class="row">
            <div class="six columns phone-two">
              <h2>Reviews</h2>
            </div>
            <div class="six columns phone-two">
            	{% with profile.no_reviews as no_reviews %}
              	{% get_avg_stars profile.avg_rate %} &nbsp; ({{no_reviews}} review{{no_reviews|pluralize}})
            	{% endwith %}
            </div>
          </div>
	      <div class="row">&nbsp; </div>
    	{% autopaginate reviews 8 %}
        {% for review1, review2 in reviews|reviews_style %}
	          <div class="row clear">
	            <div class="six columns">
	              <div class="small rating">
	                {% get_stars review1.rate %}
	              </div>
	              
	              <h5>{{review1.created}}</h5>
	              <p>
	              	{% with review1.related_class.student as student %}
	              	<a href="{% url profile student.username %}">{{student.get_full_name}}</a> -
	              	{{review1.text}}
	              	{% endwith %}
	              </p>
	            </div>
	            
	            <div class="six columns">
		            {% if review2 %}
		              <div class="small rating">
		                {% get_stars review2.rate %}
		              </div>
		              
		              <h5>{{review2.created}}</h5>
		              <p>
		              	{% with review2.related_class.student as student %}
		              	<a href="{% url profile student.username %}">{{student.get_full_name}}</a> -
		              	{{review2.text}}
		              	{% endwith %}
		              </p>
		            {% endif %}
	            </div>
	          </div>
	      {% empty %}
	      		No reviews at moment.
          {% endfor %}
          {% paginate %}
          
        </div>
        <div class="three columns action">
		  {% if owner %}
          <a href="{% url edit_tutor_profile %}" class="book-class">Edit profile</a>
		  {% else %}
          
          {% if user_profile.type != user_profile.TYPES.TUTOR %}
          
		  {% with person|get_messages:user as messages %}
		  {% with messages.messages as msgs %}
		  {% with msgs|length as no_msgs %}
		  
      	  {% if no_msgs == 0 %}
	      	  {% if profile.crb_checked or user_profile.type == user_profile.TYPES.STUDENT %}
	          <a href="javascript:;" class="send-message message-user-{{person.id}}-link" data-reveal-id="modal-message" onclick="view_modal_messages({{person.id}});"><i class="icon-comment"></i> Send message</a>
			  {% else %}
              <a href="javascript:;" class="send-message message-user-{{person.id}}-link" onclick="setup_alert_box(function(){ view_modal_messages({{person.id}}); }, 'modal-message');" data-reveal-id="modal-alert-crb"><i class="icon-comment"></i> Send message</a>		  
			  {% endif %}
          {% else %}
          <a href="javascript:;" class="send-message message-user-{{person.id}}-link" data-reveal-id="modal-message" onclick="view_modal_messages({{person.id}});"><i class="icon-comment"></i>
      		{% if messages.unread %} 
        		{{ messages.unread }} New Message{{ messages.unread|pluralize }}
        	{% else %}
        		View Messages
        	{% endif %}
      	  </a>
      	  {% endif %}
          {% endwith %}
          {% endwith %}
          {% endwith %}

          {% if profile.crb_checked or user_profile.type == user_profile.TYPES.STUDENT %}
          <a href="{% url book_class person.username %}" class="book-class"><i class="icon-calendar-inv"></i> Book a Class</a>
		  {% else %}
          <a href="javascript:;" class="book-class" onclick="setup_alert_box(function(){ window.location.href = '{% url book_class person.username %}'; });" data-reveal-id="modal-alert-crb"><i class="icon-calendar-inv"></i> Book a Class</a>
		  {% endif %}
          <a id="favorite-tutor" href="javascript:;" class="favorite"><i class="icon-star"></i>&nbsp;<span>{% if person|is_favorite:user %}Remove favorite{% else %}Add favorite{% endif %}</span></a>
          {% endif %}
          <a href="{% url report person.username %}" class="report text-red"><i class="icon-flag"></i> Report tutor</a>
			<script type="text/javascript">
				$('#favorite-tutor').click(function(){
					$.get('{% url favorite person.id %}', function(response){
						$('#favorite-tutor span').html(response);
					});
				});
			</script>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  {% include 'profile/fragments/_modal_messages.html' %}
  {% include 'profile/fragments/_alert_crb.html' %}
  {% if profile.video_approved and profile.video %}
  {% include 'profile/fragments/_modal_video.html' %}
  {% endif %}
   
  <div id="view-upload" class="reveal-modal">
    <a class="close-reveal-modal">&#215;</a>
  </div>
{% endblock %}