{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags %}

{% block title %}Classroom {{class.name}}{% endblock %}
{% block body_class %}app classroom{% endblock %}

{% block thirdparty_js_header %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42520572-1', 'wizoku.com');
  ga('send', 'pageview');

</script>

<link href="http://media.muchosmedia.com/brainwave/style.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_head %}
<script>

alert("The classroom may not work properly in Chrome. As an alternative, please use Firefox, Internet Explorer, Safari or Opera.");

</script>
<script type="text/javascript" src="http://media.muchosmedia.com/scribblar/scripts/includes.js"></script>

<script type="text/javascript">
	$(window).ready(function(){
		var targetID = "scribblar";

		var flashvars = {
			'userid': "{{user.profile.scribblar_id}}",
			'roomid': "{{user.profile.get_test_class_id}}",
			'preferredLocales': "{{profile.class_language}}",
			'username': "{{user.get_full_name}}"
		};

		var params = {
			'allowscriptaccess': "always"
		};

		var attributes = {
			'id': "scribblar",
			'name': "scribblar"
		};

		swfobject.embedSWF(
			"http://media.muchosmedia.com/scribblar/v2/main.swf", 
			"alternate", 
			"100%", 
			"100%", 
			"10", 
			"http://media.muchosmedia.com/swfobject/expressInstall.swf", 
			flashvars, 
			params, 
			attributes);

		if(!swfobject.hasFlashPlayerVersion("10")) {
		  	alert('You need a computer with flash-enabled to test a class');
			window.location.href = '{% url edit_tutor_profile %}';		  	
		}

		setInterval(function(){
			$.ajax({
				type: 'get',
				url: '{% url check_tutor_class_status %}',
				success: function(response) {
					if (response == 'close') {
						window.location.href = '{% url edit_tutor_profile %}';
					}
				}
			});				
		}, 60 * 1000);

		$('#id_class_language').change(function(){
			var language = $(this).val();
			thisMovie('scribblar').setLocale(language);
			$.get('{% url set_class_language %}'+ language +'/');
		});
	});
</script>
{% endblock %}

<style type="text/css" media="screen">
  html, body, #container, #alternate-container { height:100%; }
  body { margin:0; padding:0; overflow:hidden; }
</style>

{% block full_content %}
  <header>
    <div class="logo alt ir left"><a>Universal Tutors</a></div>

    <a id="exit-class-button" class="right button" href="{% url edit_tutor_profile %}"><span class="icon rocketdown">Exit Classroom</span></a>	  	

	<div class="class-info">
		<form class="nice">
			<select id="id_class_language">
				{% for language in CLASS_LANGUAGES %}
				<option value="{{language.1}}" {% if language.1 == profile.class_language %}selected="selected"{% endif %}>{{language.0}}</option>
				{% endfor %}
			</select>
		</form>
	</div>
  </header>
  
  <div id="alternate-container" class="main scribblar-container">
  	<div id="alternate"></div>
  </div>
{% endblock %}
