{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags %}

{% block title %}Tutors{% endblock %}
{% block body_class %}app student tutors{% endblock %}

{% block content %}
      <section class="blue feature-box"><div class="inner">
        <h1>Tutors <span>Favorite and Used Tutors.</span></h1>
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      {% for group in tutor_groups %}
	      {% if not forloop.first %}<hr class="big">{% endif %}
	
	      <div class="row">
	        <div class="twelve columns">
	          <h2>{{group.title}}</h2>
	        </div>
	      </div>
	      
	      {% for tutor in group.tutors %}
	      {% with tutor.profile as tutor_profile %}
	      <article>
	        <div class="row">
	          <div class="one columns hide-on-phones">
	            <img src="{% version tutor_profile.get_profile_image_path 'list_tutors' %}" alt="{{tutor.get_full_name}}">
	          </div>
	          
	          <div class="three columns">
	            <h3 class="title"><a href="{% url profile tutor.username %}">{{tutor.get_full_name}}</a></h3>
	            <p><span class="credits">{% if tutor_profile.min_credits != tutor_profile.max_credits %}{{tutor_profile.min_credits}}-{{tutor_profile.max_credits}}{% else %}{{tutor_profile.max_credits}}{% endif %}</span></p>
	          </div>
	          
	          <div class="four columns">
	          	{% if tutor_profile.get_about %}
	            <p>{{tutor_profile.about|truncatechars:300}}</br><a href="{% url profile tutor.username %}">Read More</a></p>
	          	{% else %}
	            <p>No description</br><a href="{% url profile tutor.username %}">Read More</a></p>
	          	{% endif %}
	          </div>
	          
	          <div class="two columns tags">
	          	{% with tutor.subjects.all as tutor_subjects %}
	          	{% with tutor_subjects.count as no_subjects %}
	          	{% for subject in tutor_subjects %}
		          	{% if forloop.counter0 < 3 %}
		            <a href="{% url search %}?type=subject?query={{subject}}" class="tag">{{subject}}</a>
		            {% endif %}
		            {% if forloop.counter0 == 2 and no_subjects > 3 %}
						<a href="{% url profile tutor.username %}">{{no_subjects|sub:forloop.counter}} more</a>
		            {% endif %}
	            {% endfor %}
	          	{% endwith %}
	          	{% endwith %}
	          </div>
	          
	          <div class="two columns action">
	            {% if tutor_profile.video_approved and tutor_profile.video %}
	            	<a href="javascript:;" class="watch-video" data-reveal-id="modal-video" onclick="change_video_profile('{{tutor_profile.get_video_id}}');"><i class="icon-videocam"></i> Watch Video</a>
	            {% else %}
	            	<a class="watch-video text-gray"><i class="icon-videocam"></i> No Video</a>			            
	            {% endif %}
	          	{% with tutor|get_messages:user as messages %}
		      	  {% if tutor_profile.crb_checked or user_profile.type == user_profile.TYPES.STUDENT %}
	            	<a href="javascript:;" class="send-message message-user-{{tutor.id}}-link" data-reveal-id="modal-message" onclick="view_modal_messages({{tutor.id}});"><i class="icon-comment"></i>
				  {% else %}
	            	<a href="javascript:;" class="send-message message-user-{{tutor.id}}-link" onclick="setup_alert_box(function(){ view_modal_messages({{tutor.id}}); }, 'modal-message');" data-reveal-id="modal-alert-crb"><i class="icon-comment"></i>				  
				  {% endif %}
	            	{% if messages.unread %}
	            		{{ messages.unread }} New Message{{ messages.unread|pluralize }}
		          	{% else %}
		          		{% if messages.has_messages %} 
		            		View Messages
		            	{% else %}
			          		Send a Message
		            	{% endif %}
		            {% endif %}
            	</a>
	            {% endwith %}
	            
		          {% if tutor_profile.crb_checked or user_profile.type == user_profile.TYPES.STUDENT %}
		          <a href="{% url book_class tutor.username %}" class="book-class"><i class="icon-calendar-inv"></i> Book a Class</a>
				  {% else %}
		          <a href="javascript:;" class="book-class" onclick="setup_alert_box(function(){ window.location.href = '{% url book_class tutor.username %}'; });" data-reveal-id="modal-alert-crb"><i class="icon-calendar-inv"></i> Book a Class</a>
				  {% endif %}

	            <a href="javascript:;" class="favorite tutor-favorite-{{tutor.id}}" id-tutor="{{tutor.id}}"><i class="icon-star"></i>&nbsp;<span>{% if tutor|is_favorite:user %}Remove favorite{% else %}Add favorite{% endif %}</span></a>
	            <a href="{% url report tutor.username %}" class="report text-red"><i class="icon-flag"></i> Report</a>
	          </div>
	        </div>
	      </article>
	      {% endwith %}
	      {% endfor %}
	  {% empty %}
	  	<div class="row center">
	      You don't have any favorite Tutors and haven't attended any classes yet.
      	</div>
      {% endfor %}
      
      
  	{% with 'True' as can_send_message %}{% include 'profile/fragments/_modal_messages.html' %}{% endwith %}
    {% include 'profile/fragments/_alert_crb.html' %}

	
	<script type="text/javascript">
		$('.favorite').click(function(){
			var tutor_id = $(this).attr('id-tutor');
			$.get('{% url favorite %}'+ tutor_id +'/', function(response){
				$('.tutor-favorite-'+ tutor_id +' span').html(response);
			});
		});
	</script>
{% endblock %}

