*.pyc
*.esproj
*.sublime-project
.DS_Store
.svn
uploads
cms_media
virtual-env
local_settings.py
env
universal_tutors.sqlite
cache-forever
build
src
src.bk
askbot-devel

universal_tutors/static/admin
universal_tutors/static/cms
universal_tutors/static/debug_toolbar
universal_tutors/static/filebrowser
universal_tutors/static/grappelli
universal_tutors/static/tiny_mce
universal_tutors/static/allauth
universal_tutors/static/cache-forever
universal_tutors/static/django_extensions
universal_tutors/static/uni_form
universal_tutors/static/scripts
universal_tutors/static/styles
universal_tutors/static/fonts
universal_tutors/static/images
universal_tutors/static/styles
