{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags %}

{% block title %}Classes{% endblock %}
{% block body_class %}app tutor{% endblock %}

{% block content %}

      <section class="blue feature-box"><div class="inner">
	  	{% if person == user %}
	    <h1>This is the public view of your profile</h1>	
		{% else %}
        <h1>Parent Profile <span>Details on a specific parent</span></h1>
		{% endif %}
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      <div class="row">
	    <div class="two columns">
	      <div class="row space">
		      <div class="profile-picture">
		        <img src="{% version profile.profile_image.path 'profile_image' %}" alt="{{person.get_full_name}}">
		      </div>
		  </div>
	      <div class="row space">
	      	{% with profile.get_completeness as completeness %}
	        <label>Profile completeness</label>
		  	<div class="profile-completeness">
		  		<div class="bar" style="width: {{completeness}}%;"></div>
		  		<div class="value">{{ completeness }}%</div>
		  	</div>
		  	{% endwith %}
		  </div>
	    </div>

        
        <div class="ten columns">
          <h2>{{person.get_full_name}}</h2>
          <h4>{{profile.date_of_birth|age}}, {{profile.get_gender_display}}</h4>
          <div class="row">&nbsp;</div>
          <div class="row">
            <div class="nine columns">
	          <table class="stretch">
	            <tr>
	              <th>Children</th>
	              <th>Classes</th>
	              <th>Messages</th>
	            </tr>
              	{% for item in person.children.all %}
              	{% with item.child as child %}
		            <tr>
		              <td><a href="{% url profile child.username %}">{{child.get_full_name}}</a></td>
		              <td><a href="{% url student_classes child.username %}">view classes</a></td>
		              <td><a href="{% url student_messages child.username %}">view messages</a></td>
		            </tr>
	            {% endwith %}
	            {% empty %}
		            <tr>
		              <td>No children has been added.</td>
		            </tr>
               	{% endfor %}
	          </table>
            </div>
            <div class="three columns action">
            {% if owner %}
          	  <a href="{% url edit_parent_profile %}" class="book-class">Edit profile</a>            
            {% else %}
              {% with user|get_messages:person as messages %}
		 	  {% with messages.messages as msgs %}
              <a href="javascript:;" class="send-message" data-reveal-id="modal-message" onclick="view_modal_messages({{person.id}});"> 
              	{% if msgs|length == 0 %} 
	          		Send a Message
	          	{% else %}
	          	{% if messages.unread %} 
	            		{{ messages.unread }} New Message{{ messages.unread|pluralize }}
	            	{% else %}
	            		View Messages
	            	{% endif %}
	            {% endif %}
          	  </a>
              {% endwith %}
              {% endwith %}
			{% endif %}
            </div>
          </div>
        </div>
      </div>
  	{% include 'profile/fragments/_modal_messages.html' %}

{% endblock %}
