<div id="modal-alert-crb" class="reveal-modal message review">
  <h4>CRB</h4>
  
  <div class="row">&nbsp;</div>
  <div class="row">This tutor is not CRB certified yet. Are you sure you would like to continue?</div>
  <div class="row">
  	  <div class="eight columns">
		  <div class="button"><a id="alert-crb-action-button" href="javascript:;" class="icon" onclick="alert_crb_start_action();" data="">I understand, please continue</a></div>
  	  </div>
  </div>
  <a id="alert-link-close" class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
	var alert_crb_action = null;
	var setup_alert_box = function(action, window) {
		alert_crb_action = action;
		$('#alert-crb-action-button').attr('data-reveal-id', window);
	}
	var alert_crb_start_action = function() {
		alert_crb_action();
		$('#alert-link-close').click();
	}
</script>