<div id="modal-message" class="reveal-modal message">
  <h4>To: <strong id="modal-messages-user"></strong></h4>
  
  <div class="messages">
    <div class="top"></div>
    <div id="modal-messages-loading" class="inside loading">
    	
    </div>
    <div id="modal-messages-container" class="inside">

    </div>
  </div>
  {% if user == person or can_send_message or messages.length > 0 %}
  <form id="modal-message-form" class="nice" method="post">
  	{% csrf_token %}
    {% if user_profile.type == user_profile.TYPES.PARENT %}
    <div class="row">
	  <div class="two columns phone-one">        
	    <label>Child*</label>
	  </div>
	  <div class="ten columns phone-three">
		<select id="message-child" name="child" class="stretch">
			<option value="0">---------</option>
			{% for item in user.children.all %}
			{% with item.child as child %}
			<option value="{{child.id}}">{{child.get_full_name}}</option>
			{% endwith %}
			{% endfor %}
		</select>
	  </div>	  
    </div>				
    {% endif %}
    <div class="row">
      <div class="nine columns">
        <textarea id="modal-message-text" name="modal-message-text" type="text" class="text-area" placeholder="Write a Message ..."></textarea>
	    <div id="modal-message-text-hint" class="formHint">0 of 500 characters used</div>
	    <div id="modal-message-text-error" class="formError hidden"></div>
      </div>
      
      <div class="three columns">
        <input type="submit" class="small button" value="Send">
      </div>
    </div>
  </form>
  {% endif %}

  <a class="close-reveal-modal" onclick="clearTimeout(modal_message_timeout);">&#215;</a>
</div>
<script type="text/javascript">
	var modal_message_to;
	var modal_message_class;
	var modal_message_timeout;
	
	/* overwrite if necessary */
	var modal_message_on_close = function() {}


	var view_modal_messages = function(to, class_, force_stay) {
		clearTimeout(modal_message_timeout);
		modal_message_to = to;
		modal_message_class = class_;
			
		{% if user.is_authenticated %}
			{% if read_child_message %}
			var url = '{% url view_modal_messages person.username %}'+ to +'/';
			{% else %}
			var url = '{% url view_modal_messages user.username %}'+ to +'/';
			{% endif %}
		{% else %}
		url += class_ ? class_+'/' : '';
		{% endif %}
		
		if(!force_stay) {
			$('#modal-messages-container').hide();
			$('#modal-messages-loading').show();
		}
		
		$.ajax({
			type: 'get',
			url: url,
			complete: function() {
				$('#modal-messages-loading').fadeOut(function(){
						$('#modal-messages-container').fadeIn();
				});	
			},
			error: function() {
				$('#modal-messages-container').html("It is not possible show the messages right now. Please try again later.")
				$("#modal-message-form").hide();
			},
			success: function(response) {
				load_modal_messages(response);
				modal_message_timeout = setTimeout(function(){ view_modal_messages(modal_message_to, modal_message_class, true); }, 2000);
			}
		});
		
		$('#modal-message').bind('reveal:closed', function(){
			modal_message_on_close();
		});
	};
	
	$('#modal-message-form').submit(function(e){
		e.preventDefault();
		
		var child = {% if user_profile.type == user_profile.TYPES.PARENT %}parseInt($('#message-child').val());{% else %}true;{% endif %}
		
		var message_text = $('#modal-message-text').val();
		
		if (modal_message_to && message_text && child) {
			
			if (message_text.length <= 500) {
				var url = '{% url send_modal_message %}'+ modal_message_to +'/';
				url += modal_message_class ? modal_message_class+'/' : '';
		
				$.ajax({
					type: 'post',
					data: $('#modal-message-form').serialize(),
					url: url,
					complete: function() {
						$('#modal-messages-loading').fadeOut(function(){
								$('#modal-messages-container').fadeIn();
						});	
					},
					error: function() {
						$('#modal-messages-container').html("It is not possible show the messages right now. Please try again later.")
					},
					success: function(response) {
						$('#modal-message-text-hint').html('0 of 500 characters used');
						$('#modal-message-text').val('');
						$('#modal-message-text').css('height', '30px');
						$('#modal-message-text').height($('#modal-message-text').get(0).scrollHeight + 15);
						
						load_modal_messages(response);
					}
				});
			} else {
				$('#modal-message-text-error').html('There is a limit of 500 characters. You tried to submit '+ message_text.length +'.');
				$('#modal-message-text-error').removeClass('hidden');
				setTimeout(function(){
					$('#modal-message-text-error').addClass('hidden');				
				}, 3000);			
			}
		} else {
			$('#modal-message-text-error').html('All fields are required.');
			$('#modal-message-text-error').removeClass('hidden');
			setTimeout(function(){
				$('#modal-message-text-error').addClass('hidden');				
			}, 3000);			
		}
	});
	
	var load_modal_messages = function(response) {
		var result = eval(response);
		
		$('#modal-messages-user').html(result.to);
		$('#modal-messages-container').html('');

		var messages = result.messages;				
		for(i=0; i<messages.length; i++){
			var message = messages[i];
			$('#modal-messages-container').append(
				'<div class="post '+ (message.user_id==modal_message_to?'them':'you') +'">'+
				'	<h6>'+ message.user + (message.child?' ('+ message.child +'\'s parent)':'') + (message.parent?' ('+ message.child_type +' of '+ message.parent +')':'') +'</h6>'+
				'	<p>'+ message.text.replace(/\n/g, '<br />') +'</p>'+
				'</div>'
			);
		}

		if(messages.length) {
			$('.message-user-'+ modal_message_to +'-link').html('<i class="icon-comment"></i> View Messages');
		} else {
			$('.message-user-'+ modal_message_to +'-link').html('<i class="icon-comment"></i> Send a Message');			
		}
		$('.message-user-'+ modal_message_to +'-value').addClass('hidden');

		
		$('#modal-messages-container').scrollTop(9999999);
	};
	
	$('#modal-message-text').val('');
	$('#modal-message-text').css({
		'height': '30px',
		'min-height': '30px',
		'overflow': 'hidden',
		'resize': 'none'
	});
	
	$('#modal-message-text').keyup(function(e){
		$('#modal-message-text').css('height', '30px');
		$('#modal-message-text').height($(this).get(0).scrollHeight + 15);
	});
	
	$('#modal-message-text').bind('keyup focus blur', function(){
		var text = $(this).val();
		if(text != 'Write a message ...') {
			$('#modal-message-text-hint').html(text.length +' of 500 characters used');
		} else {
			$('#modal-message-text-hint').html('0 of 500 characters used');
		}
	});
	
	$('#modal-message-text').keypress(function(e){
		var code = (e.keyCode ? e.keyCode : e.which);
		if(parseInt(code) == 13) {
			e.preventDefault();
			$('#modal-message-form').submit();
		}
	});
	
</script>