{% with user_profile.get_next_class as next_class %}
{% if next_class %}
<section class="timer">
  <div id="timer-container" class="wrapper">
    <div class="one">
      <p id="timer-text">Your next class starts in</p>
    </div>
    
    <div class="two auto-width">
      <span id="days_d" class="days-numbers number hidden"></span>
      <span id="days_u" class="days-numbers number hidden"></span>
      <span class="days-numbers">days&nbsp;</span>
      <span id="hours_d" class="hours-numbers number hidden"></span>
      <span id="hours_u" class="hours-numbers number"></span>
      <span class="hours-numbers">h&nbsp;</span>
      <span id="minutes_d" class="number"></span>
      <span id="minutes_u" class="number"></span>
      <span>m&nbsp;</span>
      <span id="seconds_d" class="number timer-seconds hidden"></span>
      <span id="seconds_u" class="number timer-seconds hidden"></span>
      <span class="timer-seconds hidden">s</span>
      <span class="timer-ago hidden">&nbsp;&nbsp;&nbsp;ago</span>
    </div>
    
    <div class="three">
      <a id="enter-next-class-button" href="{% url class_detail next_class.id %}" class="button hide-on-phones hidden"><span class="rocket icon">Enter Classroom</span></a>
      <p class="show-on-phones">Get to a desktop computer with Flash enabled to enter classroom.</p>
    </div>
  </div>
</section>
<script type="text/javascript">
	var timer_class = new Date({{next_class.date.year}},{{next_class.date.month|add:-1}},{{next_class.date.day}},{{next_class.start.hour}},{{next_class.start.minute}});
	
	setInterval(function(){
		var timer_now = new Date();
		var diff = timer_class - timer_now;
		var positive = diff > 0 ? 1 : -1; 
		
		var total_seconds = positive * (diff / 1000);
		
		var seconds = parseInt(total_seconds % 60);
		var minutes = parseInt((total_seconds / 60) % 60);
		var hours = parseInt((total_seconds/3600) % 24);
		var days = parseInt((total_seconds/3600/24));
		
		var days_d = parseInt((days / 10) % 10);
		var days_u = parseInt(days % 10);

		var hours_d = parseInt((hours / 10) % 10);
		var hours_u = parseInt(hours % 10);

		var minutes_d = parseInt(minutes / 10);
		var minutes_u = parseInt(minutes % 10);

		var seconds_d = parseInt(seconds / 10);
		var seconds_u = parseInt(seconds % 10);
		
		if(positive > 0) {
			$('#timer-text').html("Your next class starts in");
			$('.timer-ago').addClass('hidden');
		} else {
			$('#timer-text').html("Your class started");
			$('.timer-ago').removeClass('hidden');
		}


		if(days) {
			$('.days-numbers').removeClass('hidden');
			if(days_d) {
				$('#days_d').html(days_d);
				$('#days_d').removeClass('hidden');
			} else {
				$('#days_d').addClass('hidden');
			}
	
			$('#days_u').html(days_u);
		} else {
			$('.days-numbers').addClass('hidden');
		}
		
		if(days || hours) {
			$('.hours-numbers').removeClass('hidden');
			if(hours_d) {
				$('#hours_d').html(hours_d);
				$('#hours_d').removeClass('hidden');
			} else {
				$('#hours_d').addClass('hidden');
			}
		} else {
			$('.hours-numbers').addClass('hidden');
		}

		$('#hours_u').html(hours_u);
		$('#minutes_d').html(minutes_d);
		$('#minutes_u').html(minutes_u);
		$('#seconds_d').html(seconds_d);
		$('#seconds_u').html(seconds_u);


		if(total_seconds < 600) {
			$('.timer-seconds').removeClass('hidden');
		} else {
			$('.timer-seconds').addClass('hidden');
		}

		total_seconds = (total_seconds * positive)
		
		if(total_seconds < 300) {
			$('#enter-next-class-button').removeClass('hidden');
		} else {
			$('#enter-next-class-button').addClass('hidden');
		}
		
		var timer_size = 10;
		$('#timer-container').children().each(function() {
		    timer_size += $(this).outerWidth( true );
		});
		
		$('#timer-container').width(timer_size);
	}, 500);
</script>
{% endif %}
{% endwith %}