{% load common_tags tutor_tags %}

<div id="schedule-week-period_{{period.id}}" class="slider-box" style="{{period|get_edit_period_calendar_size}}">
	<div class="drop"><a id="schedule-week-period-open-link-{{period.id}}" href="javascript:;" class="drop-link">+</a></div>
</div>
<div id="schedule-week-period-dropbox-{{period.id}}" class="drop-box hidden">
	<div class="drop-box-menu-item"><a id="schedule-week-period-delete-link_{{period.id}}" href="javascript:;">Delete</a></div>
</div>
<script type="text/javascript">
	$('#schedule-week-period-dropbox-{{period.id}}').appendTo('#schedule-week-{{period.weekday}}-container');

	$('#schedule-week-period-open-link-{{period.id}}').click(function() {
		var el = $('#schedule-week-period_{{period.id}}');
		$('#schedule-week-period-dropbox-{{period.id}}').css({
			'left': el.position().left + el.outerWidth() - 70 +'px',
			'right': 'auto'
		});
		if($('#schedule-week-period-dropbox-{{period.id}}').hasClass('hidden')) {
			$('#schedule-week-period-dropbox-{{period.id}}').removeClass('hidden');
		} else {
			$('#schedule-week-period-dropbox-{{period.id}}').addClass('hidden');			
		};
	});
	
	$('#schedule-week-period-delete-link_{{period.id}}').click(function(){
		$('#schedule-week-period-dropbox-{{period.id}}').remove();
		$('#schedule-week-period_{{period.id}}').fadeOut(function(){
			$(this).remove();
			$.get('{% url user_delete_week_period period.id %}');
		});		
	});

	$('#schedule-week-period_{{period.id}}').mousedown(function(e){
		position = e.pageX - $(this).offset().left;
		if(position < BORDER_SIZE) {
			schedule_slider_bar_mousedown_begin = true;		}
		if(position > $(this).outerWidth() - BORDER_SIZE) {
			schedule_slider_bar_mousedown_end = true;		
		}
		schedule_slider_bar_mousedown_id = $(this).attr('id');
		schedule_slider_bar_mousedown_x = e.pageX;
		schedule_slider_bar_mousedown_left = $(this).position().left;
		schedule_slider_bar_mousedown_width = $(this).width();
		schedule_slider_bar_mousedown_outerwidth = $(this).outerWidth();
	});
</script>

