{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags %}

{% block title %}Home{% endblock %}
{% block body_class %}marketing home{% endblock %}

{% block content %}
      <body>
      <!--<section class="row"> 
        <div class="inner"> 
          <div class="new_marketing">
          </div> 
        </div> 
      </section>
      -->
      <section class="blue feature-box" style="margin-bottom: 20px !important;"><div class="new_inner">
        
        <div class="row"></div>
        
        <div class="feature-black"></div>
          
        </div>
        
      </section>  
      
      <section class="blue"><div class="inner">
        <div class="row">
          <div class="twelve columns clear">
            <h2><span>Check out some of our </span>Featured Tutors</h2>
          </div>
        </div>
        <div class="row">
        {% for tutor in featured_tutors %}
        {% with tutor.profile as tutor_profile %}
          <div class="four columns">
            <div class="row">
              <div class="four columns phone-one">
                <img src="{% version tutor_profile.profile_image.path 'homepage_list_tutors' %}" alt="{{tutor.get_full_name}}">
              </div>
              <div class="eight columns phone-three">
                <a href="{% url profile tutor.username %}"><h5>{{tutor.get_full_name}}</h5></a>
                <p>{{tutor_profile.about|truncatechars:200}}</p>
              </div>
            </div>
          </div>
        {% endwith %}
        {% empty %}
          <div class="twelve columns clear">
          <h2><span>There are no featured tutors at moment.</span></h2>
        </div>
        {% endfor %}
        </div>
      </div></section>
      
      {% if not user.is_authenticated %}
      <section>
        <div class="row">
          <div class="seven columns centered text-center">
            <h2 class="tight"><span>Ready to give us a try?</span></h2>
            <a class="large button" href="javascript:;" data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('2'); $('#signup_user_type').change();"><span class="icon rocket">Create Your Student Account</span></a>
            <p class="faded">If you're a tutor, <a href="javascript:;" data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('1'); $('#signup_user_type').change();">sign up here</a>.</p>
          </div>
        </div>

      <script type="text/javascript" charset="utf-8" src="http://code.jquery.com/jquery-1.4.3.min.js"></script> 
      <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js"></script>
      <script type="text/javascript" charset="utf-8" src="js/jquery.tubular.js">
      $().ready(funciton() {
      $('body').tubular('8-MlnAJklrM','video'); // where someYTid is the YouTube ID and wrapper is your containing DIV.
      });

      </script> 
      </section>
    </body>
      {% endif %}
    
    {% if video %}{% include "core/fragments/_modal_video.html" %}{% endif %}
{% endblock %}