{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags %}

{% block title %}Home{% endblock %}
{% block body_class %}marketing home{% endblock %}

{% block content %}
      <section class="row">
        <div class="twelve columns">
          <h1><span>The easiest way to </span>Learn Something New.</h1>
        </div>
      </section>
      
      <section class="blue feature-box"><div class="inner">
        
        <div class="row">
        <div class="feature-browser"></div>
        <div class="feature-phone"></div>
        </div>
        
        <div class="feature-black">
          <div class="feature-text">
            <h3>Some text about generally how amazing this site is, and how it will change lives, etc.</h3>
            <a class="video button" href="#" data-reveal-id="video"><span></span>Launch the Video</a>
          </div>
        </div>
      
      </div></section>
      
      <div class="row clear">
        <div class="six columns centered center">
          Social
        </div>
      </div>
      
      <hr class="big">
      
      <section>
        <div class="row clear">
          <div class="twelve columns">
            <h2><span>Why Universal Tutors is the </span>Best Choice for Learning</h2>
          </div>
        </div>
        
        <div class="row row-1">
          <div class="eight columns">
            <div class="row">
              <div class="twelve columns space">
                <h3 class="home-1">Unique classroom experience</h3>
                <p>Universal Tutors provides a classroom that is unrivaled by other tutoring sites. Not only does it offer a choice of communication mediums including Video, Audio, or Instant messenger, but it also provides an interactive whiteboard with the Wolfram Alpha educational search engine built in. <a href="#">See how it works</a>.</p>
              </div>
            </div>
            
            <div class="row">
              <div class="six columns">
                <h4 class="home-2">Access to <br>Best Tutors</h4>
                <p>Universal Tutors has attracted some of the most talented tutors from all over the world. Through our review and rating system the finest of these tutors can be selected.</p>
                <p>You need to say a little more about this one since the student / tutor fit section is quite a bit longer than this section here. Let’s try to balance them out.</p>
              </div>
              <div class="six columns">
                <h4 class="home-3">Superior <br>Student / Tutor Fit</h4>
                <p>Universal Tutors provides more information on their tutors than any other tutoring agency online or offline, including academic and professional backgrounds, subject and exam level specialties, and video introductions to name a few.</p>
                <p>This enables students to find the tutor that best suits their individual requirements.</p>
              </div>
            </div>
          </div>
  
          <div class="four columns">
            <div class="messages"></div>
          </div>
  
          <!--<div class="four columns testimonials">
            <p>"Before I started using Universal Tutors I was getting C's for Maths, now since my classes with Nick I have been getting straight A's!"<br>
            <strong>- GCSE Maths student</strong></p>
            <p>"Having my tutoring online is much more fun than my old classes. Now we do so much more in the class and my marks have been getting better and better as well"<br>
            <strong>- 11+ student</strong></p>
          </div>-->
        </div>
        
        <hr>
        
        <div class="row">
          <div class="four columns">
            <div class="lock"></div>
          </div>
          
          <div class="eight columns">
            <div class="row">
              <div class="twelve columns space">
                <h3 class="home-4">Parental Oversight</h3>
                <p>Universal Tutors recognises that the importance of the parents’ role in supervising the education of their children. Parents have therefore been given their own log-in from where they can check the progress of any of their children, communicate with their tutors, add credits to their account etc.</p>
              </div>
            </div>
            
            <div class="row">
              <div class="six columns">
                <h4 class="home-5">Best Possible <br>Rates</h4>
                <p>By attracting tutors from across the globe and allowing them to set their own prices Universal Tutors has created a competitive market place for private tuition ensuring that you receive the best prices possible</p>
              </div>
              <div class="six columns">
                <h4 class="home-6">Satisfaction <br>Guarantee</h4>
                <p>Students are given the first 5 minutes of every class they take to decide whether or not they are happy with the service and tutor. If for any reason they are not 100% satisfied they can cancel the class at no cost.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="blue"><div class="inner">
        <div class="row">
          <div class="twelve columns clear">
            <h2><span>Check out some of our </span>Featured Tutors</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns">
            <div class="row">
              <div class="four columns phone-one">
                <img src="http://placehold.it/200x200" alt="Photo of Tutor">
              </div>
              <div class="eight columns phone-three">
                <h5>Tutor Name</h5>
                <p>Ut erat nunc, viverra sit amet vehicula quis, eleifend sit amet ligula. Ut erat nunc, viverra sit amet vehicula quis, eleifend sit amet ligula.</p>
              </div>
            </div>
          </div>
          <div class="four columns">
            <div class="row">
              <div class="four columns phone-one">
                <img src="http://placehold.it/200x200" alt="Photo of Tutor">
              </div>
              <div class="eight columns phone-three">
                <h5>Tutor Name</h5>
                <p>Ut erat nunc, viverra sit amet vehicula quis, eleifend sit amet ligula. Ut erat nunc, viverra sit amet vehicula quis, eleifend sit amet ligula.</p>
              </div>
            </div>
          </div>
          <div class="four columns">
            <div class="row">
              <div class="four columns phone-one">
                <img src="http://placehold.it/200x200" alt="Photo of Tutor">
              </div>
              <div class="eight columns phone-three">
                <h5>Tutor Name</h5>
                <p>Ut erat nunc, viverra sit amet vehicula quis, eleifend sit amet ligula. Ut erat nunc, viverra sit amet vehicula quis, eleifend sit amet ligula.</p>
              </div>
            </div>
          </div>
        </div>
      </div></section>
      
      <section>
        <div class="row">
          <div class="seven columns centered center">
            <h2 class="tight"><span>Ready to give us a try?</span></h2>
            <a class="large button" href="javascript:;" data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('2'); $('#signup_user_type').change();"><span class="icon rocket">Create Your Student Account</span></a>
            <p class="faded">If you're a tutor, <a href="javascript:;" data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('1'); $('#signup_user_type').change();">sign up here</a>.</p>
          </div>
        </div>
      </section>
      
	<div id="modal-video" class="reveal-modal video">
  		<a class="close-reveal-modal">&#215;</a>
	</div>
{% endblock %}
