{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags pagination_tags %}

{% block title %}Search{% endblock %}
{% block body_class %}app student{% endblock %}
{% block content %}
	{% with user.is_authenticated as is_authenticated %}
		{% with class.tutor as tutor %}
		{% with class.student as student %}
		{% with tutors.count as no_tutors %}
		
		      <section class="blue feature-box"><div class="inner">
		        <h1>Search <span>Find the perfect tutor for your next class.</span></h1>
		      </div></section>
		      
		      <div class="hide-on-phones">
		      {% include 'profile/fragments/_timer.html' %}
		      </div>
		
		
		      <section class="row clear">
			    <form method="get" action="{% url search %}" class="nice">
		        <div class="twelve columns">
		          <div class="row">
		              <div class="four columns">
		              
		                <div class="row space">
		                  <div class="three columns">
		                    <label>Subject</label>
		                  </div>
		                  <div class="nine columns">
		                    <select id="id_subject" class="stretch" name="subject">
		                      <option value="">Any subject</option>
		                      {% for subject in subjects %}
		                      	 <option value="{{subject.id}}">{{subject}}</option>
		                      {% endfor %}
		                    </select>
		                  </div>
		                </div>
		
		                <div class="row space">
		                  <div class="three columns">
		                    <label>Price <span id="tooltip-price">[?]</span></label>
		                  </div>
		                  <div class="nine columns">
		                  	 <div class="five columns">
			                    <input id="id_price-from" type="text" class="input-text" name="price-from" placeholder="no min">
			                 </div>
			                 <div class="two columns" style="text-align:center;">to</div>
		                  	 <div class="five columns">
			                    <input id="id_price-to" type="text" class="input-text" name="price-to" placeholder="no max">
			                 </div>
		                  </div>
		                </div>
		                
		              </div>
		              
		              <div class="four columns">
		                
		                <div class="row space">
		                  <div class="three columns">
		                    <label>System</label>
		                  </div>
		                  <div class="nine columns">
		                    <select id="id_system" class="stretch" name="system">
		                      <option value="">Any educational system</option>
	                      	  {% for system in systems %}
		                      <option value="{{system.id}}">{{system}}</option>	                      
		                      {% endfor %}
		                    </select>
		                  </div>
		                </div>
		                
		                <div class="row">
		                  <div class="three columns">
		                    <label>Level</label>
		                  </div>
		                  <div class="nine columns">
		                    <select id="id_level" class="stretch" name="level">
		                      <option value="">Any level</option>
		                      {% if selected_system %}
			                      {% for level in selected_system.levels.all %}
				                      <option value="{{level.id}}">{{level}}</option>
			                      {% endfor %}
		                      {% else %}
			                      <option disabled="disabled">Select educational system first</option>
			                  {% endif %}
		                    </select>
		                  </div>
		                </div>
		
		              </div>
		              
		              <div class="four columns">
		              
		                <div class="row space">
		                  <div class="three columns">
		                    <label>Availability</label>
		                  </div>
		                  <div class="nine columns">
		                    <div class="row">
		                      <div class="six columns">
		                        <select id="id_day" class="stretch" name="day">
		                        	<option value="-1">Any Day</option>
		                          	<option value="0">Monday</option>
		    						<option value="1">Tuesday</option>
		        					<option value="2">Wednesday</option>
							        <option value="3">Thursday</option>
							        <option value="4">Friday</option>
							        <option value="5">Saturday</option>
							        <option value="6">Sunday</option>
		                        </select>
		                      </div>
		                      <div class="six columns">
		                        <select class="stretch" id="id_time" name="time">
		                          	<option value="-1">Any Time</option>
		                          	<option value="0">00:00</option>
		    						<option value="1">01:00</option>
		        					<option value="2">02:00</option>
							        <option value="3">03:00</option>
							        <option value="4">04:00</option>
							        <option value="5">05:00</option>
							        <option value="6">06:00</option>
							        <option value="7">07:00</option>
		                          	<option value="8">08:00</option>
		    						<option value="9">09:00</option>
		        					<option value="10">10:00</option>
							        <option value="11">11:00</option>
							        <option value="12">12:00</option>
							        <option value="13">13:00</option>
							        <option value="14">14:00</option>
							        <option value="15">15:00</option>
		                          	<option value="16">16:00</option>
		    						<option value="17">17:00</option>
		        					<option value="18">18:00</option>
							        <option value="19">19:00</option>
							        <option value="20">20:00</option>
							        <option value="21">21:00</option>
							        <option value="22">22:00</option>
						         	<option value="23">23:00</option>
		                        </select>
		                      </div>
		                    </div>
		                  </div>
		                </div>
		
		                <div class="row">
		                  <div class="four columns">
		                    <label>CRB checked</label>
		                  </div>
		                  {% if user_profile.type == user_profile.TYPES.STUDENT or user_profile.type == user_profile.TYPES.UNDER16 %}
			                  <div class="two columns">
			                    <input id="id_crb" name="crb" type="checkbox" />
			                  </div>
			                  <div class="four columns">
			                    <label>Favorite tutor</label>
			                  </div>
			                  <div class="two columns">
			                    <input id="id_favorite" name="favorite" type="checkbox" />
			                  </div>
						  {% else %}
			                  <div class="eight columns">
			                    <input id="id_crb" name="crb" type="checkbox" />
			                  </div>						  
		                  {% endif %}
		                </div>
		                
		              </div>
		              
		
		          </div>
		            <div class="button" style="float: right;"><input type="submit" class="icon search" value="Search"></div>
		        </div>
		      </form>
		      </section>
		      
		      <hr class="big">
		      
		      <div class="row">
		        <div class="twelve columns">
		            <form>
		              <div class="eight columns">{{no_tutors}} tutor{{no_tutors|pluralize}} ha{{no_tutors|pluralize:"s,ve"}} been found.</div>
		              <div class="two columns">
				          <div class="right filter">
				              <select id="results-per-page" class="stretch">
				                <option value="10">10 results per page</option>
				                <option value="25">25 results per page</option>
				                <option value="50">50 results per page</option>
				                <option value="100">100 results per page</option>
				              </select>
				          </div>
		              </div>
		              <div class="two columns">
				          <div class="right filter">
				              <select id="search-filter" class="stretch">
				                <option value="price">Sort by Price</option>
				                <option value="rating">Sort by Rating</option>
				                <option value="classes">Sort by Classes Given</option>
				              </select>
				          </div>
		              </div>
		            </form>
		          </div>
		        </div>
		        
		        </div>
		      </div>
			  {% autopaginate tutors results_per_page %}
		      {% for tutor in tutors %}
		      {% with tutor.profile as tutor_profile %}
			      <article>
			        <div class="row search-results-item">
			          <div class="one columns hide-on-phones">
			            <img src="{% version tutor_profile.get_profile_image_path 'list_tutors' %}" alt="{{tutor.get_full_name}}">
			          </div>
			          
			          <div class="three columns">
			            <h3 class="title"><a href="{% url profile tutor.username %}">{{tutor.get_full_name}}</a></h3>
			            <p>
			            	<span class="credits">{% if tutor_profile.min_credits != tutor_profile.max_credits %}{{tutor_profile.min_credits}}-{{tutor_profile.max_credits}}{% else %}{{tutor_profile.max_credits}}{% endif %}</span><br/>
			            	{% if tutor_profile.webcam %}
				            	<span class="tutor-information">
				            		<a title="Webcam" class="no-hover"><i class="icon-videocam"></i></a>
			            		</span>
		            		{% endif %}
		            		{% if tutor_profile.crb_checked %}
			            		<span class="tutor-information">
			            			<a title="CRB Checked" class="no-hover"><i class="icon-ok"></i> CRB</a>
			            		</span>
		            		{% endif %}
			            </p>
			          </div>
			          
			          <div class="six columns">
			            {% if tutor_profile.get_about %}
			            <p>{{tutor_profile.get_about|truncatechars:160}}<br/><a href="{% url profile tutor.username %}">Read More</a></p>
						{% else %}
			            <p>No description<br/><a href="{% url profile tutor.username %}">Read More</a></p>						
			          	{% endif %}
			          </div>
			          
					  <!--<div class="two columns rating">
		              	{% get_avg_stars tutor_profile.avg_rate %}
			            <div class="reviews">
			              <span class="hidden">Rating: {{tutor_profile.avg_rate}}.</span>
			              <a href="{% url profile tutor.username %}">{{tutor_profile.no_reviews}} review{{tutor_profile.no_reviews|pluralize}} | {{tutor_profile.classes_given}} classes</a>
			            </div>
			          </div>-->
			          
			          <div class="two columns action">
			            {% if tutor_profile.video_approved and tutor_profile.video %}
			            	<a href="javascript:;" class="watch-video" data-reveal-id="modal-video" onclick="change_video_profile('{{tutor_profile.get_video_id}}');"><i class="icon-videocam"></i> Watch Video</a>
			            {% else %}
			            	<a class="watch-video text-gray"><i class="icon-videocam"></i> No Video</a>			            
			            {% endif %}
						
						{% if is_authenticated %}
							{% with tutor|get_messages:user as messages %}
							{% if not tutor_profile.crb_checked %}
								{% if user_profile.type == user_profile.TYPES.PARENT or user_profile.type == user_profile.TYPES.UNDER16 %}
									
						            <a href="javascript:;" class="send-message message-user-{{tutor.id}}-link" onclick="setup_alert_box(function(){ view_modal_messages({{tutor.id}}); }, 'modal-message');" data-reveal-id="modal-alert-crb"><i class="icon-comment"></i> 
						            	{% if messages.unread %}
						            		{{ messages.unread }} New Message{{ messages.unread|pluralize }}
							          	{% else %}
							          		{% if messages.has_messages %} 
							            		View Messages
							            	{% else %}
								          		Send a Message
							            	{% endif %}
							            {% endif %}
						            </a>
						            
						            <a href="javascript:;" class="book-class" onclick="setup_alert_box(function(){ window.location.href = '{% url book_class tutor.username %}'; });" data-reveal-id="modal-alert-crb"><i class="icon-ok"></i> Book a Class</a>
								{% else %}
									{% if user_profile.type != user_profile.TYPES.TUTOR %}
						            <a href="javascript:;" class="send-message message-user-{{tutor.id}}-link" data-reveal-id="modal-message" onclick="view_modal_messages({{tutor.id}});"><i class="icon-comment"></i> 
						            	{% if messages.unread %}
						            		{{ messages.unread }} New Message{{ messages.unread|pluralize }}
							          	{% else %}
							          		{% if messages.has_messages %} 
							            		View Messages
							            	{% else %}
								          		Send a Message
							            	{% endif %}
							            {% endif %}
									</a>
	
						            <a href="{% url book_class tutor.username %}" class="book-class"><i class="icon-calendar-inv"></i> Book a Class</a>				
									{% endif %}
								{% endif %}
				            {% else %}
				            	{% if user_profile.type != user_profile.TYPES.TUTOR %}
					            <a href="javascript:;" class="send-message message-user-{{tutor.id}}-link" data-reveal-id="modal-message" onclick="view_modal_messages({{tutor.id}});"><i class="icon-comment"></i>  
					            	{% if messages.unread %}
					            		{{ messages.unread }} New Message{{ messages.unread|pluralize }}
						          	{% else %}
						          		{% if messages.has_messages %} 
						            		View Messages
						            	{% else %}
							          		Send a Message
						            	{% endif %}
						            {% endif %}
				            	</a>
					            <a href="{% url book_class tutor.username %}" class="book-class"><i class="icon-calendar-inv"></i> Book a Class</a>
								{% endif %}
							{% endif %}
			            	{% if user_profile.type != user_profile.TYPES.TUTOR %}
					            <a href="javascript:;" class="favorite tutor-favorite-{{tutor.id}}" id-tutor="{{tutor.id}}"><i class="icon-star"></i>&nbsp;<span>{% if tutor|is_favorite:user %}Remove favorite{% else %}Add favorite{% endif %}</span></a>
							{% endif %}
				            <a href="{% url report tutor.username %}" class="report text-red"><i class="icon-flag"></i> Report</a>
				            {% endwith %}
				        {% else %}
				            <a href="{% url book_class tutor.username %}" class="book-class"><i class="icon-calendar-inv"></i> Book a Class</a>
			            			        
				        {% endif %}
			          </div>
			        </div>
			      </article>
		      {% endwith %}
		      {% endfor %}
		      {% paginate %}
		
		{% endwith %}
		{% endwith %}
		{% endwith %}
		
		{% if is_authenticated %}
			{% with 'True' as can_send_message %}
			  {% include 'profile/fragments/_modal_messages.html' %}
			{% endwith %}
		{% endif %}
		
		  {% include 'profile/fragments/_modal_video.html' %}
		  {% include 'profile/fragments/_alert_crb.html' %}
		
		
		<script>
			$(document).ready(function(){
			  	$('select#id_system').change(function(){
			  		var value = $(this).val();
			  		if(value) {
			  			$('#id_level').load('{% url system_levels_options %}'+ value +'/1/');
			  		} else {
			  			$('#id_level').html(
			  				'<option value="">Any level</option>'+
			  				'<option disabled="disabled">Select educational system first</option>'
			  			);
			  		}
			  	});

				var results_per_page = $.query.get('results_per_page');
				if (results_per_page) {
					$("select#results-per-page option[value='" + results_per_page +"']").attr("selected", true);
				}

				var sort = $.query.get('sort');
				if (sort) {
					$("select#search-filter option[value='" + sort +"']").attr("selected", true);
				}
				
				var subject = $.query.get('subject');
				if (subject) {
					$("select#id_subject option[value='" + subject +"']").attr("selected", true);
				}
		
				var system = $.query.get('system');
				if (system) {
					$("select#id_system option[value='" + system +"']").attr("selected", true);
				}
				
				var level = $.query.get('level');
				if (level) {
					$("select#id_level option[value='" + level +"']").attr("selected", true);
				}
		
				var price_from = $.query.get('price-from');
				if (price_from) {
					$("input#id_price-from").val(price_from);
				}
				
				var price_to = $.query.get('price-to');
				if (price_to) {
					$("input#id_price-to").val(price_to);
				}

				var day = $.query.get('day');
				if (day>=0) {
					$("select#id_day option[value='" + day +"']").attr("selected", true);
				}
		
				var time = $.query.get('time');
				if (time>=0) {
					$("select#id_time option[value='" + time +"']").attr("selected", true);
				}
				
				var crb = $.query.get('crb');
				if (crb) {
					$('#id_crb').attr('checked', 'checked');
				}

				var favorite = $.query.get('favorite');
				if (favorite) {
					$('#id_favorite').attr('checked', 'checked');
				}
				
				$("#search-filter").change(function(e){
					var value = $(this).val();
					if (value !== undefined || value !== ""){
						var url = window.location.host;
						window.location = $.query.set('sort', value);
					}
				});

				$("#results-per-page").change(function(e){
					var value = $(this).val();
					if (value !== undefined || value !== ""){
						var url = window.location.host;
						window.location = $.query.set('results_per_page', value);
					}
				});

				$('.favorite').click(function(){
					var tutor_id = $(this).attr('id-tutor');
					$.get('{% url favorite %}'+ tutor_id +'/', function(response){
						$('.tutor-favorite-'+ tutor_id +' span').html(response);
					});
				});
			});
		</script>
		<script type="text/javascript">
			$(window).ready(function(){
				$('#tooltip-price').{% if request.mobile %}clickover{% else %}popover{% endif %}({
					title: 'Price',
					content: 'prices throughout the site are based on a credit system. 1 credit is equal to 1 pound Sterling. '+
					         'If you have a EUR or USD account then a credit’s value will change over time, 1 credit is currently equivalent to: <br/>' +
							 {% for currency in currencies %}
							 {% if currency.acronym != 'GBP' %}
							 '- {{currency.acronym}}: {{currency.symbol}}{{currency.credit_value|floatformat:2}}{% if not forloop.last %}<br/>'+{% else %}'{% endif %}
							 {% endif %}
							 {% endfor %}
				});
			});
		</script>
	{% endwith %}
{% endblock %}