{% extends "admin/change_form.html" %}
{% load fb_versions common_tags tutor_tags classes_tags %}

{% block content %}

	{{ block.super }}
	
	<div>
		<div style="float: left;">
			<h4>Class Materials</h4>
			{% for item in original.get_material %}
			{% if item.allowdownload == '1' %}
			<tr>
				<td><a href="{% url class_download original.id %}?id={{item.assetid}}" target="_blank">{{item.clientfilename}}</a></td>
			</tr>
			{% endif %}		
			{% empty %}
			<tr><td>No assets available for this class</td></tr>
			{% endfor %}
		</div>
		
		<div style="float: left; margin-left: 20px;">
			<h4>Class Recordings</h4>
			{% for item in original.get_recordings %}
			<tr>
				<td><a target="_blank" href="{{original|rec_url:item.recid}}" target="_blank">Record {{forloop.counter}}</a></td>
			</tr>
			{% empty %}
			<tr><td>No recordings available for this class</td></tr>
			{% endfor %}
		</div>
	</div>
	<div style="clear: both;"></div>
	
{% endblock %}