{% load classes_tags %}

<div id="modal-next-steps" class="reveal-modal message review">
	<h4>Thank you for signing up to Wizoku!</h4>
    <div id="modal-next-steps-container">
		<p><br/>	
			We are currently reviewing your application. Once we have approved it, your complete profile will become publicly visible.<br/>
</p>
		<p>
			Take some time to improve your chances of being selected by enhancing your profile with 
			a video introduction to yourself and uploading some qualifications. <br/>
		</p>
		<p>
			Finally, start familiarizing yourself with our interactive classroom to prepare for your first class.
		</p>
		<div style="padding-right: 13px;">
		  <a onclick="$('#modal-next-steps-close').click();" class="button" href="javascript:;"><span class="icon thumb-up">Close</span></a>
		</div>					
    </div>
  	<a id="modal-next-steps-close" class="close-reveal-modal">&#215;</a>
</div>
<script>
	$(window).ready(function(){
		$('#modal-next-steps').reveal();
	});
</script>