{% load classes_tags %}

<div id="modal-withdraw" class="reveal-modal message">
	<h4>Withdraw credits</h4>
    <div id="modal-withdraw-loading" class="modal-loading"></div>
    <div id="modal-withdraw-container">
 
	  <form id="modal-withdraw-form" class="nice">
	  	{% csrf_token %}
		<div class="row">&nbsp;</div>
		{% with user_profile.available_withdraw as available_withdraw %}
		{% if available_withdraw.income > 0 %}
		<div class="row">
			<p>Warning: You will incur a small fee for withdrawing credits outside of the usual monthly payment.</p>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
		  <div class="eight columns">        
		    <label>Credits available to withdraw</label>
		  </div>
		  <div class="four columns">
			<strong>{{available_withdraw.credits}} credits</strong>
		  </div>	  
		</div>
		<div class="row">
		  <div class="eight columns">        
		    <label>Withdrawing Fee</label>
		  </div>
		  <div class="four columns">
			<strong>{{available_withdraw.commission}} credits</strong>
		  </div>	  
		</div>
		<div class="row">
		  <div class="eight columns">        
		    <label>Value</label>
		  </div>
		  <div class="four columns">
		  	{% with user_profile.currency as currency %}
			<strong>{{currency.symbol}} {{available_withdraw.income|in_currency:currency|floatformat:2}}</strong>
			{% endwith %}
		  </div>	  
		</div>
		<div class="row">&nbsp;</div>
	  	<div class="row">
		    <input type="submit" class="small button" value="Withdraw">
		</div>
		{% else %}
			{% if user_profile.income %}
			<div class="row">
				<p>Your request is being processed.</p>
			</div>
			{% else %}
			<div class="row">
				<p>You don't have credits to withdraw.</p>
			</div>		
			{% endif %}
		{% endif %}
		{% endwith %}
	  </form>
      	
    </div>
  	<a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
	$('#modal-withdraw-loading').hide();
	
	$('#modal-withdraw-form').submit(function(e){
		e.preventDefault();
		$('#modal-withdraw-container').fadeOut(function(){
			$('#modal-withdraw-loading').fadeIn(function(){
				$.ajax({
					type: 'post',
					url: '{% url withdraw %}',
					data: $('#modal-withdraw-form').serialize(),
					success: function(response) {
						$('#modal-withdraw-loading').fadeOut(function(){
							$('#modal-withdraw-container').html(
								'<form action="{% url edit_profile %}" method="get">'+
								'<div class="row">&nbsp;</div>'+
								'Your request has been sent. This action can take some minutes to be successfully processed. Thank you.'+
								'<div class="row">&nbsp;</div>'+
								'<div class="row"><input type="submit" class="small button" value="Close"></div>'+
								'</form>'
							);
							$('#modal-withdraw-container').fadeIn();
						});				
					}
				});
			});
		});
		$('#id_credits_errors').removeClass('hidden');
	});
</script>