{% load fb_versions common_tags space_tags %}

{% with space.photos.all as photos %}
<div class="carousel-box2">
	<div id="space-edit-main-photo-container" class="carousel {% if not photos %}hidden{% endif %}">
		<div class="holder">
			<ul>
				<li><img id="space-edit-main-photo-{{space.id}}" src="{% version photos.0.photo.path 'edit_office_photo' %}" width="310" height="161" alt="{{space.name}}" /></li>
			</ul>
		</div>
	</div>
	<div class="my-offices-gallery-thumb-container">
		<ul id="space-edit-photos-list_{{space.id}}" class="gallery my-offices-gallery-thumbs-list">
			{% for photo in photos %}
				{% include "profile/fragments/my_offices/_photo.html" %}
			{% endfor %}
		</ul>
	</div>
	<ul class="switcher">
		{% with photos.count|gallery_paginator as no_pages %}
		{% for index in 0|range_to:no_pages %}
		<li class="gallery-photo-index {% if forloop.first %}active{% endif %}"><a href="javascript:;" onclick="switch_gallery_page_{{space.id}}({{forloop.counter0}});">{{forloop.counter}}</a></li>
		{% endfor %}
		{% endwith %}
	</ul>
	<script type="text/javascript">
		var switch_gallery_page_{{space.id}} = function(index) {
			$('#space-edit-photos-list_{{space.id}}').animate({'margin-left': -326*index+'px'}, {'easing': 'easeOutExpo'});
		}
	</script>
</div>
{% endwith %}

<script type="text/javascript">
	var space_activate_photo_{{space.id}} = function(src) {
		$('#space-edit-main-photo-{{space.id}}').fadeOut(function(){
			$(this).attr('src', src);
			$(this).fadeIn();
		});
	}
</script>