:focus { border: none; outline: none; }
.hidden { display: none; }

body.classroom .container { height: 100%; }

dl.nice.contained.tabs dd a { padding: 7px 10px 9px; }

.auto-width { width: auto !important; max-width: none !important; }

.sign-in { height: auto; }
.sign-in .row.center { text-align: center; }
.sign-in .row.padding { padding: 10px 0; }

.signup-loading { background: url('../images/icons/messages-ajaxloader.gif') no-repeat center 60px; height: 150px; }
.sign-up-terms-and-conditions { border: 1px solid #ccc; padding: 5px; height: 200px; overflow: auto; }

.sign-in .row.center .facebook_connect_link { margin: 0 auto; }
.facebook_connect_link {
    background: url("../images/social/facebook_connect.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 29px;
    overflow: hidden;
    text-indent: -9999px;
    width: 261px;
}
.sigin-popup.facebook_connect_link {
	display: inline-block;
}
#signup-form2 .facebook_connect_link { margin-left: 120px; }
#signup-form2 .dropdown { width: 220px !important; }
#signup-form2 .dropdown ul { width: 218px !important; }

.ac_item-container {
    background: url("../images/shared/tag.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #55AE40;
    border-radius: 30px 30px 30px 30px;
    color: #FFFFFF;
    display: block;
    margin: 0 0 2px;
    padding: 3px 20px;
    text-shadow: 0 -1px 0 #56B142;
    overflow: auto;
}
.ac_item-text { float: left; }
.ac_item-delete { float: right; cursor: pointer; }

.formError { padding: 0px; margin: 10px 0 0 0; color: #900; }
.formError ul, .formError li { padding: 0px !important; margin: 0px !important; }
label.margin-top { margin: 5px 0 0 0; }

.reveal-modal.signup h2 { text-align: left; }
.reveal-modal.signup .row.margin { margin-bottom: 20px; }
.date_of_birth .custom.dropdown { float: left; margin-right: 10px; }
.date_of_birth .custom.dropdown ul { height: 150px; overflow: auto; }

h1.left-align, h2.left-align, h3.left-align { text-align: left; }

.main.scribblar-container { padding: 0; margin 0; height: 95%; }
.main.scribblar-container object { height: 90%; }

.tutor-qualifications-list li { margin: 0; }

.message .messages .inside { overflow: auto; }

.modal-loading { height: 200px; background: url('../images/icons/messages-ajaxloader.gif') no-repeat center 60px; }
.message .messages .inside.loading { background: url('../images/icons/messages-ajaxloader.gif') no-repeat center 60px; }

ul.errorlist li { color: red; }

.profile-completeness { position: relative; width: 99%; overflow: auto; background: #bbb; height: 20px; border: 1px solid #777; }
.profile-completeness .bar{ position: absolute; top: 0; left: 0; z-index: 1; height: 20px; background: #55AE40; }
.profile-completeness .value{ 
	position: absolute; top: 0; left: 0; padding: 3px 0; width: 100%; z-index: 2; 
	font-size: 12px; line-height: 14px; height: 14px; color: #fff; text-align: center;
}
.text-red.no-hover:hover {
	color: #df6332;
}
.no-hover:hover {
	color: #78AA1A;
}

.link-messages,
.link-classes { padding: 10px !important; height: 22px !important; margin-top: 1px !important;}

p span.credits { font-size: 16px; background-position: right -504px; }

span.tutor-information {
	display: block;
}

.nine.columns.no-margin {
	margin-left: 0;
}
.three.columns.special {
	width: 200px;
}


header .class-info { float: right; color: #fff; line-height: 18px; padding: 5px 15px 0 0; }
header .class-info strong { color: #fff; }
.timer.class-time { float: left; padding: 0; margin: 0px; background: none; overflow: hidden; border: none; height: 40px; }


.classes-filter {
	width: 303px;
	float: right;
	position: relative;
}

.classes-filter form {
	position: absolute;
	top: 22px;
	z-index: 1000000;
	right: 172px;
}

.big-stars-container { position: relative; float: left; width: 110px; height: 21px; background: #ddd; }
.big-stars-container .big-stars-value { position: absolute; top:0; left:0; float: left; height: 21px; z-index: 1; background: #333; }
.big-stars-container .big-stars-cover { position: absolute; top:0; left:0; float: left; width: 110px; height: 21px; z-index: 2; background: url('../images/misc/stars.png'); }

.feature-text .video.button { line-height: 18px; font-size: 2rem;}

.row .checkbox-container { padding-top: 3px !important; }
.row textarea.user.stretch { min-width: 100%; }
