:focus { border: none; outline: none; }
.hidden { display: none; }

.auto-width { width: auto !important; max-width: none !important; }

.sign-in { height: auto; }
.sign-in .row.center { text-align: center; }
.sign-in .row.padding { padding: 10px 0; }

.sign-in .row.center .facebook_connect_link { margin-left: 275px; }
.facebook_connect_link {
    background: url("../images/social/facebook_connect.jpg") no-repeat scroll 0 0 transparent;
    display: block;
    height: 29px;
    overflow: hidden;
    text-indent: -9999px;
    width: 261px;
}
#signup-form2 .facebook_connect_link { margin-left: 120px; }

.formError { padding: 0px; margin: 10px 0 0 0; color: #900; }
.formError ul, .formError li { padding: 0px !important; margin: 0px !important; }
label.margin-top { margin: 5px 0 0 0; }

.reveal-modal.signup h2 { text-align: left; }
.reveal-modal.signup .row.margin { margin-bottom: 20px; }
.date_of_birth .custom.dropdown { float: left; margin-right: 10px; }
.date_of_birth .custom.dropdown ul { height: 150px; overflow: auto; }

h1.left-align, h2.left-align, h3.left-align { text-align: left; }

.main.scribblar-container { padding: 0; margin 0; height: 90%; }
.main.scribblar-container object { height: 90%; }

.tutor-qualifications-list li { margin: 0; }

.message .messages .inside { overflow: auto; }
.message .messages .inside.loading { background: url('../images/icons/messages-ajaxloader.gif') no-repeat center 60px; }
.tabs-content li#availabilityTab { min-width: 1040px; }

ul.errorlist li { color: red; }
