{% load common_tags tutor_tags %}

<div style="min-width: 960px;" class="hide-on-phones">
	<div id="schedule-classes-week-container" class="shedule-box4 edit-space-calendar">
		<div class="scroll-item-container">
			<ul class="shedule4 scroll-item">
				{% for hour in 0|range_to:24 %}
				<li><span class="time">{% if forloop.counter0 < 10 %}0{% endif %}{{hour}}:00</span></li>
				{% endfor %}
			</ul>
		</div>
		
		{% for day, weekday, periods in profile|weekclasses:date %}
			<div id="schedule-week-{{weekday}}-container" class="schedule-weekday shedule-row">
				<div id="schedule-week-{{weekday}}" class="scroll-item-container">
					<div id="schedule-week-{{weekday}}-periods-container" class="shedule5 scroll-item">
						<div class="week-number">{{day|date:"[D] d M Y"}}</div>
						{% for period in periods %}
							{% include "profile/tutor/edit_profile/classes/_week_period.html" %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<div class="show-on-phones">
	<div class="list-week">
		{% for day, weekday, periods in profile|weekclasses:date %}
			<div class="list-week-day">{{day|date:"D, d M y"}}</div>
			{% for period in periods %}
				<div id="list-week-availability-item-{{period.id}}" class="list-week-item">
					<div class="text">from {{period.begin|time:"H:i"}} to {{period.end|time:"H:i"}}</div>
					<div class="actions">
						<a id="availability-delete-{{period.id}}" href="javascript:;" onclick="delete_list_availability_item({{period.id}});">delete</a>
					</div>
				</div>
			{% empty %}
				<div class="list-week-item">
					<div class="text">
						No classes
					</div>
				</div>				
			{% endfor %}
		{% endfor %}		
	</div>
</div>

