<div id="modal-message" class="reveal-modal message">
  <h4>To: <strong>John Doe</strong></h4>
  
  <div class="messages">
    <div class="top"></div>
    <div class="inside">
      <div class="post them">
        <h6>John Doe</h6>
        <p>Message Goes Here</p>
      </div>
      
      <div class="post you">
        <h6>John Doe</h6>
        <p>Message Goes Here</p>
      </div>
      
      <div class="post them">
        <h6>John Doe</h6>
        <p>Message Goes Here</p>
      </div>
      
      <div class="post you">
        <h6>John Doe</h6>
        <p>Message Goes Here</p>
      </div>
      
      <div class="post them">
        <h6>John Doe</h6>
        <p>Message Goes Here</p>
      </div>
      
      <div class="post you">
        <h6>John Doe</h6>
        <p>got a test coming up and need some help.</p>
      </div>
      
      <div class="post them">
        <h6>Patrick Moore</h6>
        <p>Great! Let's make sure you get top marks on that test.</p>
      </div>
    </div>
  </div>
  
  <form class="nice">
    <div class="row">
      <div class="nine columns">
        <input type="text" class="input-text" placeholder="Write a Message ...">
      </div>
      
      <div class="three columns">
        <input type="submit" class="small button" value="Send">
      </div>
    </div>
  </form>

  <a class="close-reveal-modal">&#215;</a>
</div>