<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "dd9ea648-d1dc-414a-b987-5b70d81ab56e"}); </script>

<div id="modal-review" class="reveal-modal message review">
  <h4>Review for: <strong id="modal-review-tutor-name" class="rate-tutor-name">John Doe</strong></h4>
    
  <form id="student-rate-tutor-form"  class="nice">
  	{% csrf_token %}
  	<input id="student-rate-tutor-id" name="user_id" type="hidden" value="0" />
  	<input id="student-rate-tutor-class" name="class_id" type="hidden" value="0" />
  	<input id="student-rate-tutor-rate" name="rate" type="hidden" value="0" />
  	
  	<div class="row">
      <div class="eight columns">
    	<textarea id="student-rate-tutor-text"  name="text">Review this tutor ...</textarea>
	  </div>
	  
      <div class="four columns">
        
        <div id="student-rate-tutor-star" class="rating">
          <a href="javascript:;" onclick="rate_tutor(1);"><span id="student-rate-tutor-star-0" class="star off"></span></a>
          <a href="javascript:;" onclick="rate_tutor(2);"><span id="student-rate-tutor-star-1" class="star off"></span></a>
          <a href="javascript:;" onclick="rate_tutor(3);"><span id="student-rate-tutor-star-2" class="star off"></span></a>
          <a href="javascript:;" onclick="rate_tutor(4);"><span id="student-rate-tutor-star-3" class="star off"></span></a>
          <a href="javascript:;" onclick="rate_tutor(5);"><span id="student-rate-tutor-star-4" class="star off"></span></a>
          <p>Rate <span class="rate-tutor-name">John</span>'s Performance</p>
        </div>
	    <input type="submit" class="small button" value="Send">
        
      </div>
	</div>

  </form>

  <span id="button_1"></span>
  <span id="button_2"></span>
  <span id="button_3"></span>

  <a class="close-reveal-modal">&#215;</a>
</div>


<script type="text/javascript">
	var tutor_rated_user_id;
	var tutor_rated_class_id;
	var tutor_rated_text;
	var tutor_rated_image;
	
	$(window).ready(function(){
		$('#student-rate-tutor-form').submit(function(e){
			e.preventDefault();
			$.ajax({
				type: 'post',
				url: '{% url student_rate_tutor %}',
				data: $('#student-rate-tutor-form').serialize(),
				success: function() {
					window.location.href = '{% url student_classes %}';
				}
			});
		});
		
		$('#student-rate-tutor-text').focusin(function(){
			if ($(this).val() === "Review this guy ...") {
				$(this).val("");
			}
		});
		
		$('#student-rate-tutor-text').focusout(function(){
			if ($(this).val() === "") {
				$(this).val("Review this guy ...");
			}
		});
		
		
	});
	
	var setup_share_buttons = function() {
		$("#button_1").empty();
		$("#button_2").empty();
		$("#button_3").empty();
		
		stWidget.addEntry({
			"service":"facebook",
			"element":document.getElementById('button_1'),
			"url":"http://{{settings.PROJECT_SITE_DOMAIN}}/",
			"title":"{{ user.get_full_name }} rated tutor " + $('#modal-review-tutor-name').html(),
			"type":"large",
			"text": $('#student-rate-tutor-text').val(),
			"summary": $('#student-rate-tutor-text').val(),
			"image": tutor_rated_image
		});
		
		stWidget.addEntry({
			"service":"twitter",
			"element":document.getElementById('button_2'),
			"url":"http://{{settings.PROJECT_SITE_DOMAIN}}/",
			"title":"{{ user.get_full_name }} rated tutor " + $('#modal-review-tutor-name').html(),
			"type":"large",
			"text": $('#student-rate-tutor-text').val(),
			"summary": $('#student-rate-tutor-text').val(),
			"image": tutor_rated_image
		});
		
		stWidget.addEntry({
			"service":"email",
			"element":document.getElementById('button_3'),
			"url":"http://{{settings.PROJECT_SITE_DOMAIN}}/",
			"title":"{{ user.get_full_name }} rated tutor " + $('#modal-review-tutor-name').html(),
			"type":"large",
			"text": $('#student-rate-tutor-text').val(),
			"summary": $('#student-rate-tutor-text').val(),
			"image": tutor_rated_image
		});		
	}
	
	var student_rate_tutor = function(user_id, user_name, class_id, text, rate) {
		$('.rate-tutor-name').html(user_name);
		$('#student-rate-tutor-id').val(user_id);
		$('#student-rate-tutor-class').val(class_id);
		$('#student-rate-tutor-text').val(text ? text : 'Review this guy ...');
		$('#student-rate-tutor-rate').val(rate ? rate : 0);
		
		$.get('{% url get_user_image %}'+ user_id +'/', function(response){
			tutor_rated_image = response;
		});
		
		setup_share_buttons();
		rate_tutor(rate);
	}
	
	var rate_tutor = function(rate) {
		$('#student-rate-tutor-rate').val(rate);
		$('#student-rate-tutor-star .star').removeClass('on');		
		$('#student-rate-tutor-star .star').addClass('off');		
		for(i=0; i<rate; i++) {
			$('#student-rate-tutor-star-'+ i).removeClass('off');		
			$('#student-rate-tutor-star-'+ i).addClass('on');				
		}		
	}
	
	$("#student-rate-tutor-text").live('keyup blur', function(){
		setup_share_buttons();
	});
	
</script>