<div id="modal-view-review" class="reveal-modal message review">
  <h4>Edit Review for: <strong></strong></h4>
    
  <form class="nice">
  
    <div class="row">
      <div class="eight columns">
        <textarea>Ut erat nunc, viverra sit amet vehicula quis, eleifend sit amet ligula. Fusce gravida nibh ut magna varius at scelerisque eros consectetur. Fusce sed.</textarea>
      </div>
      
      <div class="four columns">
        
        <div class="rating">
          <span class="star on"></span>
          <span class="star on"></span>
          <span class="star on"></span>
          <span class="star off"></span>
          <span class="star off"></span>
          <p>Rate John's Performance</p>
        </div>
        
        <input type="submit" class="small button" value="Send">
      </div>
    </div>
  
  </form>

  <a class="close-reveal-modal">&#215;</a>
</div>