<section class="timer">
  <div class="wrapper">
    <div class="one">
      <p>Your next class starts in</p>
    </div>
    
    <div class="two">
      <span class="number">4</span>
      <span>:</span>
      <span class="number">2</span>
      <span class="number">1</span>
      <span>&nbsp;</span>
      <span class="number">5</span>
      <span class="number">7</span>
    </div>
    
    <div class="three">
      <a href="tutor-classroom" class="button hide-on-phones"><span class="rocket icon">Enter Classroom</span></a>
      <p class="show-on-phones">Get to a desktop computer with Flash enabled to enter classroom.</p>
    </div>
  </div>
</section>