
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>


<div id="modal-review" class="reveal-modal message review">
  <h4>Feedback for: <strong id="modal-review-student-name">John Doe</strong></h4>
    
  <form id="tutor-rate-student-form"  class="nice">
  	{% csrf_token %}
  	<input id="tutor-rate-student-id" name="user_id" type="hidden" value="0" />
  	<input id="tutor-rate-student-class" name="class_id" type="hidden" value="0" />
    <textarea id="tutor-rate-student-text"  name="text">Feedback for this student ...</textarea>
    <input type="submit" class="small button" value="Send">
  </form>
  
  <div id="sharethis_buttons"></div>

  <a class="close-reveal-modal">&#215;</a>
</div>


<script type="text/javascript">
	var student_rated_user_id;
	var student_rated_class_id;
	var student_rated_text;
	var student_rated_image;
	var student_rated_url;
	
	$(window).ready(function(){
		$('#tutor-rate-student-form').submit(function(e){
			e.preventDefault();
			$.ajax({
				type: 'post',
				url: '{% url tutor_rate_student %}',
				data: $('#tutor-rate-student-form').serialize(),
				success: function() {
					window.location.href = '{% url tutor_classes %}';
				}
			});
		});
		
		$('#tutor-rate-student-text').focusin(function(){
			if ($(this).val() === "Feedback for this student ...") {
				$(this).val("");
			}
		});
		
		$('#tutor-rate-student-text').focusout(function(){
			if ($(this).val() === "") {
				$(this).val("Feedback for this student ...");
			}
		});
		
	});
	
	var setup_share_buttons = function() {
		$("#sharethis_facebook").remove();
		$("#sharethis_twitter").remove();
		$("#sharethis_email").remove();
		$("#sharethis_buttons").append(
			'<span id="sharethis_facebook"></span>'+
			'<span id="sharethis_twitter"></span>'+
			'<span id="sharethis_email"></span>'
		);
		
		stWidget.addEntry({
			"service":"facebook",
			"element":document.getElementById('sharethis_facebook'),
			"url": student_rated_url,
			"title":"{{ user.get_full_name }} rated student " + $('#modal-review-tutor-name').html(),
			"type":"large",
			"text": $('#tutor-rate-student-text').val(),
			"caption": $('#tutor-rate-student-text').val(),
			"summary": $('#tutor-rate-student-text').val(),
			"image": student_rated_image
		});
		
		stWidget.addEntry({
			"service":"twitter",
			"element":document.getElementById('sharethis_twitter'),
			"url": student_rated_url,
			"title":"{{ user.get_full_name }} rated student " + $('#modal-review-tutor-name').html(),
			"type":"large",
			"text": $('#tutor-rate-student-text').val(),
			"summary": $('#tutor-rate-student-text').val(),
			"image": student_rated_image
		});
		
		stWidget.addEntry({
			"service":"email",
			"element":document.getElementById('sharethis_email'),
			"url": student_rated_url,
			"title":"{{ user.get_full_name }} rated student " + $('#modal-review-tutor-name').html(),
			"type":"large",
			"text": $('#tutor-rate-student-text').val(),
			"summary": $('#tutor-rate-student-text').val(),
			"image": student_rated_image
		});		
	}

	var tutor_rate_student = function(user_id, user_name, class_id, text) {
		$('#modal-review-student-name').text(user_name);
		$('#tutor-rate-student-id').val(user_id);
		$('#tutor-rate-student-class').val(class_id);
		$('#tutor-rate-student-text').val(text ? text : 'Feedback for this student ...');
				
		$.get('{% url get_user_data %}'+ user_id +'/', function(response){
			var response_splited = response.split(',');
			student_rated_image = response_splited[0];
			student_rated_url = response_splited[1];
			setup_share_buttons();		
		});
	}

	$("#tutor-rate-student-text").keyup(function(){
		setup_share_buttons();		
	});
</script>