<div id="modal-view-review-received" class="reveal-modal message review">
  <h4>Review Received from: <strong>John Doe</strong></h4>

  <div class="row">
    <div class="twelve columns">
    
      <p>Ut erat nunc, viverra sit amet vehicula quis, eleifend sit amet ligula. Fusce gravida nibh ut magna varius at scelerisque eros consectetur. Fusce sed.</p>
      
      <div class="rating">
        <span class="star on"></span>
        <span class="star on"></span>
        <span class="star on"></span>
        <span class="star off"></span>
        <span class="star off"></span>
      </div>
    </div></div>


  <a class="close-reveal-modal">&#215;</a>
</div>