{% load classes_tags %}

<div id="modal-book-class" class="reveal-modal message">
	<h4>Book a class</h4>
    <div id="modal-book-class-loading" class="modal-loading"></div>
    <div id="modal-book-class-container">
	  <form id="modal-book-class-form" class="nice">
	  	{% csrf_token %}
		<div class="row">&nbsp;</div>
		<div id="book-class-errors" class="formError"></div>
		
		{% if user_profile.type == user_profile.TYPES.PARENT %}
		<div class="row">
		  <div class="four columns phone-one">        
		    <label>Child*</label>
		  </div>
		  <div class="eight columns phone-three">
			<select id="book-child" name="child" class="stretch">
				<option value="0">---------</option>
				{% for item in user.children.all %}
				{% with item.child as child %}
				<option value="{{child.id}}">{{child.get_full_name}}</option>
				{% endwith %}
				{% endfor %}
			</select>
		  </div>	  
		</div>
		{% endif %}

		<div class="row">
		  <div class="four columns phone-one">        
		    <label>Date*</label>
		  </div>
		  <div class="eight columns phone-three">
			<select id="book-class-date" name="date" class="stretch">
			</select>
		  </div>	  
		</div>
		
		<div class="row">
		  <div class="four columns phone-one">        
		    <label>Subject*</label>
		  </div>
		  <div class="eight columns phone-three">
			<select id="book-class-subject" name="subject" class="stretch">
				<option value="0">---------</option>
				{% for subject in person.subjects.all %}
					<option value="{{subject.id}}">{{subject}}</option>
				{% endfor %}
			</select>
		  </div>	  
		</div>
		
		<div class="row">
		  <div class="four columns phone-one">        
		    <label>Time*</label>
		  </div>
		  <div class="eight columns phone-three">
		  	<select id="book-class-start" name="start" class="stretch"></select>
		  </div>	  
		</div>
		
		<div class="row">
		  <div class="four columns phone-one">        
		    <label>Duration*</label>
		  </div>
		  <div class="eight columns phone-three">
		  	<select id="book-class-duration" name="duration" class="stretch">
		  		<option value="0">--</option>
		  		<option value="30">30 min</option>
		  		<option value="60">60 min</option>
		  		<option value="90">90 min</option>
		  		<option value="120">120 min</option>
		  	</select>		  		
		  </div>	  
		</div>

		<div class="row">
		  <div class="four columns phone-one">        
		    <label>Topics</label>
		  </div>
		  <div class="eight columns phone-three">
		  	<textarea id="id-book-cover" name="cover">Topics you would like to cover (optional)</textarea>		  		
		  </div>	  
		</div>

		<div class="row">
		  <div class="four columns phone-one">        
		    <label>Message</label>
		  </div>
		  <div class="eight columns phone-three">
		  	<textarea id="id-book-message" name="message">Write a message to tutor (optional)</textarea>		  		
		  </div>	  
		</div>

		<div class="row">&nbsp;</div>
	  	<div class="row">
		    <input type="submit" class="small button" value="Book class">
		</div>
	  </form>
      	
    </div>
  	<a class="close-reveal-modal">&#215;</a>
</div>

<script type="text/javascript">
	$('#id-book-cover').focus(function(){
		if($(this).val() == 'Topics you would like to cover (optional)') {
			$(this).val('');
		}			
	});
	$('#id-book-cover').blur(function(){
		if($(this).val() == '') {
			$(this).val('Topics you would like to cover (optional)');
		}			
	});
	$('#id-book-message').focus(function(){
		if($(this).val() == 'Write a message to tutor (optional)') {
			$(this).val('');
		}			
	});
	$('#id-book-message').blur(function(){
		if($(this).val() == '') {
			$(this).val('Write a message to tutor (optional)');
		}			
	});
</script>
<script type="text/javascript">
	var book_start_date, book_end_date;
	var book_months_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
	var set_booking_selection = function(year, month, day, start_hour, start_min, end_hour, end_min) {
		var book_time = new Date(year, month, day, start_hour, start_min);
		
		book_start_date = new Date(year, month, day, start_hour, start_min);
		book_end_date = new Date(year, month, day, end_hour, end_min);
		if (book_end_date <= book_start_date)
			book_end_date.setDate(book_end_date.getDate()+1);

		book_date = year +'-'+ (month<9?('0'+(month+1)):(month+1)) +'-'+ day;
		book_date_display = (day<10?'0'+day:day) +' '+ book_months_list[month] +' '+ year;

		$('#book-class-errors').html('');
		$('#book-class-errors').addClass('hidden');
		$('#book-class-subject').val('0');
		$('#book-class-duration').val('0');
		$('#book-class-date').html('<option value="'+ book_date +'" selected="selected">'+ book_date_display +'</div>');
		
		$('#book-class-start').html('');
		while(book_time < book_end_date){
			$('#book-class-start').append(
				'<option value="'+ book_time.getHours() +'-'+ book_time.getMinutes() +'">'+
				 	(book_time.getHours() < 10 ? '0'+book_time.getHours() : book_time.getHours()) +
				 	':'+
				 	(book_time.getMinutes() < 10 ? '0'+book_time.getMinutes() : book_time.getMinutes()) +
				'</option>'
			);
		 	book_time.setMinutes(book_time.getMinutes()+15);
		}	
	}

	$('#modal-book-class-loading').hide();
	
	$('#modal-book-class-form').submit(function(e){
		e.preventDefault();
		
		var date = $('#book-class-date').val();
		var start = $('#book-class-start').val();
		var start_str = start.split('-');
		var start_hour = start_str[0];
		var start_min = start_str[1];
		var duration = parseInt($('#book-class-duration').val());
		var subject = parseInt($('#book-class-subject').val());		
		var child = {% if user_profile.type == user_profile.TYPES.PARENT %}parseInt($('#book-child').val()){% else %}true{% endif %};
		
		if(subject && duration && child) {
			var book_time = new Date(book_start_date.getTime());
			book_time.setHours(start_hour);
			book_time.setMinutes(start_min);
			book_time.setMinutes(book_time.getMinutes()+duration);
			
			if(book_time <= book_end_date) {
				$('#book-class-errors').addClass('hidden');			
				$('#modal-book-class-container').fadeOut(function(){
					$('#modal-book-class-loading').fadeIn(function(){
						$.ajax({
							type: 'post',
							url: '{% url confirm_book_class person.id %}',
							data: $('#modal-book-class-form').serialize(),
							complete: function(response) {
								$('#modal-book-class-loading').fadeOut(function(){
									$('#modal-book-class-container').fadeIn();
								});
							},								
							success: function(response){
								if(response=='Done.') {
									{% if user_profile.type == user_profile.TYPES.PARENT %}
									window.location.href = '{% url edit_profile %}';
									{% else %}
									window.location.href = '{% url student_classes %}';
									{% endif %}
								} else {
									$('#book-class-errors').html(response);
									$('#book-class-errors').removeClass('hidden');
								}
							},
							error: function(){
								$('#book-class-errors').html("It's not possible to book a "+ duration +" minutes class starting at "+ start_hour +'h'+ start_min +'.');
								$('#book-class-errors').removeClass('hidden');			
							}
						});
					});
				});	
			} else {				
				$('#book-class-errors').html("It's not possible to book a "+ duration +" minutes class starting at "+ start_hour +'h'+ start_min +'.');
				$('#book-class-errors').removeClass('hidden');			
			}
		} else {
			$('#book-class-errors').html('All the fields below are required.');
			$('#book-class-errors').removeClass('hidden');			
		}
		
	});
	
	var add_book_class_clear = function(weekday){
		$('select').val('-1');
		$('#book-class-weekday').val((!isNaN(weekday))?weekday:'');
		$('#book-class-errors').html('');
		$('#book-class-errors').addClass('hidden');
	}
</script>