{% load common_tags tutor_tags %}

<div class="show-on-phones">
	<div class="list-week">
		{% for day, availability in week %}
			<div class="list-week-day">{{day|date:"D, d M y"}}</div>
			<div id="list-week-day-{{day.weekday}}-list">
				<div id="list-week-day-{{day.weekday}}-empty" class="list-week-item">No availability for this day</div>
			</div>
			{% empty %}
		{% endfor %}		
	</div>
</div>

<div style="min-width: 960px;" class="hide-on-phones">
	<div id="schedule-default-week-container" class="shedule-box4 edit-space-calendar">
		<div class="scroll-item-container">
			<ul class="shedule4 scroll-item">
				{% for hour in 0|range_to:24 %}
				<li><span class="time">{% if forloop.counter0 < 10 %}0{% endif %}{{hour}}:00</span></li>
				{% endfor %}
			</ul>
		</div>
		
		<div>
			{% for day, availability in week %}
				<div id="schedule-week-{{day.weekday}}-container" class="schedule-weekday shedule-row">
					<div id="schedule-week-{{day.weekday}}" class="scroll-item-container">
						<div id="schedule-week-{{day.weekday}}-periods-container" class="shedule5 scroll-item">
							<div class="week-number">{{day|date:"[D] d M Y"}}</div>
							{% include "profile/tutor/book_class/_week_period.html" %}
						</div>
					</div>
					<div id="schedule-week-{{day.weekday}}-tooltip" class="slider-tooltip hidden">
						<div class="book-not-selected">
							<div class="slider-tooltip-head">
								<strong class="title2">{{day|date:"l, F jS,1 Y"}}</strong>
								<div id="schedule-week-{{day.weekday}}-tooltip-time" class="row">
									Click on this period to book a class.
								</div>
							</div>			
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>


