{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags %}

{% block title %}{{person.get_full_name}}'s profile{% endblock %}
{% block body_class %}app student tutor-profile{% endblock %}

{% block content %}
  <section class="blue feature-box"><div class="inner">
    <h1>Book a Class <span>Book a class to a specific tutor.</span></h1>
  </div></section>
  
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
  
  <div class="row">
    <div class="two columns">
      <div class="profile-picture">
        <img src="{% version profile.profile_image.path 'profile_image' %}" alt="{{person.get_full_name}}">
      </div>
    </div>
    
    <div class="ten columns">
      <h2>{{person.get_full_name}}</h2>
      <h4>{{profile.date_of_birth|age}}, {{profile.get_gender_display}}</h4>
      <div class="row">
        <div class="nine columns">
          <div class="row">
            <div class="six columns">

              <label>Qualifications</label>
              <ul class="tutor-qualifications-list">
                {% for item in person.qualifications.all %}
	                {% if item.document %}
	                <li><a class="open" href="{{item.document.url}}" target="blank">{{item.qualification}}</a></li>
                	{% else %}
	                <li>{{item.qualification}}</li>                	
                	{% endif %}
                {% endfor %}
              </ul>
            </div>
            
            {% with person.subjects.all as subjects %}
            <div class="six columns">
              <table class="stretch">
                <tr>
                  <th>Subject</th>
                  <th>Level</th>
                  <th>Credits</th>
                </tr>
                {% for item in subjects %}
                <tr>
                  <td>{{item.subject}}</td>
                  <td>{{item.level}}</td>
                  <td>{{item.credits|floatformat}} credit{{item.credits|pluralize}}</td>
                </tr>
                {% empty %}
                <tr>
                  <td>No subjects</td>
                  <td></td>
                  <td></td>
                </tr>
				{% endfor %}
              </table>
            </div>
            {% endwith %}
          </div>          
        </div>
        <div class="three columns action">
          <a id="favorite-tutor" href="javascript:;" class="favorite"><i class="icon-star"></i>&nbsp;<span>{% if person|is_favorite:user %}Remove favorite{% else %}Add favorite{% endif %}</span></a>
          <a href="{% url report person.username %}" class="report text-red"><i class="icon-flag"></i> Report tutor</a>
			<script type="text/javascript">
				$('#favorite-tutor').click(function(){
					$.get('{% url favorite person.id %}', function(response){
						$('#favorite-tutor span').html(response);
					});
				});
			</script>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
	  <hr class="inside">
        <h2>Availability</h2>
    	<div class="row">

      	{% with user_profile.total_credits as total_credits %}
	    <h4>Your current balance: {{total_credits}} credit{{total_credits|pluralize}} {% if total_credits != user_profile.credit %}(available {{user_profile.credit}} credit{{user_profile.credit|pluralize}}){% endif %}</h4>
        {% endwith %}
	    <div>(Please select from a green period)</div>
    	</div>
    	<div class="row">&nbsp;</div>
    	<div class="row">
          <div class="eight columns">
          	<a href="javascript:;" onclick="prev_week();">&lsaquo; prev week</a>
          	<span> | </span>
          	<a href="javascript:;" onclick="next_week();">next week &rsaquo;</a>
          </div>
          <p>&nbsp;</p>
    	</div>
    	
		<div id="schedule-week-schedule-container">
			{% include "profile/tutor/book_class/_new_week_calendar.html" %}
		</div>    	
  </div>
  {% include "profile/tutor/book_class/_modal_book_class.html" %}
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
  	var map_date = new Date();
  
  	var next_week = function() {
  		map_date.setDate(map_date.getDate() + 7);
  		change_week(map_date);		
  	};
  	
  	var prev_week = function() {
  		map_date.setDate(map_date.getDate() - 7);
  		change_week(map_date);  		
  	};
  	
  	var change_week = function(date){
  		date_str = date.getFullYear() +'-'+ (date.getMonth()+1) +'-'+ date.getDate();
 		console.log(date_str);
  		
  		$.get('{% url ajax_book_class person.username %}'+ date_str +'/', function(response){
	  		$('#schedule-week-schedule-container').html(response);
  		});
  	};
  	  
	var tutor_subjects = [
		{% for item in person.subjects.all %}
		{% with item.subject as subject %}
			{
				'id': {{subject.id}},
				'credits': {{item.credits}}
			}{% if not forloop.last %},{% endif %}
		{% endwith %}
		{% endfor %}
	];
	
	var get_subject_credits = function(subject) {
		for(i=0; i<tutor_subjects.length; i++) {
			if(tutor_subjects[i].id == parseInt(subject)) {
				return tutor_subjects[i].credits;
			}
		}
	}
	
	setInterval(function(){
		$('.new-schedule-calendar').css('width', '100%');
		var width = $('.new-schedule-calendar').width();
  		width = width - (width % 25);
		$('.new-schedule-calendar, .new-schedule-calendar-day').css('width', width+'px');
	}, 1000);
  </script>
{% endblock %}