  <li id="creditsTab">
    <h2 class="clear">Credits Overview</h2>
    <div class="row user">
      <div class="four columns">
        <label>Credits</label>
      </div>
      <div class="eight columns">
        <p>You have {{profile.credit}} credit{{profile.credit|pluralize}}</p>
      </div>
    </div>
    
    <a id="add-credits" class="button" href="javascript:;" data-reveal-id="modal-topup" onclick="topup_account('{% url topup_cart %}');"><span class="icon credits">Top Up Credits</span></a>
    <a class="button" href="{% url history %}"><span class="icon history">View History</span></a>
  </li>