{% load classes_tags %}

{% with user.interests.all as interests %}
{% with interests.count as no_interests %}

<li id="interestsTab">

  <h2 class="clear">Interests</h2>
  
  <input id="id_interests-TOTAL_FORMS" type="hidden" value="{{interests.count|add:1}}" name="interests-TOTAL_FORMS">
  <input id="id_interests-INITIAL_FORMS" type="hidden" value="{{interests.count}}" name="interests-INITIAL_FORMS">
  <input id="id_interests-MAX_NUM_FORMS" type="hidden" name="interests-MAX_NUM_FORMS">
	
	<table id="interests-table" class="stretch">
      <tr>
        <th>Subject</th>
        <th>Delete</th>
      </tr>
      {% for item in interests %}
      {% with item.subject as subject %}

      <tr>
        <td>
		  <input id="id_interests-{{forloop.counter0}}-id" type="hidden" name="interests-{{forloop.counter0}}-id" value="{{item.id}}">
		  <input id="id_interests-{{forloop.counter0}}-user" type="hidden" value="{{user.id}}" name="interests-{{forloop.counter0}}-user">
		  <select id="id_interests-{{forloop.counter0}}-subject" name="interests-{{forloop.counter0}}-subject" class="interests-select-subject">
		  	<option value="">-------</option>
		  	{% for sub in subjects %}
		  	<option value="{{sub.id}}" {% if sub == subject %}selected="selected"{% endif %}>{{sub}}</option>
		  	{% endfor %}
		  </select>
		</td>
		<td>
		   <input id="id_interests-{{no_interests}}-DELETE" type="checkbox" name="interests-{{forloop.counter0}}-DELETE" />
	    </td>
	  </tr>
      {% endwith %}
      {% endfor %}
        
	  <tr>
		<td>			
		  <input id="id_interests-{{no_interests}}-id" type="hidden" name="interests-{{no_interests}}-id">
		  <input id="id_interests-{{no_interests}}-user" type="hidden" value="{{user.id}}" name="interests-{{no_interests}}-user">
		  <select id="id_interests-{{no_interests}}-subject" name="interests-{{no_interests}}-subject" class="interests-select-subject">
		  	<option value="" selected="selected">-------</option>
		  	{% for sub in subjects %}
		  	<option value="{{sub.id}}">{{sub}}</option>
		  	{% endfor %}
		  </select>
	    </td>
	    <td>
		   <input id="id_interests-{{no_interests}}-DELETE" type="checkbox" name="interests-{{no_interests}}-DELETE" />
	    </td>
      </tr>
    </table>
    <a id="add-subject-link" href="javascript:;">+ add subject</a>
	
</li>

<script type="text/javascript">
	
	var remove_interest = function(id) {
		$('#interest-'+id).fadeOut(function(){
			$.get('{% url remove_interest %}'+ id +'/');
			$(this).remove();
		});	
	}
	
	var id_subject = {{no_interests}} + 1;
  
  	$('#add-subject-link').click(function(){
  		// if (parseInt($('#id_interests-TOTAL_FORMS').val()) > 11) {
  			// $(this).remove();
  			// return;
  		// }
  		$('#interests-table').append(
  			'<tr>'+
	  		'	<td>'+
			'		<input id="id_interests-'+ id_subject +'-id" type="hidden" name="interests-'+ id_subject +'-id">'+
			'		<input id="id_interests-'+ id_subject +'-user" type="hidden" value="{{user.id}}" name="interests-'+ id_subject +'-user">'+
			' 		<select id="id_interests-'+ id_subject +'-subject" name="interests-'+ id_subject +'-subject" class="interests-select-subject">'+
			'			<option value="">-------</option>'+
			{% for sub in subjects %}
			'			<option value="{{sub.id}}">{{sub}}</option>'+
			{% endfor %}
			'   	</select>'+
	  		'	</td>'+
	  		'	<td>'+
	  		'		<input id="id_interests-'+ id_subject +'-DELETE" name="interests-'+ id_subject +'-DELETE" type="checkbox">'+
	  		'	</td>'+
	  		'</tr>'
  		);
  		$('#id_interests-TOTAL_FORMS').val(parseInt($('#id_interests-TOTAL_FORMS').val())+1);
  		add_autocomplete('#id_interests-'+ id_subject +'-subject');
  		id_subject++;
  	});
	
</script>
{% endwith %}
{% endwith %}