{% load classes_tags %}

  <form id="modal-topup-form" class="nice">
  	{% csrf_token %}
	<div class="row">&nbsp;</div>
  	<div class="row">
      <div class="four columns">        
        <label>User Account</label>
      </div>

      <div class="eight columns">
    	<strong>{{person.get_full_name}}</strong>
	  </div>	  
	</div>
	<div id="id_credits_errors" class="formError hidden">Please select the number of credits you want to top up.</div>
  	<div class="row">
      <div class="four columns">        
        <label>Credits</label>
      </div>

      <div class="eight columns">
      	<div class="row">
	    	<select id="id_bundle_credits" name="bundle-credits" class="stretch">
	    		<option value="0">-------</option>
	    		{% for bundle in bundles %}
	    		<option value="{{bundle.credits|floatformat}}">{{bundle.credits|floatformat}} credits  - {{currency.symbol}} {{bundle.credits|in_currency:currency|discount:bundle.discount|floatformat:2}} {% if bundle.discount %}({{bundle.get_discount_percentage|floatformat}}% discount){% endif %}</option>
	    		{% endfor %}
	    		<option value="-1">Other number of credits</option>
	    	</select>
      	</div>
      	<div id="id_credits_container" class="row hidden">
	      	<input id="id_credits" name="credits" type="text" class="input-text clear" placeholder="Number of credits" value="" />
      	</div>
	  </div>	  
	</div>
	<div class="row">&nbsp;</div>
  	<div class="row">
	    <input type="submit" class="small button" value="Top Up">
	</div>
  </form>


<script type="text/javascript">
	$('#id_bundle_credits').change(function(){
		var bundle_credits = parseInt($('#id_bundle_credits').val());
		if(bundle_credits >= 0) {
			$('#id_credits_container').addClass('hidden');
		} else {
			$('#id_credits_container').removeClass('hidden');			
		}
		$('#id_credits').val('');
	});

	$('#modal-topup-form').submit(function(e){
		e.preventDefault();
		var bundle_credits = parseInt($('#id_bundle_credits').val());

		if(bundle_credits >= 0) {
			$('#id_credits').val($('#id_bundle_credits').val());
		}

		var credits_val = $('#id_credits').val();
		var credits = parseInt(credits_val);
		if(credits && credits > 0) {
			$('#modal-topup-container').fadeOut(function(){
				$('#modal-topup-loading').fadeIn(function(){
					$.ajax({
						type: 'post',
						url: '{% url topup_cart person.username %}',
						data: $('#modal-topup-form').serialize(),
						success: function(response) {
							$('#modal-topup-container').html(response);
							$('#modal-topup-loading').fadeOut(function(){
								$('#modal-topup-container').fadeIn();
							});				
						}
					});
				});
			});
		} else {
			$('#id_credits_errors').removeClass('hidden');
		}
	});
</script>
