{% load classes_tags common_tags %}

<div class="row">&nbsp;</div>
<div class="row">
  <div class="four columns">        
    <label>User Account</label>
  </div>
  <div class="eight columns">
	<strong>{{person.get_full_name}}</strong>
  </div>	  
</div>
<div class="row">
  <div class="four columns">        
    <label>Credits</label>
  </div>
  <div class="eight columns">
	<strong>{{topup.credits}} credits</strong>
  </div>	  
</div>
<div class="row">
  <div class="four columns">        
    <label>Value</label>
  </div>
  <div class="eight columns">
	<strong>{{currency.symbol}} {{topup.value|floatformat:2}}</strong>
  </div>	  
</div>
{% if discount %}
<div class="row">
  <div class="four columns">        
    <label>Discount ({{discount.code}})</label>
  </div>
  <div class="eight columns">
	{% if discount.discount_fixed %}<div class="row"><strong>You are getting {{discount.discount_fixed|floatformat}} credit{{discount.discount_fixed|pluralize}} more.</strong></div>{% endif %}
	{% if discount.discount_percentage %}<div class="row"><strong>You are getting a {{discount.discount_percentage|multiply:100|floatformat}}% discount in total price</strong></div>{% endif %}
  </div>	  
</div>
{% else %}
{% endif %}
<div class="row">&nbsp;</div>
<div class="row center">
  {% if settings.DEBUG %}{{form.sandbox}}{% else %}{{form.render}}{% endif %}
</div>
<div class="row">&nbsp;</div>
<div class="row center">
  <a href="javascript:;" id="cancel-topup">Cancel or change the amount of credits</a>
</div>

<script type="text/javascript">
	$('#cancel-topup').click(function(){
		$('#modal-topup-container').fadeOut(function(){
			$('#modal-topup-loading').fadeIn(function(){
				$.ajax({
					type: 'get',
					url: '{% url topup_cart person.username %}',
					success: function(response) {
						$('#modal-topup-container').html(response);
						$('#modal-topup-loading').fadeOut(function(){
							$('#modal-topup-container').fadeIn();
						});				
					}
				});
			});
		});		
	});
</script>
