{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags %}

{% block title %}Classes{% endblock %}
{% block body_class %}app student classes{% endblock %}

{% block content %}

<section class="blue feature-box"><div class="inner">
      <h1>Classes <span>Upcoming and previously taken classes.</span></h1>
</div></section>
      
      {% include 'profile/fragments/_timer.html' %}
      
      {% for class in user_profile.get_classes_as_student %}
      {% with class.tutor as tutor %}
      {% with tutor.profile as tutor_profile %}
      <article class="{% if class.is_active %}{% endif %}">
        <div class="row">
          <div class="one columns hide-on-phones">
            <img src="{% version tutor_profile.profile_image.path 'class_list_profile_image' %}" alt="{{tutor.get_full_name}}">
          </div>
          
          <div class="three columns">
            <a href="{% url class_detail class.id %}"><h3>{{class.subject}}</h3></a>
            <p class="subheader">with <a href="tutor-student-profile">{{tutor.get_full_name}}</a> <span class="push credits">{{class.credit_fee|floatformat}}</span></p>
          </div>
          
          <div class="four columns">
            <p>{{class.description}}</p>
          </div>
          
          <div class="two columns timestamp">
            <p>Scheduled for <br><strong>{{class.start|time:"H:i"}} - {{class.end|time:"H:i"}}<br>{{class.date|date:"M d, Y"}}</strong></p>
          </div>
          
          <div class="two columns action">
            <a href="javascript:;" class="send-message" data-reveal-id="modal-message" onclick="view_modal_messages({{tutor.id}}, {{class.id}})">View Messages</a>
            <a href="#" class="cancel-class" data-reveal-id="modal-cancel-class">Cancel Class</a>
          </div>
        </div>
      </article>
      {% endwith %}
      {% endwith %}
      {% endfor %}

	{% include 'profile/fragments/_modal_messages.html' %}
	{% include 'profile/tutor/fragments/_modal_cancel_class.html' %}
	{% include 'profile/tutor/fragments/_modal_rate_student.html' %}
	{% include 'profile/tutor/fragments/_modal_review_view.html' %}
	{% include 'profile/tutor/fragments/_modal_review_view_received.html' %}

{% endblock %}
