{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tz tutor_tags ut_tags humanize %}

{% block title %}Messages{% endblock %}
{% block body_class %}student messages app{% endblock %}

{% block content %}

{% timezone user.profile.timezone %}
	  <section class="blue feature-box"><div class="inner">
      <h1>{% if user != person %}{{person.get_full_name}}'s {% endif %}Messages <span>Conversations with tutors.</span></h1>
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      {% for message_person in usermessages %}      
      {% with message_person.profile as user_profile %}
      {% with message_person|get_messages:person as messages %}
      {% with messages.messages.0 as last_message %}
      <article>
        <div class="row">
          <div class="one columns hide-on-phones">
            <img src="{% version user_profile.profile_image.path 'class_list_profile_image' %}" alt="{{message_person.get_full_name}}">
            {% if messages.unread %}<div class="unread">{{messages.unread}}<span> Unread Message{{messages.unread|pluralize}}</span></div>{% endif %}
          </div>
          
          <div class="three columns title">
            <h3 class="title"><a href="{% url profile message_person.username %}">{{message_person.get_full_name}}</a></h3>
          </div>
          
          <div class="four columns description">
            <p><a href="javascritp:;" data-reveal-id="modal-message" onclick="">{{last_message|truncatechars:200}}</a></p>
          </div>
          
          <div class="two columns timestamp">
            <p>Received on <br><strong>
            	{% if last_message.created|is_today %}{{last_message.created|naturaltime}}{% else %}{{last_message.created|naturalday}}{% endif %}
            </strong></p>
          </div>
          
          <div class="two columns action">
            <a href="javascript:;" class="send-message" data-reveal-id="modal-message" onclick="view_modal_messages({{message_person.id}});">View Messages</a>
          </div>
        </div>
      </article>
	  {% endwith %}
	  {% endwith %}
	  {% endwith %}
	  {% empty %}
      <article><div class="row" style="text-align: center;">You didn't received any message yet.</div></article>	  
	  {% endfor %}
		
	{% include 'profile/fragments/_modal_messages.html' %}
{% endtimezone %}
{% endblock %}
