{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags %}

{% block title %}{{person.get_full_name}}'s profile{% endblock %}
{% block body_class %}app tutor{% endblock %}

{% block content %}

      <section class="blue feature-box"><div class="inner">
	  	{% if person == user %}
	    <h1>You are seeing your own profile</h1>	
		{% else %}
        <h1>Student Profile <span>Details on a specific student</span></h1>
		{% endif %}
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      <div class="row">
	    <div class="two columns">
	      <div class="row space">
		      <div class="profile-picture">
		        <img src="{% version profile.profile_image.path 'profile_image' %}" alt="{{person.get_full_name}}">
		      </div>
		  </div>
	      <div class="row space">
	      	{% with profile.get_completeness as completeness %}
	        <label>Profile completeness</label>
		  	<div class="profile-completeness">
		  		<div class="bar" style="width: {{completeness}}%;"></div>
		  		<div class="value">{{ completeness }}%</div>
		  	</div>
		  	{% endwith %}
		  </div>
	    </div>
        
        <div class="ten columns">
          <h2>{{person.get_full_name}}</h2>
          <h4>{{profile.date_of_birth|age}}, {{profile.get_gender_display}}</h4>
          <p>&nbsp;</p>
          <div class="row">
            <div class="nine columns">
              <div class="row"><h4>Interested In</h4></div>
              <div class="row">
	              <table class="stretch">
	                <tr>
	                  <th>Subject</th>
	                  <th>System</th>
	                  <th>Level</th>
	                </tr>
	                {% for item in person.interests.all %}
	                <tr>
	                  <td>{{item.subject}}</td>
	                  <td>{% if item.system %}{{item.system}}{% endif %}</td>
	                  <td>{% if item.level %}{{item.level}}{% endif %}</td>
	                </tr>
	                {% empty %}
	                <tr>
	                  <td>No subjects</td>
	                  <td></td>
	                </tr>
					{% endfor %}
	              </table>
	           </div>
            </div>
            <div class="three columns action">
            {% if owner %}
          	  <a href="{% url edit_student_profile %}" class="book-class">Edit profile</a>            
            {% else %}
              {% if can_send_message %}
              {% with person|get_messages:user as messages %}
		  	  {% with messages.messages as msgs %}
              <a href="javascript:;" class="send-message" data-reveal-id="modal-message" onclick="view_modal_messages({{person.id}});"><i class="icon-comment"></i> 
              	{% if msgs|length == 0 %} 
	          		Send a Message
	          	{% else %}
	          	{% if messages.unread %} 
	            		{{ messages.unread }} New Message{{ messages.unread|pluralize }}
	            	{% else %}
	            		View Messages
	            	{% endif %}
	            {% endif %}
              </a>
              {% endwith %}
         	  {% endwith %}
	          {% endif %}
	          <a href="{% url report person.username %}" class="report"><i class="icon-flag"></i> Report</a>
			{% endif %}
            </div>
          </div>
        </div>
      </div>
  	{% include 'profile/fragments/_modal_messages.html' %}

{% endblock %}
