{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags %}

{% block title %}{{person.get_full_name}}'s profile{% endblock %}
{% block body_class %}app tutor{% endblock %}

{% block content %}

      <section class="blue feature-box"><div class="inner">
        <h1>Student Profile <span>Details on a specific student</span></h1>
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      <div class="row">
	    <div class="two columns">
	      <div class="row space">
		      <div class="profile-picture">
		        <img src="{% version profile.profile_image.path 'profile_image' %}" alt="{{person.get_full_name}}">
		      </div>
		  </div>
	      <div class="row space">
	      	{% with profile.get_completeness as completeness %}
	        <label>Profile completeness</label>
		  	<div class="profile-completeness">
		  		<div class="bar" style="width: {{completeness}}%;"></div>
		  		<div class="value">{{ completeness }}%</div>
		  	</div>
		  	{% endwith %}
		  </div>
	    </div>
        
        <div class="ten columns">
          <h2>{{person.get_full_name}}</h2>
          <h4>{{profile.date_of_birth|age}}, {{profile.get_gender_display}}</h4>
          <p>&nbsp;</p>
          <div class="row">
            <div class="nine columns">
              <label>Interested In</br></label>
              	{% for interest in profile.interests.all %}
	              <div class="row">
	                <div class="four columns tags">
	                  <a class="tag">{{interest.subject}}</a>
	                </div>
	              </div>
	            {% empty %}
	            <div class="row">No interest has been selected</div>
               	{% endfor %}
            </div>
            <div class="three columns action">
            {% if owner %}
          	  <a href="{% url edit_student_profile %}" class="book-class">Edit profile</a>            
            {% else %}
              {% if can_send_message %}
              {% with person|get_messages:user as messages %}
		  	  {% with messages.messages as msgs %}
              <a href="javascript:;" class="send-message" data-reveal-id="modal-message" onclick="view_modal_messages({{person.id}});"> 
              	{% if msgs|length == 0 %} 
	          		Send a Message
	          	{% else %}
	          	{% if messages.unread %} 
	            		{{ messages.unread }} New Message{{ messages.unread|pluralize }}
	            	{% else %}
	            		View Messages
	            	{% endif %}
	            {% endif %}
              </a>
              {% endwith %}
         	  {% endwith %}
	          {% endif %}
	          <a href="{% url report person.username %}" class="report">Report</a>
			{% endif %}
            </div>
          </div>
        </div>
      </div>
  	{% include 'profile/fragments/_modal_messages.html' %}

{% endblock %}
