{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block body %}
    <h3>{% trans "Change Password" %}</h3>
    
    <form method="POST" action="" class="password_change uniForm">
        {% csrf_token %}
        <div class="inlineLabels">
            {{ password_change_form|as_uni_form }}
             <div class = "buttonHolder">
                 <div class="button"><input type="submit" name="action">{% trans "Change Password" %}</input></div>
            </div>
        </div>
    </form>
{% endblock %}
