{% load uni_form_tags %}
{% load account_tags allauth_tags %}

{% block body %}
	<form id="signup-form2" method="POST" action="" class="nice custom">
        {% csrf_token %}
        {% if form.username.errors %}<div class="formError">{{ form.username.errors }}</div>{% endif %}
		<div class="row">
            <div class="three columns">            	
				<label class="margin-top" for="id_location">Username</label>
            </div>
			<div class="nine columns"><input type="text" id="id_username" name="username" value="{{ form.username.value }}" class="input-text oversize stretch" /></div>
		</div>
		<div class="row">&nbsp;</div>
        {% if form.first_name.errors %}<div class="formError">{{ form.first_name.errors }}</div>{% endif %}
		<div class="row">
            <div class="three columns">            	
				<label class="margin-top" for="id_first_name">First name</label>
            </div>
			<div class="nine columns"><input type="text" id="id_first_name" name="first_name" value="{{ form.first_name.value }}" class="input-text oversize stretch" /></div>
		</div>
        {% if form.last_name.errors %}<div class="formError">{{ form.last_name.errors }}</div>{% endif %}
		<div class="row">
            <div class="three columns">            	
				<label class="margin-top" for="id_last_name">Last name</label>
            </div>
			<div class="nine columns"><input type="text" id="id_last_name" name="last_name" value="{{ form.last_name.value }}" class="input-text oversize stretch" /></div>
		</div>
        {% if form.email.errors %}<div class="formError">{{ form.email.errors }}</div>{% endif %}
		<div class="row">
            <div class="three columns">            	
				<label class="margin-top" for="location">Email</label>
            </div>
			<div class="nine columns"><input type="text" id="id_email" name="email" value="{{ form.email.value }}" class="input-text oversize stretch" /></div>
		</div>
		<div class="row">&nbsp;</div>
        {% if form.password1.errors %}<div class="formError">{{ form.password1.errors }}</div>{% endif %}
		<div class="row">
            <div class="three columns">            	
				<label class="margin-top" for="id_password1">Password</label>
            </div>
			<div class="nine columns"><input type="password" id="id_password1" name="password1" value="" class="input-text oversize stretch" /></div>
		</div>
        {% if form.password2.errors %}<div class="formError">{{ form.password2.errors }}</div>{% endif %}
		<div class="row">
            <div class="three columns">            	
				<label class="margin-top" for="location">Confirm</label>
            </div>
			<div class="nine columns"><input type="password" id="id_password2" name="password2" value="" class="input-text oversize stretch" /></div>
		</div>
		
		{% if form.crb %}
		<div class="row">&nbsp;</div>
        {% if form.crb.errors %}<div class="formError">{{ form.crb.errors }}</div>{% endif %}
		<div class="row">
            <div class="three columns">            	
				<label class="margin-top" for="location">I have a CRB</label>
            </div>
			<div class="nine columns">
				{{form.crb}}
				Please upload a copy of your CRB in your profile.
			</div>
		</div>
		<div class="row">&nbsp;</div>
        

		<div class="row">
            <div class="three columns">            	
				<label class="margin-top" for="location">Apply for CRB</label>
            </div>
		</div>
		
		<div class="row">&nbsp;</div>
        {% if form.country.errors %}<div class="formError">{{ form.country.errors }}</div>{% endif %}
		<div class="row">
            <div class="three columns">            	
				<label class="margin-top" for="location">Country</label>
            </div>
			<div class="nine columns">{{form.country}}</div>
		</div>
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="three columns">
  				<div class="button stretch"><input type="submit" class="icon rocket stretch" value="Sign Up"></div>
			</div>			
		</div>
		<div class="row hidden">
			{{form.date_of_birth}}
			{{form.type}}			
		</div>
		<div class="row">&nbsp;</div>
		<div class="row center">
			<p>Or, use your facebook account to connect with Universal Tutors</p>
			<a href="{% facebook_login_url %}" class="facebook_connect_link">facebook</a>
		</div>
	</form>
	<script type="text/javascript">
		$(window).ready(function(e){
			appendCustomSelect($('#id_country'));
		});
		$('#signup-form2').submit(function(e){
			e.preventDefault();
			var type = $("#id_type").val();
			$('#modal-signup-form-container').fadeOut(function(){
				$('#modal-signup-form-loading').fadeIn(function(){
					$('#id_date_of_birth').val(signup_dob);
					$('#id_type').val(signup_type);
					$.ajax({
						type: 'POST',
						url: '{% url signup %}?user_type=' + type,
						data: $('#signup-form2').serialize(),
						success: function(data) {
							$('#modal-signup-form-container').html(data);
							$('#modal-signup-form-loading').fadeOut(function(){
								$('#modal-signup-form-container').fadeIn();
							});
						}
					});
				});
			});			
		});
	</script>
{% endblock %}
