{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags flatblock_tags ut_tags %}

{% block title %}Sign Up{% endblock %}
{% block body_class %}students{% endblock %}

{% block content %}
  <section class="blue feature-box"><div class="inner">
    <h1>Sign Up as a Student</h1>
  </div></section>
  
  <section>
  
    <form action="" id="student-signup-form" method="post" class="nice" enctype="multipart/form-data">
	{% csrf_token %}
      <div class="row">
        <div class="twelve columns">
          <h3>Personal Details</h3>
        </div>
      </div>
    
     {% if form.password1 and form.first_name.errors %}<div class="formError"><ul class="errorlist"><li>First name is required</li></ul></div>{% endif %}
     {% if form.password1 and form.last_name.errors %}<div class="formError"><ul class="errorlist"><li>Last name is required</li></ul></div>{% endif %}
      <div class="row">
        <div class="eight columns">
        
          {% if form.password1 %}
          {# if signup is from twitter or facebook #}
          <label>Name*</label>
          
          <div class="row space">
            <div class="six columns">
              <input name="first_name" type="text" class="input-text" placeholder="First Name" value="{{form.first_name.value}}">
            </div>
            <div class="six columns">
              <input name="last_name" type="text" class="input-text" placeholder="Last Name" value="{{form.last_name.value}}">
            </div>
          </div>
          {% endif %}
          
          <div class="row space">
            <div class="three columns">
              <label>Gender</label>
            </div>
            <div class="nine columns">
              {{form.gender}}
            </div>
          </div>
          
          <div class="row space">
            <div class="three columns">
              <label>D.O.B*</label>
            </div>
            
          {% if form.date_of_birth.errors %}<div class="formError">{{ form.date_of_birth.errors }}</div>{% endif %}
            <div class="nine columns">
              <input id="id_date_of_birth" name="date_of_birth" type="text" class="input-text clear hidden" value="{{form.date_of_birth.value}}">
              <div class="row">
                <div class="four columns phone-one">
                  <select id="id_dob_day" class="stretch signup_dob2">
                  </select>
                </div>
                <div class="four columns phone-one">
                  <select id="id_dob_month" class="stretch signup_dob2">
                  </select>
                </div>
                <div class="four columns phone-two">
                  <select id="id_dob_year" class="stretch signup_dob2">
                  </select>
                </div>
              </div>
            </div>
          </div>
          
          {% if form.country.errors %}<div class="formError">{{ form.country.errors }}</div>{% endif %}
          <div class="row date_of_birth">
            <div class="three columns phone-one">
              <label>Country*</label>
            </div>
            <div class="nine columns phone-three">
              {{form.country}}
            </div>  
          </div>

          {% if form.timezone.errors %}<div class="formError">{{ form.timezone.errors }}</div>{% endif %}
          <div class="row date_of_birth">
            <div class="three columns phone-one">
              <label>Timezone</label>
            </div>
            <div class="nine columns phone-three">
              	{{form.timezone}}
            </div>  
          </div>
          
          <hr class="inside">

	      <div class="row">
	        <div class="twelve columns">
	          <h3>Account details</h3>
	        </div>
	      </div>

		  {% if form.username.errors %}<div class="formError">{{ form.username.errors }}</div>{% endif %}
          <div class="row space">
            <div class="three columns">
              <label>Username*</label>
            </div>
            <div class="nine columns">
              <input type="text" id="id_username" name="username" value="{{ form.username.value }}" class="input-text stretch" />
            </div>
          </div>
          
		  {% if form.email.errors %}<div class="formError">{{ form.email.errors }}</div>{% endif %}
          <div class="row space">
            <div class="three columns">
              <label>Email*</label>
            </div>
            <div class="nine columns">
              <input type="text" id="id_email" name="email" value="{{ form.email.value }}" class="input-text stretch" />
            </div>
          </div>
	
		  {% if form.password1 %}
			  {% if form.password1.errors %}<div class="formError">{{ form.password1.errors }}</div>{% endif %}
			  {% if form.password2.errors %}<div class="formError">{{ form.password2.errors }}</div>{% endif %}
	          <div class="row">
	            <div class="three columns">
	              <label>Account Password*</label>
	            </div>
	            <div class="four columns">
	              <input type="password" id="id_password1" name="password1" placeholder="Password" value="" class="input-text stretch" />
	            </div>
	            <div class="four columns">
	              <input type="password" id="id_password2" name="password2" placeholder="Confirm Password" value="" class="input-text stretch" />
	            </div>
	          </div>
	      {% endif %}
          
          <hr class="inside">

	      <div class="row">
	        <div class="twelve columns">
	          <h3>Referral</h3>
	        </div>
	      </div>

          {% if form.referral.errors %}<div class="formError">{{ form.referral.errors }}</div>{% endif %}
          <div class="row date_of_birth">
            <div class="three columns special">
              <label>How did you hear about us?*</label>
            </div>
            <div class="nine columns no-margin">
              	{{form.referral}}
            </div>  
          </div>

		  {% if form.referral_other.errors %}<div class="formError">{{ form.referral_other.errors }}</div>{% endif %}
          <div id="id_div_referral_other" class="row space {% if not form.referral_other.errors and not form.referral_other.value %}hidden{% endif %}">
            <div class="three columns">
              <label>Other option</label>
            </div>
            <div class="nine columns">
              <input type="text" id="id_referral_other" name="referral_other" value="{% if form.referral_other.value %}{{ form.referral_other.value }}{% endif %}" class="input-text stretch" />
            </div>
          </div>
          
		  {% if form.referral_key.errors %}<div class="formError">{{ form.referral_key.errors }}</div>{% endif %}
          <div class="row space">
            <div class="three columns">
              <label>Referral Key <span id="tooltip-referral">[?]</span></label>
            </div>
            <div class="nine columns">
              <input type="text" id="id_referral_key" name="referral_key" value="{% if form.referral_key.value %}{{ form.referral_key.value }}{% endif %}" class="input-text stretch" />
            </div>
          </div>
          
          <hr class="inside">
          
	      <div class="row">
	        <div class="twelve columns">
	          <h3>Subject interests <span id="tooltip-interests">[?]</span></h3>
	        </div>
	      </div>
          <div id="tracked-subject-error" class="formError"></div>
		  <input id="id_interests-TOTAL_FORMS" type="hidden" value="1" name="interests-TOTAL_FORMS">
		  <input id="id_interests-INITIAL_FORMS" type="hidden" value="1" name="interests-INITIAL_FORMS">
		  <input id="id_interests-MAX_NUM_FORMS" type="hidden" name="interests-MAX_NUM_FORMS">
			
		    <table id="interests-table" class="stretch">
		      <tr>
		        <th>Subject</th>
		        <th>System</th>
		        <th>Level</th>
		      </tr>
			  <tr>
				<td>
				  <select id="id_interests-0-subject" name="interests-0-subject" class="stretch interests-select-subjects">
				  	<option value="" selected="selected">Select subject</option>
				  	{% for sub in class_subjects %}
				  	<option value="{{sub.id}}">{{sub}}</option>
				  	{% endfor %}
				  </select>
			    </td>
				<td>			
				  <select id="id_interests-0-system" name="interests-0-system" class="stretch interests-select-systems">
				  	<option value="" selected="selected">Any system</option>
				  </select>
			    </td>
				<td>
				  <select id="id_interests-0-level" name="interests-0-level" class="stretch interests-select-levels">
				  	<option value="" selected="selected">Any level</option>
				  </select>
			    </td>
		      </tr>
		    </table>
			<a id="add-subject-link" href="javascript:;">+ add subject</a>
          
          <hr class="inside">
          {% get_scribblar_speed_test %}
          <div class="row">
	        <div class="twelve columns">
	          <h3>Broadband Check</h3>
	          <p>
	          	To be able to use the class room facility you will need to have a broadband speed of at least {{ scribblar_speed }}.<br />
	          	To check your speed click <a href="{{ speed_test_link }}" target="_blank">here</a>.
	          </p>
	        </div>
	      </div>
          
          <hr class="inside">

	      <div class="row">
	        <div class="twelve columns">
	          <h3>Terms and conditions</h3>
	        </div>
	      </div>

          <div class="row space">
			<div class="sign-up-terms-and-conditions">{% flatblock "terms_and_conditions" %}</div>
          </div>

		  {% if form.agreement.errors %}<div class="formError">{{ form.agreement.errors }}</div>{% endif %}
          <div class="row space">
          	  <div>{{form.agreement}} <span>{{form.agreement.help_text}}</span></div>
          	  <div>{{form.newsletter}} <span>{{form.newsletter.help_text}}</span></div>
          	  <div>{{form.partners_newsletter}} <span>{{form.partners_newsletter.help_text}}</span></div>
          </div>
          
          <hr class="inside">
          
		  <div id="model-signup-button" class="large button"><input type="submit" class="icon rocket" value="Create My Account" /></div>
		  <div id="model-signup-under16-container2" class="hidden formError">
				Under 16? Your parent need to create a account for you. <br />
		  </div>          
          
        </div>
        <div class="four columns photo">
          <img id="id_image_preview" src="http://placehold.it/175x175" alt="Profile Picture" style="max-width: 175px; max-height: 175px;">
          <div><input id="id_profile_image" class="upload clear" type="file" name="profile_image" size="40">
          	<a id="remove-image" href="javascript:;" class="hidden" onclick="removeImage();">Remove Image</a>
          </div>
        </div>
        
      </div>
    
    </form>
  </section>
  
<script type="text/javascript">
	var today = new Date();
	var today_year = today.getFullYear();
	
	var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'October', 'November', 'December'];

	function getQueryVariable(variable)
	{
	       var query = window.location.search.substring(1);
	       var vars = query.split("&");
	       for (var i=0;i<vars.length;i++) {
	               var pair = vars[i].split("=");
	               if(pair[0] == variable){return pair[1];}
	       }
	       return '';
	}
	
	var dob_date = getQueryVariable('date');
	dob_date = dob_date.split('-');
	
	var dob_year = parseInt(dob_date[0]);
	var dob_month = parseInt(dob_date[1]);
	var dob_day = parseInt(dob_date[2]);

	for(i=1; i<=31; i++)
		$('#id_dob_day').append('<option value="'+ i +'" '+ (i==dob_day?'selected=selected':'') +'>'+ i +'</option>');

	for(i=0; i<months.length; i++)
		$('#id_dob_month').append('<option value="'+ (i+1) +'" '+ (i==dob_month-1?'selected=selected':'') +'>'+ months[i] +'</option>');

	for(i=today_year; i>today_year-100; i--)
		$('#id_dob_year').append('<option value="'+ i +'" '+ (i==dob_year?'selected=selected':'') +'>'+ i +'</option>');
		
	$('.signup_dob2').change(function(e){
		check_over16_2();
	});
	
	$('#student-signup-form').submit(function(){
		$('#id_date_of_birth').val( $('#id_dob_year').val() +'-'+ $('#id_dob_month').val() +'-'+ $('#id_dob_day').val() );
	});
	
	$('#id_profile_image').live("change", function(){
        var input = $(this)[0]
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#id_image_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
            $("a#remove-image").removeClass('hidden');
        }		
	});

	$('#id_country').live("change", function(){
		$('#id_timezone').load('{% url get_timezones %}'+ $(this).val() +'/');
	});

	
	var removeImage = function(){
		$('#id_image_preview').attr('src', "http://placehold.it/175x175");
		var imageInput = $("#id_profile_image");
		$(imageInput).parent().prepend('<input id="id_profile_image" class="upload clear" type="file" name="profile_image" size="40">');
		$(imageInput).remove();
		$("a#remove-image").addClass('hidden');
	}
	

	$('#id_referral').change(function(){
		if( $(this).val() == '20' ) {
			$('#id_div_referral_other').removeClass('hidden');
		} else {
			$('#id_div_referral_other').addClass('hidden');
		}
	});

	var check_over16_2 = function(){
		var day = parseInt($('#id_dob_day').val());
		var month = parseInt($('#id_dob_month').val());
		var year = parseInt($('#id_dob_year').val());
		var date = new Date(year, month-1, day);
		var str_date = date.getFullYear() +'-'+ (date.getMonth()+1) +'-'+ date.getDate();
		var input_date = year +'-'+ month +'-'+ day;

		if(str_date == input_date) {			
			var age_date = new Date(year+16, month, day);
			var today = new Date();
			
			if(today >= age_date) {
				$('#model-signup-button').removeClass('hidden');
				$('#model-signup-under16-container2').addClass('hidden');
				return true;
			} else {
				$('#model-signup-button').addClass('hidden');
				$('#model-signup-under16-container2').removeClass('hidden');
				return false;
			}
		}
		
		return false;
	}
	
	$('#student-signup-form').submit(function(e){
		if(!check_over16_2()){
			e.preventDefault();
		}
	});

	$('#id_referral').change(function(){
		if( $(this).val() == '20' ) {
			$('#id_div_referral_other').removeClass('hidden');
		} else {
			$('#id_div_referral_other').addClass('hidden');
			$('#id_referral_other').val('');
		}
	});

</script>
<script type="text/javascript">
  	var id_subject = 1;
  
  	$('.interests-select-subjects').live('change', function(){
  		var self_value = $(this).val();
  		var self_id = $(this).attr('id');
  		var item_id = self_id.split('-')[1];
  		if(self_value) {
  			$('#id_interests-'+ item_id +'-system').load('{% url subject_systems_options %}'+ self_value +'/1/');
  		} else {
  			$('#id_interests-'+ item_id +'-system').html('<option value="" selected="selected">Any</option>');
  		}
  	});

  	$('.interests-select-systems').live('change', function(){
  		var self_value = $(this).val();
  		var self_id = $(this).attr('id');
  		var item_id = self_id.split('-')[1];
  		if(self_value) {
  			$('#id_interests-'+ item_id +'-level').load('{% url system_levels_options %}'+ self_value +'/1/');
  		} else {
  			$('#id_interests-'+ item_id +'-level').html('<option value="" selected="selected">Any</option>');
  		}
  	});
  
  	$('#add-subject-link').click(function(){
  		if (parseInt($('#id_interests-TOTAL_FORMS').val()) > 11) {
  			$(this).remove();
  			return;
  		}
  		$('#interests-table').append(
  			'<tr>'+
	  		'	<td>'+
			' 		<select id="id_interests-'+ id_subject +'-subject" name="interests-'+ id_subject +'-subject" class="stretch interests-select-subjects">'+
			'			<option value="">Select subject</option>'+
			{% for sub in class_subjects %}
			'			<option value="{{sub.id}}">{{sub}}</option>'+
			{% endfor %}
			'   	</select>'+
	  		'	</td>'+
	  		'	<td>'+
			' 		<select id="id_interests-'+ id_subject +'-system" name="interests-'+ id_subject +'-system" class="stretch interests-select-systems">'+
			'			<option value="">Any system</option>'+
			'   	</select>'+
	  		'	</td>'+
	  		'	<td>'+
			' 		<select id="id_interests-'+ id_subject +'-level" name="interests-'+ id_subject +'-level" class="stretch interests-select-levels">'+
			'			<option value="">Any level</option>'+
			'   	</select>'+
	  		'	</td>'+
	  		'</tr>'
  		);
  		$('#id_interests-TOTAL_FORMS').val(parseInt($('#id_interests-TOTAL_FORMS').val())+1);
  		id_subject++;
  	});
  	
  	if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i))) {
  		$(".four.columns.photo").hide();
  	}
  	
</script>

<script type="text/javascript">
	$(window).ready(function(){
		$('#tooltip-interests').popover({
			title: 'Interests',
			content: 'Let us know what subjects you are interested in furthering your education in so that we can tailor our offers and services to you'
		});
		
		$('#tooltip-referral').popover({
			title: 'Referral Key',
			content: 'If you have been referred by another user of the site then please enter the code here to receive your special offer'
		});
	});
</script>
{% endblock %}
