{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

<div name="button">
	{% if wizard.steps.prev %}
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "back" %}</button>
	{% endif %}
	
	{% if wizard.steps.next %}
		<button name="" class="icon rocket" type="submit" value="{{ wizard.steps.next }}">{% trans "next" %}</button>
	{% else %}
		<input type="submit" value="{% trans "submit" %}"/>	
	{% endif %}
	
	<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	{{ previous_fields|safe }}
</div>