


{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags flatblock_tags ut_tags %}
{% load mptt_tags %}

{% block title %}Sign Up{% endblock %}
{% block body_class %}tutors{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{{STATIC_URL}}css/fileuploader.css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/fileuploader.js"></script>
{% endblock %}

{% block content %}
  <section class="blue feature-box"><div class="inner">
    <h1>Sign Up as a Tutor</h1>
  </div></section>

  <section>

    <form action="" id="student-signup-form" method="post" class="nice" enctype="multipart/form-data">
  {% csrf_token %}
      

<style type="text/css">
      body { font-size: 80%; font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; }
      .accordionItem h2 { margin: 0; font-size: 2.5em;  color: #000000 ; border-bottom: 1px ;text-align:left }
      .accordionItem h2:hover { cursor: pointer; }
      .accordionItem div { margin: 0; padding: 1em 0.4em;  border-bottom: 1px  }
      .accordionItem.hide h2 { color: #000;  }
      .accordionItem.hide div { display: none; }
    </style>

<body >

   <!-- <h1>Subjects</h1>

    <table>
 <tr>
    <td>
     {% for field in form.genrex %} 
     ^^^^Or whatever you called it when you passed to template 
      
     {% if forloop.counter == 10 %}
     
     </td><td>{{field}}
     {% elif forloop.counter == 20 %}
  
     </td><td>
     {% endif %}

     {{ field }} 

      {% endfor %}
      </td>
   </tr>
   </table>-->
<!--
<table><tr>
{% for  choice_id,choice_label in form.genrex.field.widget.choices %}
   <td> <input type="checkbox" name="vehicle" value="Bike">{{ choice_label }} </td>
   {% if forloop.last %}
     </tr>
   {% else %}
     {% if forloop.counter|divisibleby:"3" %}
       </tr><tr>
     {% endif %}
   {% endif %}
{% endfor %}
</table>
-->

<font size="8">SUBJECTS </font>
    <div class="accordionItem">
      <h2>+  {{form.cat.0}}</h2>
      
      
      <div><h5 color:#000000 > {{form.cat.0.get_children.0}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_0_0.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>

            
      
      
      <div><h5 color:#000000 > {{form.cat.0.get_children.1}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_0_1.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
      <!--  End of Part1 -->

      <!--  Part2 -->
    <div class="accordionItem"> 
      <h2>+  {{form.cat.1}}</h2>
      
      
      <div><h5 color:#000000 > {{form.cat.1.get_children.0}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_1_0.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>

            
      
      
      <div><h5 color:#000000 > {{form.cat.1.get_children.1}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_1_1.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>
      <!--  End of Part2 -->

      <!--  Part4 -->
     <div class="accordionItem"> 
      <h2>+  {{form.cat.4}}</h2>
      
      
      <div><h5 color:#000000 > {{form.cat.4.get_children.0}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_4_0.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>

            
      
      
      <div><h5 color:#000000 > {{form.cat.4.get_children.1}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_4_1.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>

 <!--  End of Part4 -->

      <!--  Part5 -->
     <div class="accordionItem"> 
      <h2>+  {{form.cat.5}}</h2>
      
      
      <div><h5 color:#000000 > {{form.cat.5.get_children.0}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_5_0.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>

            
      
      
      <div><h5 color:#000000 > {{form.cat.5.get_children.1}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_5_1.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>

      <div><h5 color:#000000 > {{form.cat.5.get_children.2}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_5_2.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>

            
      
      
      <div><h5 color:#000000 > {{form.cat.5.get_children.3}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_5_3.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>
      <div><h5 color:#000000 > {{form.cat.5.get_children.4}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_5_4.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>

            
      
      
      <div><h5 color:#000000 > {{form.cat.5.get_children.1}}</h5>
        <table><tr>
          {% for  field1,field2 in form.genre_5_1.field.widget.choices %}
          <td> <input value="{{field1}}" type="checkbox">{{field2}}
            {% if forloop.last %}
          </tr>
          {% else %}
            {% if forloop.counter|divisibleby:"3" %}
          </tr><tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </table>
      </div>
    </div>



    
   
</body>  
<script>
var accordionItems = [];

function toggleItem() {
    var itemClass = this.parentNode.className;

    // Hide all items
    for (var i = 0; i < accordionItems.length; i++) {
        accordionItems[i].className = 'accordionItem hide';
    }

    // Show this item if it was previously hidden
    if (itemClass == 'accordionItem hide') {
        this.parentNode.className = 'accordionItem';
    }
}

function getFirstChildWithTagName(element, tagName) {
    for (var i = 0; i < element.childNodes.length; i++) {
        if (element.childNodes[i].nodeName == tagName) return element.childNodes[i];
    }
}

function init() {

    // Grab the accordion items from the page
    var divs = document.getElementsByTagName('div');
    for (var i = 0; i < divs.length; i++) {
        if (divs[i].className == 'accordionItem') accordionItems.push(divs[i]);
    }

    // Assign onclick events to the accordion item headings
    for (var i = 0; i < accordionItems.length; i++) {
        var h2 = getFirstChildWithTagName(accordionItems[i], 'H2');
        h2.onclick = toggleItem;
    }

    // Hide all accordion item bodies except the first
    for (var i = 1; i < accordionItems.length; i++) {
        accordionItems[i].className = 'accordionItem hide';
    }
}

init();
</script>

                 


      </div>

    </form>

  </section>

</html>
{% endblock %}
