{% load i18n %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}




<div name="button">
	<!-- hidden buttons to capture default Enter  -->
	{% if wizard.steps.next %}
		<button name="" id="tutor_signup" class="icon rocket" type="submit" value="{{ wizard.steps.next }}" style="position: absolute; left: -9999px; width: 1px; height: 1px;">{% trans "next" %} </button>
	{% else %}
		<input type="submit" id="tutor_signup"  value="{% trans "submit" %}" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>	
	{% endif %}
	
	
	{% if wizard.steps.prev %}
		<button name="wizard_goto_step" id="tutor_signup" type="submit" value="{{ wizard.steps.prev }}">{% trans "back" %}</button>
	{% endif %}
	
	{% if wizard.steps.next %}
		<button name="" id="tutor_signup" class="icon rocket" type="submit" value="{{ wizard.steps.next }}">{% trans "next" %}</button>
	{% else %}
		<input type="submit" value="{% trans "submit" %}"/>	
	{% endif %}
	
	<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
	{{ previous_fields|safe }}
</div>
