{% load ut_tags %}

{% with user.is_authenticated as is_authenticated %}
<footer>
  	<div class="row hide-on-phones">
	    <div class="twelve columns">
	      <ul class="centered">
	        <li><a href="/student-guide/">Student Guide</a></li>
	        <li><a href="/tutor-guide/">Tutor Guide</a></li>
	        <li><a href="{% url search %}">Search</a></li>
	        {% if not is_authenticated %}
	        <li><a href="#" data-reveal-id="modal-signin">Log In</a></li>
	        {% endif %}
	        <li class="logo"><a class="ir" href="{% url home %}">Home</a></li>
	        {% if not is_authenticated %}
	        <li><a data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('0'); $('#signup_user_type').change();" href="javascript:;">Sign Up</a></li>
	        {% endif %}
	        <li><a href="/terms/">Terms</a>
	        <li><a href="/privacy/">Privacy</a>
	        <li><a href="/faq/">FAQs</a>
	        <li><a href="/contact-us/">Contact Us</a>
	      </ul>
	    </div>
  	</div>
  
  	<div class="row show-on-phones">
        <div class="twelve columns">
          <a name="navi"></a>
          <ul>
            <li><a href="{% url home %}">Home</a></li>
            <li><a href="/student-guide/">Student Guide</a></li>
            <li><a href="/tutor-guide/">Tutor Guide</a></li>
	        {% if not is_authenticated %}
            <li><a href="#" data-reveal-id="modal-signin">Log In</a></li>
            <li><a data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('0'); $('#signup_user_type').change();" href="javascript:;">Sign Up</a></li>
	        {% endif %}
            <li><a href="{% url search %}">Search</a></li>
            <li><a href="/terms/">Terms</a>
            <li><a href="/privacy/">Privacy</a>
            <li><a href="/faq/">FAQs</a>
            <li><a href="/contact-us/">Contact Us</a>
            <li><a href="#">Back to Top</a></li>
          </ul>
        </div>
  	</div>
  	
  	{% get_quote %}
  	{% if quote %}
  	<p class="quote">{{quote}}  <a class="tweet" href="https://twitter.com/share?url={% url home %}&via=UniversalTutors&text={{quote}}" target="_blank">Tweet this <i class="icon-twitter-bird"></i></a></p>
  	{% endif %}
  	<p class="socials text-center">Follow us:<br>
    	<a href="http://twitter.com/#!/UniversalTutors" class="twitter inline text-large">
    	  <i class="icon-twitter-bird"></i>
    	  <span class="hide">Twitter</span>
    	</a>
    	<a href="http://www.facebook.com/UniversalTutors" class="facebook inline text-large">
    	  <i class="icon-facebook-rect"></i>
    	  <span class="hide">Facebook</span>
    	</a>
    </p>
</footer>
{% endwith %}
