{% load ut_tags %}

{% with user.is_authenticated as is_authenticated %}
<footer>
  	<div class="row hide-on-phones">
	    <div class="twelve columns">
	      <ul class="centered">
	        <li><a href="/student-guide/">Student Guide</a></li>
	        <li><a href="/tutor-guide/">Tutor Guide</a></li>
	        <li><a href="/about-us/">About Us</a></li>
	        <li><a href="{% url search %}">{% if not is_authenticated %}Advanced {% endif %}Search</a></li>
	        {% if not is_authenticated %}
	        <li><a data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('0'); $('#signup_user_type').change();" href="javascript:;">Sign Up</a></li>
	        {% else %}
          	<li><a href="{% url logout %}">Sign out</a></li>
	        {% endif %}
	        <li class="logo"><a class="ir" href="{% url home %}">Home</a></li>
	        {% if not is_authenticated %}
	        <li><a href="#" data-reveal-id="modal-signin">Log In</a></li>
	        {% endif %}
	        <li><a href="http://blog.wizoku.com">Blog</a></li>
	        <li><a href="/terms-of-use/">Terms of use</a>
	        <li><a href="/privacy-policy/">Privacy policy</a>
	        <li><a href="{% url faq %}">FAQs</a>
	        <li><a href="/contact-us/">Contact Us</a>
	      </ul>
	    </div>
  	</div>
  
  	<div class="row show-on-phones">
        <div class="twelve columns">
          <a name="navi"></a>
          <ul>
            <li><a href="{% url home %}">Home</a></li>
	        {% if not is_authenticated %}
            <li><a href="/student-guide/">Student Guide</a></li>
            <li><a href="/tutor-guide/">Tutor Guide</a></li>
            <li><a href="#" data-reveal-id="modal-signin">Log In</a></li>
            <li><a data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('0'); $('#signup_user_type').change();" href="javascript:;">Sign Up</a></li>
			{% else %}
				{% if user_profile.type == user_profile.TYPES.TUTOR %}
			          <li><a href="{% url tutor_classes %}">Classes</a></li>
			          <li><a href="{% url tutor_messages %}">Messages</a></li>
				{% endif %}
				{% if user_profile.type == user_profile.TYPES.STUDENT or user_profile.type == user_profile.TYPES.UNDER16 %}
			          <li><a href="{% url student_classes %}">Classes</a></li>
			          <li><a href="{% url tutors %}">Tutors</a></li>
			          <li><a href="{% url student_messages %}">Messages</a></li>
				{% endif %}			
				{% if user_profile.type == user_profile.TYPES.PARENT %}
			          <li><a href="{% url parent_messages %}">Messages</a></li>
				{% endif %}			
	          <li><a href="{% url edit_profile %}">Profile</a></li>
	          <li><a href="{% url logout %}">Logout</a></li>
	        {% endif %}
            <li><a href="{% url search %}">Search</a></li>
	        <li><a href="/terms-of-use/">Terms of use</a>
	        <li><a href="/privacy-policy/">Privacy policy</a>
            <li><a href="/faq/">FAQs</a>
            <li><a href="/contact-us/">Contact Us</a>
            <li><a href="#">Back to Top</a></li>
          </ul>
        </div>
  	</div>
  	
  	{% get_quote %}
  	{% if quote %}
  	<p class="quote">{{quote}}  <a class="tweet" href="https://twitter.com/share?url=http://bit.ly/wizqotd&via=wizoku&text={{quote}}" target="_blank">Tweet this <i class="icon-twitter-bird"></i></a></p>
  	{% endif %}
  	<p class="socials text-center">Follow us:<br>
    	<a target="_blank" href="http://twitter.com/#!/wizoku" class="twitter inline text-large">
    	  <i class="icon-twitter-bird"></i>
    	  <span class="hide"><!--Twitter--></span>
    	</a>
    	<a target="_blank" href="http://www.facebook.com/wizoku" class="facebook inline text-large">
    	  <i class="icon-facebook-rect"></i>
    	  <span class="hide"><!--Facebook--></span>
    	</a>
    </p>
</footer>
{% endwith %}
