{% with user.profile as profile %}
{% with user.is_authenticated as authenticated %}
<header>
	<nav class="row hide-on-phones">
      	<div>
	    	<ul>
	          	<li class="logo ir"><a href="/">Universal Tutors</a></li>
	      		{% if authenticated %}
					{% if profile.type == profile.TYPES.TUTOR %}
				          <li><a class="link-classes" href="{% url tutor_classes %}">Classes</a></li>
				          <li><a class="link-messages" href="{% url tutor_messages %}">Messages</a></li>
					{% endif %}
					{% if profile.type == profile.TYPES.STUDENT %}
				          <li><a class="link-classes" href="{% url student_classes %}">Classes</a></li>
				          <li><a class="link-messages" href="{% url student_messages %}">Messages</a></li>
					{% endif %}
				{% else %}
		  				<li><a class="link-students" href="students">Student Guide</a></li>
		 				<li><a class="link-tutors" href="tutors">Tutor Guide</a></li>
				{% endif %}
			</ul>
		</div>

		<div class="user-links">
			{% if authenticated %}
        		<a href="{% url profile %}" class="link-profile">Profile</a><a href="{% url logout %}">Sign Out</a>
			{% else %}
				<a href="javascript:;" data-reveal-id="modal-signup" onclick="$('#signup_user_type').val('0'); $('#signup_user_type').change();">Sign Up</a>			
				<a href="#" class="sign-up-button">Sign In</a>
			{% endif %}
			<a href="#" class="search">Search</a>
			<form class="nice custom compact-search hide-on-phones">
  				<select>
    				<option>Tutors</option>
    				<option>Subjects</option>
    				<option>Level</option>
  				</select>
  				<input type="text" class="input-text" placeholder="Search">
  				<input type="submit" class="search-icon" value="Search">
			</form>
			<a class="advanced" href="#">Advanced Search</a>
		</div>
	</nav>
	
    <nav class="row show-on-phones">
		<div class="logo"><a class="left ir" href="/">Universal Tutors</a></div>
		<a class="right" href="#navi">Navigation</a>
	</nav>
</header>
{% endwith %}
{% endwith %}
