<style>


</style>

{% with user.profile as profile %}
{% with user.is_authenticated as authenticated %}
{% with profile.no_messages as no_messages %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42520572-1', 'wizoku.com');
  ga('send', 'pageview');

</script>
<header>
	
	<link href="https://plus.google.com/109393121124198948515" rel="publisher" />
	<nav class="row hide-on-phones">
      	<div>
      		<span class="beta-tag" style = padding-left:20px >beta</span>
	    	<ul>
	          	<li class="logo ir"><a href="/">Universal Tutors</a></li>
	      		{% if authenticated %}
					{% if profile.type == profile.TYPES.TUTOR %}
						  {% with profile.new_classes as new_classes %}
				          <li><a class="link-classes" href="{% url tutor_classes %}" style="position:relative;">Classes<div id="header-no-new-classes" class="unread {% if not new_classes %}hidden{% endif %}">{{new_classes}}<span> New Classes</span></div></a></li>
				          {% endwith %}
				          <li><a class="link-messages" href="{% url tutor_messages %}" style="position:relative;">Messages<div id="header-no-new-messages" class="unread {% if not no_messages %}hidden{% endif %}">{{no_messages}}<span> Unread Message</span></div></a></li>
					{% endif %}
					{% if profile.type == profile.TYPES.STUDENT or profile.type == profile.TYPES.UNDER16 %}
				          <li><a class="link-classes" href="{% url student_classes %}">Classes</a></li>
				          <li><a class="link-tutors" href="{% url tutors %}">Tutors</a></li>
				          <li><a class="link-messages" href="{% url student_messages %}" style="position:relative;">Messages<div id="header-no-new-messages" class="unread {% if not no_messages %}hidden{% endif %}">{{no_messages}}<span> Unread Message</span></div></a></li>
					{% endif %}
					{% if user_profile.type == profile.TYPES.PARENT %}
				          <li><a class="link-messages" href="{% url parent_messages %}" style="position:relative;">Messages<div id="header-no-new-messages" class="unread {% if not no_messages %}hidden{% endif %}">{{no_messages}}<span> Unread Message</span></div></a></li>
					{% endif %}			
				{% else %}
		  				<li><a class="link-students" href="/student-guide/">Student Guide</a></li>
		 				<li><a class="link-tutors" href="/tutor-guide/">Tutor Guide</a></li>
		 				<li><a class="link-aboutus" href="/about-us/">About Us</a></li>
		 				<li><a class="link-blog" href="http://blog.wizoku.com/">Blog</a></li>
				{% endif %}
			</ul>
		</div>

		<div class="user-links">
			{% if authenticated %}
        		<a href="{% url edit_profile %}" class="link-profile">Profile</a><a href="{% url logout %}">Sign Out</a>
			{% else %}
				<!--<a href="javascript:;" id="signup-header-button" data-reveal-id="modal-signup">Student Sign Up</a>-->
				<a href="/ambassador/">Ambassador Program</a>			
				<a href="javascript:;" class="sign-up-button">Log In</a>
			{% endif %}
			<a href="{% url search %}" class="search">Search</a>
			<form method="get" action="{% url search %}" class="nice custom compact-search hide-on-phones">
  				<select name="what">
    				<option value="subject">Subject</option>
    				<option value="tutor">Tutor</option>
  				</select>
  				<input name="text" type="text" class="input-text" placeholder="Search" />
  				<input type="submit" class="search-icon" value="Search" />
			</form>
			<a class="advanced" href="{% url search %}">Advanced Search</a>
		</div>
	</nav>

    <nav class="row show-on-phones">
		<div class="logo"><a class="left ir" href="/">Wizoku</a></div>
		<a class="right" href="#navi">Navigation</a>
	</nav>

	<script type="text/javascript">
		{% if user.is_authenticated %}
		setInterval(function(){
			$.get('{% url update_header %}', function(data){
				var no_messages = parseInt(data['no_messages']);
				var no_classes = parseInt(data['new_classes']);

				$('#header-no-new-messages').html(no_messages);
				if (no_messages) {
					$('#header-no-new-messages').removeClass('hidden');
				} else {
					$('#header-no-new-messages').addClass('hidden');
				}

				$('#header-no-new-classes').html(no_classes);
				if (no_classes) {
					$('#header-no-new-classes').removeClass('hidden');
				} else {
					$('#header-no-new-classes').addClass('hidden');
				}
			});
		}, 15000);
		{% endif %}
	</script>
</header>
{% endwith %}
{% endwith %}
{% endwith %}