{% with user.profile as profile %}
{% with user.is_authenticated as authenticated %}
<header>
	<nav class="row hide-on-phones">
      	<div>
	    	<ul>
	          	<li class="logo ir"><a href="/">Universal Tutors</a></li>
	      		{% if authenticated %}
					{% if profile.type == profile.TYPES.TUTOR %}
				          <li><a class="link-classes" href="{% url tutor_classes %}">Classes</a></li>
				          <li><a class="link-messages" href="{% url tutor_messages %}">Messages</a></li>
					{% endif %}
					{% if profile.type == profile.TYPES.STUDENT or profile.type == profile.TYPES.UNDER16 %}
				          <li><a class="link-classes" href="{% url student_classes %}">Classes</a></li>
				          <li><a class="link-tutors" href="{% url tutors %}">Tutors</a></li>
				          <li><a class="link-messages" href="{% url student_messages %}">Messages</a></li>
					{% endif %}
				{% else %}
		  				<li><a class="link-students" href="/student-guide/">Student Guide</a></li>
		 				<li><a class="link-tutors" href="/tutor-guide/">Tutor Guide</a></li>
				{% endif %}
			</ul>
		</div>

		<div class="user-links">
			{% if authenticated %}
        		<a href="{% url edit_profile %}" class="link-profile">Profile</a><a href="{% url logout %}">Sign Out</a>
			{% else %}
				<a href="javascript:;" id="signup-header-button" data-reveal-id="modal-signup">Sign Up</a>			
				<a href="javascript:;" class="sign-up-button">Sign In</a>
			{% endif %}
			<a href="{% url search %}" class="search">Search</a>
			<form method="get" action="{% url search %}" class="nice custom compact-search hide-on-phones">
  				<select name="what">
    				<option value="tutors">Tutors</option>
    				<option value="subjects">Subjects</option>
    				<!-- <option value="level">Level</option> -->
  				</select>
  				<input name="text" type="text" class="input-text" placeholder="Search" />
  				<input type="submit" class="search-icon" value="Search" />
			</form>
			<a class="advanced" href="{% url search %}">Advanced Search</a>
		</div>
	</nav>
	
    <nav class="row show-on-phones">
		<div class="logo"><a class="left ir" href="/">Universal Tutors</a></div>
		<a class="right" href="#navi">Navigation</a>
	</nav>
</header>
{% endwith %}
{% endwith %}
