<div id="modal-signin" class="reveal-modal">
	<h2>Sign In</h2>
	<form class="nice">
	    <div class="row">
	      	<div class="four columns">
	        	<input type="text" class="input-text oversize stretch" placeholder="Username">
	      	</div>
	      
	      	<div class="four columns">
	        	<input type="password" class="input-text oversize stretch" placeholder="Password">
	      	</div>
	      
	      	<div class="four columns">
	        	<div class="button stretch space"><input type="submit" class="icon rocket stretch" value="Sign In"></div>
	        	<a href="#">Forgot password?</a>
	      	</div>
	    </div>
	</form>
	Temporary links: <a href="student-classes">Student</a> | <a href="tutor-classes">Tutor</a>
	<a class="close-reveal-modal">&#215;</a>
</div>
