{% load account  socialaccount %}

<div class="sign-in">
	{% include "socialaccount/snippets/login_extra.html" %}
	<form class="nice" action="{% url login %}" method="post">
		{% csrf_token %}
		
		<!--<div class="row center">
			<a href="{% provider_login_url 'facebook' method='oauth2' %}" class="facebook_connect_link">facebook</a>
		</div>-->
		<div class="row">&nbsp;</div>
		<div class="row">
			<div class="two columns">
  				<h3>Log In</h3>
			</div>
  
			<div class="four columns">
  				<input name="email" type="text" class="input-text oversize stretch" placeholder="Email address">
			</div>

			<div class="four columns">
  				<input name="password" type="password" class="input-text oversize stretch" placeholder="Password">
  				<a class="forgot" href="{% url account_reset_password %}">Forgot your password?</a>
			</div>

			<div class="two columns">
  				<div class="button stretch"><input type="submit" class="icon rocket stretch" value="Log In"></div>
			</div>
		</div>
		<div class="row">&nbsp;</div>
	</form>
</div>

<div id="modal-signin" class="reveal-modal">
	<h2>Log In</h2>
	<form action="{% url login %}" method="post" class="nice">
		{% csrf_token %}
	    <div class="row">
	      	<div class="four columns">
	        	<input name="email" type="text" class="input-text oversize stretch" placeholder="Email address">
	      	</div>
	      
	      	<div class="four columns">
	        	<input name="password" type="password" class="input-text oversize stretch" placeholder="Password">
	      	</div>
	      
	      	<div class="four columns">
	        	<div class="button stretch space"><input type="submit" class="icon rocket stretch" value="Log In"></div>
	        	<a href="{% url account_reset_password %}">Forgot your password?</a>
	      	</div>
	    </div>
	</form>
	<div class="row">&nbsp;</div>
    <!--<div class="row text-center">
		<a href="javascript:FB_login()" class="sigin-popup facebook_connect_link">facebook</a>
	</div>-->
	<a class="close-reveal-modal">&#215;</a>
</div>


