  <li id="accountTab">
    <h2 class="clear">Account Details</h2>
    
    {% if form.password.errors %}<div class="formError">Invalid password</div>{% endif %}
    <div class="row">
      <div class="four columns">
        <label>Current Password</label>
      </div>
      <div class="eight columns">
        <input id="id_password" name="password" type="password" class="input-text stretch">
      </div>
    </div>
    
    {% if form.password1.errors or forms.password2.errors %}<div class="formError">Password should match</div>{% endif %}
    <div class="row">
      <div class="four columns">
        <label>New Password</label>
      </div>
      <div class="eight columns">
        <input id="id_password1" name="password1" type="password" class="input-text stretch">
      </div>
    </div>
    
    <div class="row">
      <div class="four columns">
        <label>Retype New Password</label>
      </div>
      <div class="eight columns">
        <input id="id_password2" name="password2" type="password" class="input-text stretch">
      </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="four columns">
          <label>PayPal Email</label>
        </div>
        <div class="eight columns">
          <input id="id_paypal_email" name="paypal_email" type="text" class="input-text clear" value="{% if form.paypal_email.value %}{{form.paypal_email.value}}{% endif %}" placeholder="PayPal Email Account">
        </div>  
    </div>
    
    <div class="row">
        <div class="four columns">
          <label>Currency</label>
        </div>
        <div class="eight columns">
          {{form.currency}}
        </div>  
    </div>
        
  </li>
