<style>
/* Buttons */

  .button8 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: url("../images/shared/button.jpg") repeat-x top #a7dc32;
    color: #000;
    font-weight: normal;
    border: 1px solid #70ac29;
    padding: 10px;
    text-align: center;
  }
  
  .button8:hover {
    color: #000;
    background-position: 0 -93px;
  }
  
  .button8,
  .timer .button8 span,
  .small.button8,
  .large.button8,
  .icon {
    font-size: 23px;
    font-size: 2.3rem;
    font-family: "MyriadProCondensed";
    text-shadow: 0 1px 0 #d0fb82;
    color: #000;
    cursor: pointer;
  }
  
  .large.button8 {
    padding: 10px;
    background: url("../images/shared/button-large.jpg") top repeat-x;
  }
  .large.button8:hover {
    background-position: 0 -174px;
  }
  
  .button8 .icon {
    border: none;
    padding: 0 25px 0 0;
    margin: 0;
    background: none;
  }

  .button8 .rocket { background: url("../images/shared/sprite.png") no-repeat right -39px; }
  
  .button8 .rocketdown { background: url("../images/shared/sprite.png") no-repeat right -66px; }
  
  .button8 .thumb-up { background: url("../images/shared/sprite.png") no-repeat right -413px; }
  
  .button .credits { background: url("../images/shared/sprite.png") no-repeat right -501px; }
  
  .button8 .history { background: url("../images/shared/sprite.png") no-repeat right -444px; }
  
  .button8 .search { background: url("../images/shared/sprite.png") no-repeat right -473px; }
  
  .button8 .down { background: url("../images/shared/sprite.png") no-repeat right -91px; }
  
  .large.button8 .rocket { background: url("../images/shared/sprite.png") no-repeat right -38px; }
  
</style> 

  {% load common_tags %}
  <li id="creditsTab">
    <h2 class="clear">Credits Overview</h2>
    <div class="row">
      <div class="five columns">
        <label>Credits earned before commission</label>
      </div>
      <div class="seven columns">
        	{{profile.income_without_commission}} credit(s)<br/>
      </div>
    </div>
    <div class="row">
      <div class="five columns">
        <label>Commission due to Wizoku</label>
      </div>
      <div class="seven columns">
        	{{profile.income_without_commission|sub:profile.income}} credit(s)<br/>
      </div>
    </div>
    <div class="row space">
      <div class="five columns">
        <label>Credits earned after commission</label>
      </div>
      <div class="seven columns">
        	{{profile.income}} credit(s)<br/>
      </div>
    </div>

	<div class="row">
	    <a class="button8" href="javascript:;" data-reveal-id="modal-withdraw"><span class="icon credits">Withdraw Credits</span></a>
	    <a class="button8" href="{% url history %}"><span class="icon history">View History</span></a>		
	</div>    

    <div class="row space">&nbsp;</div>
    <h3 class="clear">Discount</h3>
    
    <div id="id_discount_error" class="formError"></div>
    {% with user_profile.get_active_discount as active_discount %}
      {% if active_discount %}
	    <div class="row">
	      <div class="five columns">
	        <label>Activated discount</label>
	      </div>
	      <div class="seven columns">
	          {{active_discount.discount.code}}
	      </div>
	    </div>
      {% else %}
	    <div class="row">
	      <div class="five columns">
	        <label>Insert your discount code</label>
	      </div>
	      <div class="seven columns">
	          <input id="id_discount" name="discount" type="text" class="input-text clear" value="{{form.discount.value}}">
	      </div>
	    </div>
	    <div class="row">
		    <a class="button8" href="javascript:;" id="active-discount-button"><span class="icon rocket">Activate discount&nbsp;</span></a>
	    </div>
      {% endif %}
    {% endwith %}
  </li>
  
  <script type="text/javascript">
  	$('#active-discount-button').click(function(e){
  		var discount = $('#id_discount').val();
  		if(!discount) {
  			$('#id_discount_error').html('Please insert a valid code.');
  			$('#id_discount_error').removeClass('hidden');
  		} else {
  			$('#active-discount-button span').html('Loading...');
  			$.ajax({
  				type: 'POST',
  				data: {
  					'discount': discount,
  					'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val() 
  				},
  				url: '{% url activate_discount %}',
  				success: function(response) {
  					if(response == 'done.') {
  						window.location.reload();
  					} else {
			  			$('#id_discount_error').html(response);
			  			$('#id_discount_error').removeClass('hidden');
			  			$('#active-discount-button span').html('Activate discount&nbsp;');
  					}
  				}
  			})	
  		}
  	});
  </script>
