{% load fb_versions common_tags %}
  
  <li class="active" id="detailsTab">
    <h2 class="clear">Profile Details</h2>
    <div class="row">
      <div class="four columns photo">

    	<div class="row">
	  		<img id="id_image_preview" src="{% version profile.profile_image.path 'profile_image' %}" alt="Profile Picture" style="max-width: 175px; max-height: 175px;">
    	</div>
    	<div id="id_profile_image_preview" class="row space">
  			<a href="javascript:;">Choose image</a>
    	</div>

          <div class="row space">
	        <img id="id_image_preview" src="{% version profile.profile_image.path 'profile_image' %}" alt="{{user.get_full_name}}" style="max-width: 175px; max-height: 175px;">
	        <div>{{form.profile_image}}</div>
	        {% if form.profile_image.errors %}<div class="formError">{{ form.profile_image.errors }}</div>{% endif %}
		  </div>
		  <div class="row space">&nbsp;</div>
          <div class="row space"><div class="button"><a href="{% url profile %}" class="icon">view public profile</a></div></div>
      </div>
      <div class="eight columns">
         {% if form.first_name.errors %}<div class="formError">First name is required</div>{% endif %}
         {% if form.last_name.errors %}<div class="formError">Last name is required</div>{% endif %}
          <div class="row">
            <div class="six columns name">
              <label>First Name</label>
              <input id="id_first_name" name="first_name" type="text" class="input-text clear" {% if form.first_name.value %}value{% else %}placeholder{% endif %}="{{form.first_name.value}}">
            </div>
            <div class="six columns name">
              <label>Surname</label>
              <input id="id_last_name" name="last_name" type="text" class="input-text clear" {% if form.last_name.value %}value{% else %}placeholder{% endif %}="{{form.last_name.value}}">
            </div>
          </div>
          
          {% if form.about.errors %}<div class="formError">{{ form.about.errors }}</div>{% endif %}
          <div class="row space">
          	<div class="twelve columns">
	          <label>Description <span>(max 300 characters)</span></label>
	          <textarea id="id_about" name="about" class="user stretch">{{form.about.value}}</textarea>          		
          	</div>
          </div>
          
          {% if form.video.errors %}<div class="formError">{{ form.video.errors }}</div>{% endif %}
          <div class="row user space">
            <div class="three columns phone-one">
              <label>Video (URL) <span id="tooltip-video">[?]</span></label>
            </div>
            <div class="nine columns phone-three">
              <input id="id_video" name="video" type="text" class="input-text" value="{% if form.video.value %}{{form.video.value}}{% endif %}" placeholder="Youtube video link">
	          <span>Your video must not exceed 60 seconds.</span>
            </div>
          </div>

          <div class="row space">
            <div class="three columns phone-one">
              <label>I have a Webcam</label>
            </div>
            <div class="nine columns phone-three checkbox-container">
              {{ form.webcam }}
            </div>
          </div>

         {% if form.date_of_birth.errors %}<div class="formError">{{ form.date_of_birth.errors }}</div>{% endif %}
          <div class="row user date_of_birth">
            <div class="three columns phone-one">
              <label>D.O.B.</label>
            </div>
            <div class="nine columns phone-three">
              <input id="id_date_of_birth" name="date_of_birth" type="text" class="input-text clear hidden" value="{{form.date_of_birth.value}}">
              <div class="row">
              	<div class="four columns phone-one">
                  <select id="id_dob_day" class="stretch"></select>
                </div>
                <div class="four columns phone-one">
                  <select id="id_dob_month" class="stretch"></select>
                </div>
                <div class="four columns phone-one">
                  <select id="id_dob_year" class="stretch"></select>
                </div>
              </div>
            </div>  
          </div>
          
         {% if form.gender.errors %}<div class="formError">{{ form.gender.errors }}</div>{% endif %}
          <div class="row user space">
            <div class="three columns phone-one">
              <label>Gender</label>
            </div>
            <div class="nine columns phone-three">
              <select id="id_gender" name="gender" class="stretch">
              	{% for value, name in profile.GENDER_TYPES.get_choices %}
	                <option value="{{value}}" {% if profile.gender == value %}selected="selected"{% endif %}>{{name}}</option>
              	{% endfor %}
              </select>
            </div>  
          </div>
          
          {% if form.country.errors %}<div class="formError">{{ form.country.errors }}</div>{% endif %}
          <div class="row user">
            <div class="three columns phone-one">
              <label>Country</label>
            </div>
            <div class="nine columns phone-three">
              {{form.country}}
            </div>  
          </div>

          {% if form.timezone.errors %}<div class="formError">{{ form.timezone.errors }}</div>{% endif %}
          <div class="row date_of_birth space">
            <div class="three columns phone-one">
              <label>Timezone</label>
            </div>
            <div class="nine columns phone-three">
              <select id="id_timezone" name="timezone" class="stretch">
              	{% for tz in profile.country|get_country_timezones %}
	                <option value="{{tz}}" {% if profile.timezone == tz %}selected="selected"{% endif %}>{{tz}}</option>
              	{% endfor %}
              </select>
            </div>  
          </div>
          
          {% if form.crb.errors %}<div class="formError">{{ form.crb.errors }}</div>{% endif %}
          <div class="row space">
            <div class="three columns phone-one">
              <label>I have a CRB</label>
            </div>
            <div class="nine columns phone-three checkbox-container">
              <div class="row">{{ form.crb }}</div>
              <div class="row">To apply for a CRB <a href="{% url crb_form %}" target="_blank">click here</a>.</div>
            </div>  
          </div>
          
          {% if form.crb_file.errors %}<div class="formError">{{ form.crb_file.errors }}</div>{% endif %}
          <div class="row date_of_birth">
            <div class="three columns phone-one">
              <label>CRB Certificate</label>
            </div>
            <div class="nine columns phone-three">
              {{ form.crb_file }}
            </div>  
          </div>
          
      </div>
    </div>
    
  </li>

<script type="text/javascript">
	var today = new Date();
	var today_year = today.getFullYear();
	
	var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'October', 'November', 'December'];

	for(i=1; i<=31; i++)
		$('#id_dob_day').append('<option value="'+ i +'">'+ i +'</option>');

	for(i=0; i<months.length; i++)
		$('#id_dob_month').append('<option value="'+ (i+1) +'">'+ months[i] +'</option>');

	for(i=today_year; i>today_year-100; i--)
		$('#id_dob_year').append('<option value="'+ i +'">'+ i +'</option>');
		
	$('#id_dob_day').val({{profile.date_of_birth.day}});
	$('#id_dob_month').val({{profile.date_of_birth.month}});
	$('#id_dob_year').val({{profile.date_of_birth.year}});
	
	$('#profile-form').submit(function(){
		$('#id_date_of_birth').val( $('#id_dob_year').val() +'-'+ $('#id_dob_month').val() +'-'+ $('#id_dob_day').val() );
	});
	
	$('#id_profile_image').change(function(){
        var input = $(this)[0]
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#id_image_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }		
	});

	$('#id_country').live("change", function(){
		$('#id_timezone').html('<option disabled="disabled">Loading timezones...</option>');
		$('#id_timezone').load('{% url get_timezones %}'+ $(this).val() +'/');
	});
	
	if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i))) {
  		$("input[name=profile_image]").parent().hide();
  	}
	
</script>
<script type="text/javascript">
	$(window).ready(function(){
		$('#tooltip-video').clickover({
			title: 'Video',
			content: 'Providing a short video introduction to yourself will help you attract more students as it provides them with more comfort about their choice of tutor'
		});
	});
</script>
