{% load classes_tags %}

{% with user.subjects.all as subjects %}
{% with subjects.count as no_subjects %}
{% with profile.currency as currency %}
  <li id="subjectsTab">
    <h2 class="clear">Subjects <span id="tooltip-subjects" style="display: inline; vertical-align: middle;">[?]</span></h2>
    <label>Maximum of 12 subjects allowed</label>
	
	<input id="id_subjects-TOTAL_FORMS" type="hidden" value="{{subjects.count|add:1}}" name="subjects-TOTAL_FORMS">
	<input id="id_subjects-INITIAL_FORMS" type="hidden" value="{{subjects.count}}" name="subjects-INITIAL_FORMS">
	<input id="id_subjects-MAX_NUM_FORMS" type="hidden" name="subjects-MAX_NUM_FORMS">
	  
    <table id="subjects-table" class="stretch">
      <tr>
        <th>Subject</th>
        <th>System</th>
        <th>Level</th>
        <th>Credits per hour</th>
        <th>Price in {{profile.currency}}</th>
        <th>Delete</th>
      </tr>
            
      {% for item in subjects %}
      {% with item.level as level %}
      {% with item.system as system %}
      {% with item.subject as subject %}
      <tr>
        <td>
		  <input id="id_subjects-{{forloop.counter0}}-id" type="hidden" name="subjects-{{forloop.counter0}}-id" value="{{item.id}}">
		  <input id="id_subjects-{{forloop.counter0}}-user" type="hidden" value="{{user.id}}" name="subjects-{{forloop.counter0}}-user">
		  <select id="id_subjects-{{forloop.counter0}}-subject" name="subjects-{{forloop.counter0}}-subject" class="stretch subjects-select-subjects">
		  	<option value="">Select subject</option>
		  	{% for sub in class_subjects %}
		  	<option value="{{sub.id}}" {% if sub == subject %}selected="selected"{% endif %}>{{sub}}</option>
		  	{% endfor %}
		  </select>
		</td>
        <td>
		  <select id="id_subjects-{{forloop.counter0}}-system" name="subjects-{{forloop.counter0}}-system" class="stretch subjects-select-systems">
		  	<option value="">Any system</option>
		  	{% for sys in subject.systems.all %}
		  	<option value="{{sys.id}}" {% if sys == system %}selected="selected"{% endif %}>{{sys}}</option>
		  	{% endfor %}
		  </select>
		</td>
        <td>
		  <select id="id_subjects-{{forloop.counter0}}-level" name="subjects-{{forloop.counter0}}-level" class="stretch subjects-select-levels">
		  	<option value="">Any level</option>
		  	{% for lvl in system.levels.all %}
		  	<option value="{{lvl.id}}" {% if lvl == level %}selected="selected"{% endif %}>{{lvl}}</option>
		  	{% endfor %}
		  </select>
		</td>
		<td>
		  <input id="id_subjects-{{forloop.counter0}}-credits" name="subjects-{{forloop.counter0}}-credits" type="text" class="input-text subject-credits" value="{{item.credits}}" />
		</td>
        <td>
          <span id="id_subjects-{{forloop.counter0}}-price">{{currency.symbol}} {{item.credits|in_currency:currency|floatformat:2}}</span>
		</td>
        <td>
		  <input id="id_subjects-{{forloop.counter0}}-DELETE" type="checkbox" name="subjects-{{forloop.counter0}}-DELETE" />
		</td>
	  </tr>
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% endfor %}
        
      {% if no_subjects < 12 %}
	  <tr>
		<td>
		  <input id="id_subjects-{{no_subjects}}-id" type="hidden" name="subjects-{{no_subjects}}-id">
		  <input id="id_subjects-{{no_subjects}}-user" type="hidden" value="{{user.id}}" name="subjects-{{no_subjects}}-user">
		  <select id="id_subjects-{{no_subjects}}-subject" name="subjects-{{no_subjects}}-subject" class="stretch subjects-select-subjects">
		  	<option value="" selected="selected">Select subject</option>
		  	{% for sub in class_subjects %}
		  	<option value="{{sub.id}}">{{sub}}</option>
		  	{% endfor %}
		  </select>
	    </td>
		<td>			
		  <select id="id_subjects-{{no_subjects}}-system" name="subjects-{{no_subjects}}-system" class="stretch subjects-select-systems">
		  	<option value="" selected="selected">Any system</option>
		  </select>
	    </td>
		<td>
		  <select id="id_subjects-{{no_subjects}}-level" name="subjects-{{no_subjects}}-level" class="stretch subjects-select-levels">
		  	<option value="" selected="selected">Any level</option>
		  </select>
	    </td>
		<td>
		  <input id="id_subjects-{{no_subjects}}-credits" name="subjects-{{no_subjects}}-credits" type="text" class="input-text subject-credits" placeholder="Credits" />
		</td>
		<td>
	       <span id="id_subjects-{{no_subjects}}-price">{{currency.symbol}} 0.00</span>
	    </td>
		<td>
		   <input id="id_subjects-{{no_subjects}}-DELETE" type="checkbox" name="subjects-{{no_subjects}}-DELETE" />
	    </td>
      </tr>
      {% endif %}
    </table>
	  {% if no_subjects < 11 %}
		  <a id="add-subject-link" href="javascript:;">+ add subject</a>
	  {% endif %}
  </li>
  <script type="text/javascript">
  	var id_subject = {{no_subjects}} + 1;
  	var credit_value = {{currency.credit_value}};
  	var currency_symbol = '{{currency.symbol}}';
  
  
  	$('.subjects-select-subjects').live('change', function(){
  		var self_value = $(this).val();
  		var self_id = $(this).attr('id');
  		var item_id = self_id.split('-')[1];
  		if(self_value) {
  			$('#id_subjects-'+ item_id +'-system').load('{% url subject_systems_options %}'+ self_value +'/1/');
  		} else {
  			$('#id_subjects-'+ item_id +'-system').html('<option value="" selected="selected">Any</option>');
  		}
  	});

  	$('.subjects-select-systems').live('change', function(){
  		var self_value = $(this).val();
  		var self_id = $(this).attr('id');
  		var item_id = self_id.split('-')[1];
  		if(self_value) {
  			$('#id_subjects-'+ item_id +'-level').load('{% url system_levels_options %}'+ self_value +'/1/');
  		} else {
  			$('#id_subjects-'+ item_id +'-level').html('<option value="" selected="selected">Any</option>');
  		}
  	});
  
  	$('#add-subject-link').click(function(){
  		if (parseInt($('#id_subjects-TOTAL_FORMS').val()) > 11) {
  			$(this).remove();
  			return;
  		}
  		$('#subjects-table').append(
  			'<tr>'+
	  		'	<td>'+
			'		<input id="id_subjects-'+ id_subject +'-id" type="hidden" name="subjects-'+ id_subject +'-id">'+
			'		<input id="id_subjects-'+ id_subject +'-user" type="hidden" value="{{user.id}}" name="subjects-'+ id_subject +'-user">'+
			' 		<select id="id_subjects-'+ id_subject +'-subject" name="subjects-'+ id_subject +'-subject" class="stretch subjects-select-subjects">'+
			'			<option value="">Select subject</option>'+
			{% for sub in class_subjects %}
			'			<option value="{{sub.id}}">{{sub}}</option>'+
			{% endfor %}
			'   	</select>'+
	  		'	</td>'+
	  		'	<td>'+
			' 		<select id="id_subjects-'+ id_subject +'-system" name="subjects-'+ id_subject +'-system" class="stretch subjects-select-systems">'+
			'			<option value="">Any system</option>'+
			'   	</select>'+
	  		'	</td>'+
	  		'	<td>'+
			' 		<select id="id_subjects-'+ id_subject +'-level" name="subjects-'+ id_subject +'-level" class="stretch subjects-select-levels">'+
			'			<option value="">Any level</option>'+
			'   	</select>'+
	  		'	</td>'+
	  		'	<td>'+
			'		<input id="id_subjects-'+ id_subject +'-credits" name="subjects-'+ id_subject +'-credits" type="text" class="input-text subject-credits" placeholder="Credits" />'+
	  		'	</td>'+
	  		'	<td>'+
	  		'		<span id="id_subjects-'+ id_subject +'-price">{{currency.symbol}} 0.00</span>'+
	  		'	</td>'+
	  		'	<td>'+
	  		'		<input id="id_subjects-'+ id_subject +'-DELETE" name="subjects-'+ id_subject +'-DELETE" type="checkbox">'+
	  		'	</td>'+
	  		'</tr>'
  		);
  		$('#id_subjects-TOTAL_FORMS').val(parseInt($('#id_subjects-TOTAL_FORMS').val())+1);
  		id_subject++;
  	});
  	
  	$('.subject-credits').live('keyup blur', function(){
  		var id = $(this).attr('id').split('-')[1];
  		var value = parseFloat($(this).val());
  		
  		if(!isNaN(value)) {
	  		$('#id_subjects-'+ id +'-price').html(currency_symbol +' '+ (value * credit_value).toFixed(2));
  		} else {
	  		$('#id_subjects-'+ id +'-price').html(currency_symbol +' 0.00');
  		}
  	});
  </script>
<script type="text/javascript">
	$(window).ready(function(){
		$('#tooltip-subjects').popover({
			title: 'Subjects',
			content: 'In order for students to find the tutor best suited to their needs we ask you to be, where appropriate, quite specific about the subjects, levels and curriculums you teach'
		});
	});
</script>
{% endwith %}
{% endwith %}
{% endwith %}