{% load classes_tags %}

{% with user.subjects.all as subjects %}
{% with subjects.count as no_subjects %}
{% with profile.currency as currency %}
  <li id="subjectsTab">
    <h2 class="clear">Subjects</h2>
    
    <table class="stretch">
      <tr>
        <th>
          <div class="row">
            <div class="one columns phone-one">
              Subject and level (eg: Math, GCSE)
            </div>
            <div class="one columns phone-one">
              Credits per hour
            </div>
            <div class="one columns phone-one">
              Price in {{profile.currency}}
            </div>
            <div class="one columns phone-one">
              Delete
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <td>
		  0
		  <input id="id_subjects-TOTAL_FORMS" type="hidden" value="{{subjects.count|add:1}}" name="subjects-TOTAL_FORMS">
		  <input id="id_subjects-INITIAL_FORMS" type="hidden" value="{{subjects.count}}" name="subjects-INITIAL_FORMS">
		  <input id="id_subjects-MAX_NUM_FORMS" type="hidden" name="subjects-MAX_NUM_FORMS">
          
          {% for item in user.subjects.all %}
	          <div class="row">
	            <div class="one columns phone-one">
	              <input id="id_subjects-{{forloop.counter0}}-subject" name="subjects-{{forloop.counter0}}-subject" type="text" class="input-text edit-profile-subjects-list" value="{{item.subject}}" placeholder="Subject" />
	            </div>
	            <div class="one columns phone-one">
	              <input id="id_subject-{{forloop.counter0}}-credits" name="subjects-{{forloop.counter0}}-credits" type="text" class="input-text subject-credits" value="{{item.credits}}" placeholder="Credits" />
	            </div>
	            <div class="one columns phone-one">
	              <span id="id_subject-{{forloop.counter0}}-price">{{currency.symbol}} {{item.credits|in_currency:currency|floatformat:2}}</span>
	            </div>
	            <div class="one columns phone-one">
					<input id="id_subjects-{{forloop.counter0}}-DELETE" type="checkbox" name="subjects-{{forloop.counter0}}-DELETE" />
	            </div>
				<input id="id_subjects-{{forloop.counter0}}-id" type="hidden" name="subjects-{{forloop.counter0}}-id" value="{{item.id}}">
				<input id="id_subjects-{{forloop.counter0}}-user" type="hidden" value="{{user.id}}" name="subjects-{{forloop.counter0}}-user">
	          </div>
	          <script type="text/javascript">$(window).ready(function(){ add_autocomplete('#id_subjects-{{forloop.counter0}}-subject'); });</script>
	          <hr>
          {% endfor %}
          {% if user.subjects.all|length < 12 %}
          <div class="row">
            <div class="one columns phone-one">
              <input id="id_subjects-{{no_subjects}}-subject" name="subjects-{{no_subjects}}-subject" type="text" class="input-text edit-profile-subjects-list" placeholder="Subject" />
            </div>
            <div class="one olumns phone-one">
              <input id="id_subjects-{{no_subjects}}-credits" name="subjects-{{no_subjects}}-credits" type="text" class="input-text subject-credits" placeholder="Credits" />
            </div>
            <div class="one olumns phone-one">
              <span id="id_subjects-{{no_subjects}}-price">{{currency.symbol}} 0.00</span>
            </div>
            <div class="one columns phone-one">
				<input id="id_subjects-{{no_subjects}}-DELETE" type="checkbox" name="subjects-{{no_subjects}}-DELETE" />
            </div>
			<input id="id_subjects-{{no_subjects}}-id" type="hidden" name="subjects-{{no_subjects}}-id">
			<input id="id_subjects-{{no_subjects}}-user" type="hidden" value="{{user.id}}" name="subjects-{{no_subjects}}-user">
          </div>
          <script type="text/javascript">$(window).ready(function(){ add_autocomplete('#id_subjects-{{no_subjects}}-subject'); });</script>
          <hr>
		  <a id="add-subject-link" href="javascript:;">+ add subject</a>
		  {% endif %}
        </td>
      </tr>
    </table>
  </li>
  <script type="text/javascript">
  	var id_subject = {{no_subjects}} + 1;
  	var credit_value = {{currency.credit_value}};
  	var currency_symbol = '{{currency.symbol}}';
  
  	$('#add-subject-link').click(function(){
  		if (parseInt($('#id_subjects-TOTAL_FORMS').val()) > 11) {
  			return;
  		}
  		$(
	  		'<div class="row">'+
	  		'	<div class="one columns phone-one">'+
	  		'		<input id="id_subjects-'+ id_subject +'-subject" name="subjects-'+ id_subject +'-subject" type="text" class="input-text edit-profile-subjects-list" placeholder="Subject" />'+
	  		'	</div>'+
	  		'	<div class="one columns phone-one">'+
	  		'		<input id="id_subjects-'+ id_subject +'-credits" name="subjects-'+ id_subject +'-credits" type="text" class="input-text subject-credits" placeholder="Credits" />'+
	  		'	</div>'+
	  		'	<div class="one columns phone-one">'+
	  		'		<span id="id_subjects-'+ id_subject +'-price">{{curency.symbol}} 0.00</span>'+
	  		'	</div>'+
	  		'	<div class="one columns phone-one">'+
	  		'		<input id="id_subjects-'+ id_subject +'-DELETE" name="subjects-'+ id_subject +'-DELETE" type="checkbox">'+
	  		'	</div>'+
			'	<input id="id_subjects-'+ id_subject +'-id" type="hidden" name="subjects-'+ id_subject +'-id">'+
			'	<input id="id_subjects-'+ id_subject +'-user" type="hidden" value="{{user.id}}" name="subjects-'+ id_subject +'-user">'+
	  		'</div>'+
	  		'<hr>'
  		).insertBefore(this);
  		$('#id_subjects-TOTAL_FORMS').val(parseInt($('#id_subjects-TOTAL_FORMS').val())+1);
  		add_autocomplete('#id_subjects-'+ id_subject +'-subject');
  		id_subject++;
  	});
  	
  	$('.subject-credits').live('keyup blur', function(){
  		var id = $(this).attr('id').split('-')[1];
  		var value = parseFloat($(this).val());
  		$('#id_subjects-'+ id +'-price').html(currency_symbol +' '+ (value * credit_value).toFixed(2));
  	});

	var add_autocomplete = function(id){ 
		// handle autocomplete data
		$(id).autocomplete('{% url autocomplete_subjects %}', {
			extraParams: {
				'q': function(){
					return $(id).val();
				}
			},
			formatItem: function(r){
				return r[1];
			},
			parse: function(r){
				var rvData = eval(r);
				var rv = [];
				$.each(rvData, function(index, row){
					rv.push({
						data: row,
						value: row[1],
						result: row[1]
					});
				});
				return rv;
			}	
		}).bind("result", function(data, value){
			// TODO: load info about item via AJAX
			var itemId = value[0];
			var itemTitle = value[1];
			$(this).data('itemId', itemId);
			$(this).data('itemTitle', itemTitle);
			return value[1];
		});
	};     	
  </script>
{% endwith %}
{% endwith %}
{% endwith %}