{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags %}

{% block title %}Edit Profile{% endblock %}
{% block body_class %}app tutor{% endblock %}

{% block extra_css %}

{% endblock %}

{% block content %}
      <section class="blue feature-box"><div class="inner">
        <h1>Profile <span>View and modify your profile details.</span></h1>
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      <dl class="nice contained tabs hide-on-phones">
        <dd><a href="#details" class="active">Details</a></dd>
        <dd><a href="#subjects">Subjects</a></dd>
        <dd><a href="#qualifications">Qualifications</a></dd>
        <dd><a href="#availability">Availability</a></dd>
        <dd><a href="#account">Account</a></dd>
        <dd><a href="#credits">Credits</a></dd>
      </dl>
      
      <dl class="nice contained vertical tabs show-on-phones">
        <dd><a href="#details" class="active">Details</a></dd>
        <dd><a href="#subjects">Subjects</a></dd>
        <dd><a href="#qualifications">Qualifications</a></dd>
        <dd><a href="#availability">Availability</a></dd>
        <dd><a href="#account">Account</a></dd>
        <dd><a href="#credits">Credits</a></dd>
      </dl>
      
      <form id="profile-form" method="post" enctype="multipart/form-data" class="nice custom">
      	{% csrf_token %}
        <ul class="nice tabs-content contained">
			{% include "profile/tutor/edit_profile/_details.html" %}
			{% include "profile/tutor/edit_profile/_subjects.html" %}
			{% include "profile/tutor/edit_profile/_qualifications.html" %}
			{% include "profile/tutor/edit_profile/_availability.html" %}
			{% include "profile/tutor/edit_profile/_account.html" %}          
			{% include "profile/tutor/edit_profile/_credits.html" %}          
        </ul>
        <div class="button"><input type="submit" class="icon thumb-up" value="Save Profile"></div>
      </form>
{% endblock %}
