{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags %}

{% block title %}Profile{% endblock %}
{% block body_class %}app tutor{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/fileuploader.css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/lib/fileuploader.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/availability.js"></script>
	<script type="text/javascript">
		var EDIT_WEEK_PERIOD_URL = '{% url user_edit_week_period %}';
		var DELETE_WEEK_PERIOD_URL = '{% url user_delete_week_period %}';
	
		setInterval(function(){
			$('#new-schedule-container').css('width', '100%');
			var width = $('#new-schedule-container').width();
	  		width = width - (width % 25);
			$('#new-schedule-container, #new-schedule-container .new-schedule-calendar-day').css('width', width+'px');
		}, 200);
	
		setInterval(function(){
			$('#new-class-schedule-container').css('width', '100%');
			var width = $('#new-class-schedule-container').width();
	  		width = width - (width % 25);
			$('#new-class-schedule-container, #new-class-schedule-container .new-schedule-calendar-day').css('width', width+'px');
		}, 200);
	</script>
{% endblock %}

{% block content %}
<style>
  .feature-text .video.button1 {
    width: 10%;
      margin-right: 10%;
      height: 68px;
      padding-bottom: 8px !important;
      float: right;
      margin-top: 7px;
      
    }
.button1 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: url("../images/shared/button.jpg") repeat-x top #a7dc32;
    color: #000;
    font-weight: normal;
    border: 1px solid #70ac29;
    padding: 10px;
  }
  
  .button1:hover {
    color: #000;
    background-position: 0 -93px;
  }
  
  .button1,
  .timer .button1 span,
  .small.button1,
  .large.button1,
  .icon {
    font-size: 23px;
    font-size: 2.3rem;
    font-family: "MyriadProCondensed";
    text-shadow: 0 1px 0 #d0fb82;
    color: #000;
    cursor: pointer;
  }
  
  .large.button1 {
    padding: 10px;
    background: url("../images/shared/button-large.jpg") top repeat-x;
  }
  .large.button1:hover {
    background-position: 0 -174px;
  }
  
  .button1 .icon {
    border: none;
    padding: 0 25px 0 0;
    margin: 0;
    background: none;
  }

  .button1 .rocket { background: url("../images/shared/sprite.png") no-repeat right -39px; }
  
  .button1 .rocketdown { background: url("../images/shared/sprite.png") no-repeat right -66px; }
  
  .button1 .thumb-up { background: url("../images/shared/sprite.png") no-repeat right -413px; }
  
  .button1 .credits { background: url("../images/shared/sprite.png") no-repeat right -501px; }
  
  .button1 .history { background: url("../images/shared/sprite.png") no-repeat right -444px; }
  
  .button1 .search { background: url("../images/shared/sprite.png") no-repeat right -473px; }
  
  .button1 .down { background: url("../images/shared/sprite.png") no-repeat right -91px; }
  
  .large.button1 .rocket { background: url("../images/shared/sprite.png") no-repeat right -38px; }

</style>
      <section class="blue feature-box"><div class="inner">
        <h1>Profile <span>View and modify your profile details.</span></h1>
        {% if user_profile.test_class_minutes %}
	    <div class="feature-black">
	      <div class="feature-text">
	        <h3>You have {{user_profile.test_class_minutes}} minute{{user_profile.test_class_minutes|pluralize}} left in your test class</h3>
	        <!--<a href="{% url tutor_test_class %}" class="video button" style="margin-top: -60px;"><i class="icon-play-circle2 block text-center full-width text-large"></i>Open test class</a>-->
          <a href="{% url tutor_test_class %}" class="video button1" style="margin-top: -60px;"><i class="icon-play-circle2 block text-center full-width text-large"></i>Open test class</a>
	      </div>
	    </div>
	    {% endif %}
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>

      
      <dl class="nice contained tabs hide-on-phones">
        <dd><a href="#details" class="active">Details</a></dd>
        <dd><a href="#subjects">Subjects</a></dd>
        <dd><a href="#qualifications">Qualifications</a></dd>
        <dd><a href="#availability">Availability</a></dd>
        <dd><a href="#classes">Classes</a></dd>
        <dd><a href="#account">Account</a></dd>
        <dd><a href="#credits">Credits</a></dd>
        <dd><a href="#referral">Refer a friend</a></dd>
      </dl>
      
      <dl class="nice contained vertical tabs show-on-phones">
        <dd><a href="#details" class="active">Details</a></dd>
        <dd><a href="#subjects">Subjects</a></dd>
        <dd><a href="#qualifications">Qualifications</a></dd>
        <dd><a href="#availability">Availability</a></dd>
        <dd><a href="#classes">Classes</a></dd>
        <dd><a href="#account">Account</a></dd>
        <dd><a href="#credits">Credits</a></dd>
        <dd><a href="#referral">Refer a friend</a></dd>
     </dl>
      
      <form id="profile-form" method="post" enctype="multipart/form-data" class="nice">
      	{% csrf_token %}
        <ul class="nice tabs-content contained">
			{% include "profile/tutor/edit_profile/_details.html" %}
			{% include "profile/tutor/edit_profile/_subjects.html" %}
			{% include "profile/tutor/edit_profile/_qualifications.html" %}
			{% include "profile/tutor/edit_profile/_availability.html" %}
			{% include "profile/tutor/edit_profile/_classes.html" %}          
			{% include "profile/tutor/edit_profile/_account.html" %}          
			{% include "profile/tutor/edit_profile/_credits.html" %}          
			{% include "profile/fragments/_referral.html" %}
        </ul>
        <div class="button"><input type="submit" class="icon thumb-up" value="Save Profile"></div>
      </form>
      
      {% include "profile/tutor/edit_profile/fragments/_modal_withdraw.html" %}
      {% include "profile/tutor/edit_profile/fragments/_modal_add_availability.html" %}
      {% if is_new %}{% include "profile/tutor/edit_profile/fragments/_modal_next_steps.html" %}{% endif %}
{% endblock %}
