{% load fb_versions common_tags classes_tags %}

<div class="row">
	<div class="three columns">
		<label>Assets</label>
	</div>
	<div class="nine columns">
		{% for item in material %}
		{% if item.allowdownload == '1' %}
			<div class="row">
				&raquo; <a href="{% url class_download class.id %}?id={{item.assetid}}" target="_blank">{{item.clientfilename}} (download)</a>
			</div>
		{% endif %}		
		{% empty %}
			<div class="row">No assets where found to download</div>      		
		{% endfor %}
	</div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
	<div class="three columns">
		<label>Recordings</label>
	</div>
	<div class="nine columns">
		{% for item in recordings %}
			<div class="row">
				&raquo; <a target="_blank" href="{{class|rec_url:item.recid}}" target="_blank">Record {{forloop.counter}} (download)</a>
			</div>
		{% empty %}
			<div class="row">No recordings where found to download</div>      		
		{% endfor %}
	</div>
</div>

