{% load fb_versions common_tags %}

<div class="row">
	<div class="three columns">
		<label>Assets</label>
	</div>
	<div class="nine columns">
		{% for item in material %}
		{% if item.allowdownload == '1' %}
			<div class="row">
				&rsaquo; <a href="{% url class_download class.id %}?id={{item.assetid}}" target="_blank">{{item.clientfilename}}</a>
			</div>
		{% endif %}		
		{% empty %}
			<div class="row">No assets where found to download</div>      		
		{% endfor %}
	</div>
</div>
<div class="row">
	<div class="three columns">
		<label>Recordings</label>
	</div>
	<div class="nine columns">
		{% for item in recordings %}
			<div class="row">
				&rsaquo; <a target="_blank" class="{{class|rec_id:item.recid}}">Record {{forloop.counter}}</a>
			</div>
		{% empty %}
			<div class="row">No recordings where found to download</div>      		
		{% endfor %}
	</div>
</div>

