{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags classes_tags %}

{% block title %}{{class}}{% endblock %}
{% block body_class %}app tutor{% endblock %}

{% block content %}
{% with class.tutor as tutor %}
{% with class.student as student %}
{% with class.date|convert_datetime:user_profile.timezone as date %}

      <section class="blue feature-box"><div class="inner">
        <h1>Class detail <span>Details on a specific class</span></h1>
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      <div class="row">
          <h2>{{class}}</h2>
          <h4>{{class.date|date:"M d, Y \a\t H:i"}} ({{class.duration}} minutes)</h4>
          {% if tutor == user %}
          	{% get_class_messages student tutor class %}
          {% else %}
          	{% get_class_messages tutor student class %}
          {% endif %}
          {% if messages == 0 and sent_messages == 0 %}
          	No messages exchanged
          {% else %}
	          <a href="javascript:;" class="send-message" data-reveal-id="modal-message" onclick="view_modal_messages({% if tutor == user %}{{student.id}}{% else %}{{tutor.id}}{% endif %}, {{class.id}})">
	          	{% if unread_messages %} 
            		{{ unread_messages }} New Message{{ unread_messages|pluralize }}
            	{% else %}
            		View Messages
            	{% endif %}
	          </a>
          {% endif %}
          
      </div>
      
      {% if class.cover %}
      <div class="row">&nbsp;</div>
	  <div class="row">
	  	<h4>Topics to cover</h4>
	  	<p>{{class.cover}}</p>
	  </div>
	  {% endif %}
	  
	  {% if class.cancelation_reason %}
      <div class="row">&nbsp;</div>
	  <div class="row">
	  	<h4>Reason</h4>
	  	<p>{{class.cancelation_reason}}</p>
	  </div>
	  {% endif %}
	  
      <div class="row">&nbsp;</div>
      
      {% if before %}
      <div class="row">Your class room isn't open yet.</div>
      {% endif %}
      
      {% if after %}
		<div class="row"><h4>Class material and recordings</h4></div>
		<div class="row">
			<div class="six columns">
				<table class="stretch">
					<tr>
						<th>Assets</th>
					</tr>
					{% for item in material %}
					{% if item.allowdownload == '1' %}
					<tr>
						<td><a href="{% url class_download class.id %}?id={{item.assetid}}" target="_blank">{{item.clientfilename}}</a></td>
					</tr>
					{% endif %}		
					{% empty %}
					<tr><td>No assets available for this class</td></tr>
					{% endfor %}
				</table>
			</div>
			<div class="six columns">
				<table class="stretch">
					<tr>
						<th>Recordings</th>
					</tr>
					{% for item in recordings %}
					<tr>
						<td><a target="_blank" href="{{class|rec_url:item.recid}}" target="_blank">Record {{forloop.counter}}</a></td>
					</tr>
					{% empty %}
					<tr><td>No recordings available for this class</td></tr>
					{% endfor %}
				</table>
			</div>
		</div>
      {% endif %}

  	{% include 'profile/fragments/_modal_messages.html' %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}
