{% extends "ui/layouts/base.html" %}

{% load fb_versions common_tags tutor_tags %}

{% block title %}{{class}}{% endblock %}
{% block body_class %}app tutor{% endblock %}

{% block content %}
{% with class.tutor as tutor %}
{% with class.student as student %}
{% with class.date|convert_datetime:user_profile.timezone as date %}

      <section class="blue feature-box"><div class="inner">
        <h1>Class detail <span>Details on a specific class</span></h1>
      </div></section>
      
      <div class="hide-on-phones">
      {% include 'profile/fragments/_timer.html' %}
      </div>
      
      <div class="row">
          <h2>{{class}}</h2>
          <h4>{{class.date|date:"M d, Y"}} - from {{class.start|time:"H:i"}} to {{class.end|time:"H:i"}}</h4>
          {% if tutor == user %}
          	{% get_class_messages student tutor class %}
          {% else %}
          	{% get_class_messages tutor student class %}
          {% endif %}
          {% if messages == 0 and sent_messages == 0 %}
          	No messages exchanged
          {% else %}
	          <a href="javascript:;" class="send-message" data-reveal-id="modal-message" onclick="view_modal_messages({% if tutor == user %}{{student.id}}{% else %}{{tutor.id}}{% endif %}, {{class.id}})">
	          	{% if unread_messages %} 
            		{{ unread_messages }} New Message{{ unread_messages|pluralize }}
            	{% else %}
            		View Messages
            	{% endif %}
	          </a>
          {% endif %}
          
      </div>
      
      <div class="row">&nbsp;</div>
      
      {% if before %}
      <div class="row">Your class room isn't open yet.</div>
      {% endif %}
      
      {% if after %}
      <div class="row"><strong>Class Material</strong></div>      
      	{% for item in material %}
      	{% if item.allowdownload == '1' %}
      		<div class="row">&rsaquo; <a href="{% url class_download class.id %}?id={{item.assetid}}" target="_blank">{{item.clientfilename}}</a></div>
      	{% endif %}
      	{% empty %}
      		<div class="row">No material found to download</div>      		
      	{% endfor %}
      {% endif %}

  	{% include 'profile/fragments/_modal_messages.html' %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}
