{% load common_tags tutor_tags %}

{% with period.tutor as tutor %}
<div id="schedule-week-period_{{period.id}}" class="slider-box" style="{{begin|get_class_period_calendar_size:period.duration}}"></div>
<script type="text/javascript">
	$('#schedule-week-period_{{period.id}}').live('click mouseenter', function() {
		$('.slider-tooltip').addClass('hidden');
		$('#schedule-week-{{weekday}}-tooltip-subject').html('<strong>Subject: </strong><a href="{% url class_detail period.id %}">{{period.subject}}</a>');
		$('#schedule-week-{{weekday}}-tooltip-person').html('<strong>Student: </strong><a href="{% url profile tutor.username %}">{{tutor.get_full_name}}</a>');
		$('#schedule-week-{{weekday}}-tooltip-status').html('<strong>Status: </strong>{{period.get_status_display}}');

		var self_id = $(this).attr('id');
		$('#schedule-week-{{weekday}}-tooltip').css({'left': $('#'+self_id).position().left+17+'px', 'top': '47px'});
		$('#schedule-week-{{weekday}}-tooltip').removeClass('hidden');
	});
</script>
{% endwith %}
